<div class="resourcePoolEditor">
    <div class="row">
        <div class="col-md-12">
            <div class="header">
                <span class="title">
                    {{ resourcePool.Name }}
                </span>
                &nbsp;
                Display: <a href="" data-ng-click="resourcePool.currentElement.toggleValueFilter()">{{ resourcePool.currentElement.valueFilterText() }}</a>
            </div>
            <div>
                <ol class="breadcrumb" data-ng-if="resourcePool.ElementSet.length > 1">
                    <li data-ng-repeat="parent in resourcePool.currentElement.parents()" data-ng-class="{ active: $last }">
                        <a href="#" data-ng-if="!$last" data-ng-click="changeCurrentElement(parent)">
                            {{ parent.Name }}
                        </a>
                        <span data-ng-if="$last">
                            {{ parent.Name }}
                        </span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <highchart data-config="chartConfig"></highchart>
        </div>
        <div class="col-md-8">
            <table class="resourcePoolTable table-striped">
                <thead>
                    <tr>
                        <!-- Fields -->
                        <th data-ng-repeat="field in resourcePool.currentElement.ElementFieldSet | orderBy: 'SortOrder'">
                            <table class="resourcePoolFieldsTable">
                                <thead>
                                    <tr>
                                        <!-- Values -->
                                        <th>
                                            <span data-ng-if="field.ElementFieldType !== 6">
                                                {{ field.Name }}
                                            </span>
                                            <span data-ng-if="field.ElementFieldType === 6">
                                                <a href="" data-ng-click="changeCurrentElement(field.SelectedElement)">{{ field.Name }}</a>
                                            </span>
                                        </th>
                                        <!-- ResourcePool -->
                                        <th data-ng-if="resourcePool.EnableResourcePoolAddition && field.ElementFieldType === 11">
                                            CMRP Rate<br />
                                            {{ resourcePool.resourcePoolRatePercentage() | percentage: 2}}
                                        </th>
                                        <th data-ng-if="resourcePool.EnableResourcePoolAddition && field.ElementFieldType === 11">
                                            {{ field.Name }}<br />
                                            incl. CMRP
                                        </th>
                                        <!-- Multiplier -->
                                        <th data-ng-if="resourcePool.EnableResourcePoolAddition && field.ElementFieldType === 12 && resourcePool.currentElement.resourcePoolField()">
                                            Tot. {{ resourcePool.currentElement.resourcePoolField().Name }}
                                            <br />incl. CMRP
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </th>
                        <!-- ResourcePoolValue Income -->
                        <th data-ng-if="resourcePool.currentElement.resourcePoolField() && resourcePool.currentElement.elementFieldIndexSet().length > 0">
                            {{ resourcePool.currentElement.resourcePoolField().Name }} Income
                        </th>
                        <!-- Index Details & Index Income -->
                        <th data-ng-if="displayIndexDetails" data-ng-repeat="index in resourcePool.currentElement.elementFieldIndexSet() | orderBy: 'ElementField.SortOrder'">
                            {{ index.Name }} Income
                        </th>
                        <th data-ng-if="resourcePool.currentElement.resourcePoolField() && resourcePool.currentElement.elementFieldIndexSet().length > 0">
                            <!-- Display 'Indexes' view link only if there are more than one index -->
                            <a href="" data-ng-if="resourcePool.currentElement.elementFieldIndexSet().length > 1" data-ng-click="toggleIndexDetails()">Indexes Income</a>
                            <!-- If there is only one index, then use that index's name -->
                            <span data-ng-if="resourcePool.currentElement.elementFieldIndexSet().length === 1">{{ resourcePool.currentElement.elementFieldIndexSet()[0].Name }} Income</span>
                        </th>
                        <!-- Total Income -->
                        <th data-ng-if="resourcePool.currentElement.resourcePoolField()">
                            Total Income
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="elementItem in resourcePool.currentElement.ElementItemSet">
                        <!-- Cells -->
                        <td data-ng-repeat="elementCell in elementItem.ElementCellSet | orderBy: 'ElementField.SortOrder'">
                            <table class="resourcePoolFieldsTable">
                                <tbody>
                                    <tr>
                                        <!-- Values -->
                                        <td>
                                            <span data-ng-if="elementCell.ElementField.ElementFieldType === 1" data-ng-bind-html="elementCell.StringValue">
                                            </span>
                                            <span data-ng-if="elementCell.ElementField.ElementFieldType === 2">
                                                {{ elementCell.BooleanValue }}
                                            </span>
                                            <span data-ng-if="elementCell.ElementField.ElementFieldType === 3">
                                                {{ elementCell.IntegerValue }}
                                            </span>
                                            <span data-ng-if="elementCell.ElementField.ElementFieldType === 4 && elementCell.ElementField.UseFixedValue">
                                                {{ elementCell.DecimalValue | number: 2 }}
                                            </span>
                                            <div data-ng-if="elementCell.ElementField.ElementFieldType === 4 && !elementCell.ElementField.UseFixedValue">
                                                <span class="ratingValue">
                                                    {{ elementCell.rating() | number: 2 }}
                                                </span>
                                                <div class="btn-group" role="group" data-ng-if="elementCell.ElementField.ElementFieldIndexSet.length > 0">
                                                    <button type="button" data-ng-click="increaseCellIndexRating(elementCell)" title="+ 10" class="btn btn-default btn-xs">+</button>
                                                    <button type="button" data-ng-click="decreaseCellIndexRating(elementCell)" title="- 10" class="btn btn-default btn-xs">-</button>
                                                </div>
                                            </div>
                                            <span data-ng-if="elementCell.ElementField.ElementFieldType === 5">
                                                {{ elementCell.DateTimeValue }}
                                            </span>
                                            <span data-ng-if="elementCell.ElementField.ElementFieldType === 6">
                                                {{ elementCell.SelectedElementItem.Name }}
                                            </span>
                                            <span data-ng-if="elementCell.ElementField.ElementFieldType === 11">
                                                {{ elementItem.resourcePoolValue() | number: 2 }}
                                            </span>
                                            <span data-ng-if="elementCell.ElementField.ElementFieldType === 12">
                                                {{ elementItem.multiplierValue() | number: 2 }}
                                            </span>
                                        </td>
                                        <!-- ResourcePool -->
                                        <td data-ng-if="resourcePool.EnableResourcePoolAddition && elementCell.ElementField.ElementFieldType === 11">
                                            {{ elementItem.resourcePoolAddition() | number: 2 }}
                                        </td>
                                        <td data-ng-if="resourcePool.EnableResourcePoolAddition && elementCell.ElementField.ElementFieldType === 11">
                                            {{ elementItem.resourcePoolValueIncludingAddition() | number: 2 }}
                                        </td>
                                        <!-- Multiplier -->
                                        <td data-ng-if="resourcePool.EnableResourcePoolAddition && elementCell.ElementField.ElementFieldType === 12 && elementItem.resourcePoolCell()">
                                            {{ elementItem.resourcePoolValueIncludingAdditionMultiplied() | number: 2 }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <!-- ResourcePoolValue Income -->
                        <td data-ng-if="resourcePool.currentElement.resourcePoolField() && resourcePool.currentElement.elementFieldIndexSet().length > 0">
                            {{ elementItem.resourcePoolValueMultiplied() | number: 2 }}
                        </td>
                        <!-- Index Details & Index Income -->
                        <td data-ng-if="displayIndexDetails" data-ng-repeat="cellIndex in elementItem.elementCellIndexSet() | orderBy: 'ElementField.SortOrder'">
                            {{ cellIndex.indexIncome() | number: 2 }}
                        </td>
                        <td data-ng-if="resourcePool.currentElement.resourcePoolField() && resourcePool.currentElement.elementFieldIndexSet().length > 0">
                            {{ elementItem.indexIncome() | number: 2 }}
                        </td>
                        <!-- Total Income -->
                        <td data-ng-if="resourcePool.currentElement.resourcePoolField()">
                            {{ elementItem.totalIncome() | number: 2 }}
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr data-ng-if="resourcePool.EnableSubtotals">
                        <!-- Fields -->
                        <td data-ng-repeat="field in resourcePool.currentElement.ElementFieldSet | orderBy: 'SortOrder'">
                            <table class="resourcePoolFieldsTable">
                                <tfoot>
                                    <tr>
                                        <!-- Values -->
                                        <td>
                                            <span data-ng-if="field.ElementFieldType === 11">
                                                {{ resourcePool.currentElement.resourcePoolValue() | number: 2 }}
                                            </span>
                                            <span data-ng-if="field.ElementFieldType === 12">
                                                {{ resourcePool.currentElement.multiplierValue() | number: 2 }}
                                            </span>
                                        </td>
                                        <!-- ResourcePool -->
                                        <td data-ng-if="resourcePool.EnableResourcePoolAddition && field.ElementFieldType === 11">
                                            <!--{{ resourcePool.currentElement.resourcePoolAddition() | number: 2 }}-->
                                        </td>
                                        <td data-ng-if="resourcePool.EnableResourcePoolAddition && field.ElementFieldType === 11">
                                            {{ resourcePool.currentElement.resourcePoolValueIncludingAddition() | number: 2 }}
                                        </td>
                                        <!-- Multiplier -->
                                        <td data-ng-if="resourcePool.EnableResourcePoolAddition && field.ElementFieldType === 12 && resourcePool.currentElement.resourcePoolField()">
                                            {{ resourcePool.currentElement.resourcePoolValueIncludingAdditionMultiplied() | number: 2 }}
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </td>
                        <!-- ResourcePoolValue Income -->
                        <td data-ng-if="resourcePool.currentElement.resourcePoolField() && resourcePool.currentElement.elementFieldIndexSet().length > 0">
                            {{ resourcePool.currentElement.resourcePoolValueMultiplied() | number: 2 }}
                        </td>
                        <!-- Index Details & Index Income -->
                        <td data-ng-if="displayIndexDetails" data-ng-repeat="index in resourcePool.currentElement.elementFieldIndexSet() | orderBy: 'ElementField.SortOrder'">
                            {{ index.indexIncome() | number: 2 }}
                        </td>
                        <td data-ng-if="resourcePool.currentElement.resourcePoolField() && resourcePool.currentElement.elementFieldIndexSet().length > 0">
                            {{ resourcePool.currentElement.indexIncome() | number: 2 }}
                        </td>
                        <!-- Total Income -->
                        <td data-ng-if="resourcePool.currentElement.resourcePoolField()">
                            {{ resourcePool.currentElement.totalIncome() | number: 2 }}
                        </td>
                    </tr>
                    <!-- Multiplier functions -->
                    <tr>
                        <!-- Fields -->
                        <td data-ng-repeat="field in resourcePool.currentElement.ElementFieldSet | orderBy: 'SortOrder'">
                            <table class="resourcePoolFieldsTable">
                                <tfoot>
                                    <tr>
                                        <td>
                                            <div data-ng-if="field.ElementFieldType !== 12">
                                                &nbsp;
                                            </div>
                                            <div data-ng-if="field.ElementFieldType === 12">
                                                <div class="btn-group" role="group">
                                                    <button title="Increase {{ resourcePool.currentElement.multiplierField().Name }}" type="button" data-ng-click="increaseElementMultiplier(resourcePool.currentElement)" class="btn btn-default btn-xs">+</button>
                                                    <button title="Decrease {{ resourcePool.currentElement.multiplierField().Name }}" type="button" data-ng-click="decreaseElementMultiplier(resourcePool.currentElement)" class="btn btn-default btn-xs">-</button>
                                                    <button title="Reset {{ resourcePool.currentElement.multiplierField().Name }}" type="button" data-ng-click="resetElementMultiplier(resourcePool.currentElement)" class="btn btn-default btn-xs">0</button>
                                                </div>
                                            </div>
                                        </td>
                                        <!-- ResourcePool -->
                                        <td data-ng-if="resourcePool.EnableResourcePoolAddition && field.ElementFieldType === 11">
                                            <div class="btn-group" role="group">
                                                <button title="Increase CMRP Rate" type="button" data-ng-click="increaseResourcePoolRate()" class="btn btn-default btn-xs">+</button>
                                                <button title="Decrease CMRP Rate" type="button" data-ng-click="decreaseResourcePoolRate()" class="btn btn-default btn-xs">-</button>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </td>
                        <!-- ResourcePoolValue Income -->
                        <td data-ng-if="resourcePool.currentElement.resourcePoolField() && resourcePool.currentElement.elementFieldIndexSet().length > 0">
                            &nbsp;
                        </td>
                        <!-- Index Details & Index Income -->
                        <td data-ng-if="displayIndexDetails && resourcePool.currentElement.elementFieldIndexSet().length > 1" data-ng-repeat="index in resourcePool.currentElement.elementFieldIndexSet() | orderBy: 'ElementField.SortOrder'">
                            <div class="btn-group" role="group">
                                <button title="Increase {{ index.Name }}" type="button" data-ng-click="increaseIndexRating(index)" class="btn btn-default btn-xs">+</button>
                                <button title="Decrease {{ index.Name }}" type="button" data-ng-click="decreaseIndexRating(index)" class="btn btn-default btn-xs">-</button>
                            </div>
                        </td>
                        <td data-ng-if="resourcePool.currentElement.resourcePoolField() && resourcePool.currentElement.elementFieldIndexSet().length > 0">
                            &nbsp;
                        </td>
                        <!-- Total Income -->
                        <td data-ng-if="resourcePool.currentElement.resourcePoolField()">
                            &nbsp;
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>