.resourcePoolEditor {
    font-family: Tahoma;
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
    font-size: 10px;
    padding: 1.5em 0;
}

    .resourcePoolEditor .header {
        padding-bottom: 1.5em;
    }

        .resourcePoolEditor .header > .title {
            font-size: 1.5em;
        }

.resourcePoolTable {
    /*table-layout: fixed;*/
}

    .resourcePoolTable > thead > tr > th,
    .resourcePoolTable .resourcePoolInnerTable > thead > tr > th {
        vertical-align: top;
    }

    .resourcePoolTable > thead > tr > th,
    .resourcePoolTable > thead > tr > td,
    .resourcePoolTable > tbody > tr > td,
    .resourcePoolTable > tfoot > tr > td,
    .resourcePoolTable .resourcePoolInnerTable > thead > tr > th,
    .resourcePoolTable .resourcePoolInnerTable > thead > tr > td,
    .resourcePoolTable .resourcePoolInnerTable > tbody > tr > td,
    .resourcePoolTable .resourcePoolInnerTable > tfoot > tr > td {
        min-width: 80px;
        overflow: hidden; /* Hide text outside the cell */
        padding: 2px;
    }

    .resourcePoolTable .resourcePoolInnerTable {
        /*background-color: green;*/
    }

        .resourcePoolTable .resourcePoolInnerTable .fixedWidth35Cell {
            display: inline-block;
            width: 35px;
        }

        .resourcePoolTable .resourcePoolInnerTable .fixedWidth45Cell {
            display: inline-block;
            width: 45px;
        }

    .resourcePoolTable .incomeStatusLow {
        color: #F34146;
    }

    .resourcePoolTable .incomeStatusAverage {
        /* color: ? */
    }

    .resourcePoolTable .incomeStatusHigh {
        color: #81C14F;
    }
