.resourcePoolEditor {
    font-family: Tahoma;
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
    font-size: 10px;
    padding: 1.5em 0;
}

.resourcePoolTable {
    /*table-layout: fixed;*/
}

    .resourcePoolTable > thead > tr > th {
        vertical-align: top;
    }

    .resourcePoolTable > thead > tr > th,
    .resourcePoolTable > thead > tr > td,
    .resourcePoolTable > tbody > tr > td,
    .resourcePoolTable > tfoot > tr > td {
        min-width: 85px;
        overflow: hidden; /* Hide text outside the cell */
        padding: 3px;
    }

    .resourcePoolTable .fixedWidth35Cell {
        display: inline-block;
        width: 35px;
    }

    .resourcePoolTable .fixedWidth45Cell {
        display: inline-block;
        width: 45px;
    }

    .resourcePoolTable .infoText {
        margin-left: 2px;
    }

    .resourcePoolTable .incomeStatusLow {
        color: #F34146;
    }

    .resourcePoolTable .incomeStatusAverage {
        /* color: ? */
    }

    .resourcePoolTable .incomeStatusHigh {
        color: #81C14F;
    }

.label-as-on-badge {
    border-radius: 1em;
    background-color: #5cb85c;
    cursor: pointer;
    margin-left: 5px;
}

.label-as-off-badge {
    border-radius: 1em;
    background-color: #d9534f;
    cursor: pointer;
    margin-left: 5px;
}
