<div class="resourcePoolEditor">
    <div class="panel panel-default">
        <div class="panel-heading">
            <p data-ng-if="errorMessage.length > 0">
                <span class="label label-warning">{{ errorMessage }}</span>
            </p>
            <h3 class="panel-title">
                {{ resourcePool.Name }}
                <span data-ng-if="resourcePool.displayRatingMode()" data-tooltip="Number of Ratings: Toggle to display the results with only your ratings or all users'" data-ng-click="resourcePool.toggleRatingMode()" class="label" data-ng-class="{ 'label-as-off-badge': resourcePool.RatingMode === 1, 'label-as-on-badge': resourcePool.RatingMode === 2 }">{{ resourcePool.RatingCount }}</span>
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb" data-ng-if="resourcePool.ElementSet.length > 1">
                        <li data-ng-repeat="element in resourcePool.CurrentElement.familyTree()" data-ng-class="{ active: $last }">
                            <a href="#" data-tooltip="Switch to {{ element.Name }} view" data-ng-if="!$last" data-ng-click="changeCurrentElement(element)">
                                {{ element.Name }}
                            </a>
                            <span data-ng-if="$last">
                                {{ element.Name }}
                            </span>
                        </li>
                    </ol>
                </div>
                <div class="col-md-12" data-ng-if="resourcePool.CurrentElement.ElementItemSet.length <= 20">
                    <highchart data-config="chartConfig" class=""></highchart>
                </div>
                <div class="col-md-12">
                    <table class="resourcePoolTable table-striped" border="0">
                        <thead>
                            <tr data-ng-if="resourcePool.CurrentElement.directIncomeField() && resourcePool.CurrentElement.elementFieldIndexSet().length > 0">
                                <th>
                                    CMRP Rate
                                </th>
                                <td colspan="2">
                                    <span class="fixedWidth45Cell">
                                        {{ resourcePool.resourcePoolRatePercentage() | percentage: 2 }}
                                    </span>
                                    <div data-ng-if="!resourcePool.UseFixedResourcePoolRate" class="btn-group" role="group">
                                        <button data-tooltip="Increase CMRP Rate" data-tooltip-append-to-body="true" type="button" data-ng-click="increaseResourcePoolRate()" data-ng-disabled="isSaving" class="btn btn-default btn-xs">+</button>
                                        <button data-tooltip="Decrease CMRP Rate" data-tooltip-append-to-body="true" type="button" data-ng-click="decreaseResourcePoolRate()" data-ng-disabled="isSaving" class="btn btn-default btn-xs">-</button>
                                        <button data-tooltip="Reset CMRP Rate" data-tooltip-append-to-body="true" type="button" data-ng-click="resetResourcePoolRate()" data-ng-disabled="isSaving" class="btn btn-default btn-xs">0</button>
                                    </div>
                                </td>
                            </tr>
                            <tr data-ng-if="resourcePool.InitialValue > 0 || (resourcePool.CurrentElement.directIncomeField() && resourcePool.CurrentElement.elementFieldIndexSet().length > 0)">
                                <th>
                                    CMRP Amount
                                </th>
                                <td>
                                    {{ resourcePool.CurrentElement.totalResourcePoolAmount() | number: 2 }}
                                </td>
                            </tr>
                            <tr>
                                <!-- Fields -->
                                <th data-ng-repeat="field in resourcePool.CurrentElement.ElementFieldSet | orderBy: 'SortOrder'">
                                    <div data-ng-if="field.ElementFieldType !== 6">
                                        {{ field.Name }}<span data-ng-if="field.IndexEnabled" data-tooltip="Index" class="infoText">(I)</span>
                                    </div>
                                    <span data-ng-if="field.ElementFieldType === 6">
                                        <a href="" data-tooltip="Switch to {{ field.Name }} view" data-ng-click="changeCurrentElement(field.SelectedElement)">{{ field.Name }}</a>
                                    </span>
                                </th>
                                <!-- Direct Income -->
                                <th data-ng-if="resourcePool.CurrentElement.directIncomeField() && resourcePool.CurrentElement.elementFieldIndexSet().length > 0">
                                    {{ resourcePool.CurrentElement.directIncomeField().Name }} Income
                                </th>
                                <!-- CMRP Income & Details -->
                                <th data-ng-if="displayIndexDetails" data-ng-repeat="field in resourcePool.CurrentElement.elementFieldIndexSet()">
                                    {{ field.Name }} (I) Income
                                </th>
                                <th data-ng-if="resourcePool.CurrentElement.directIncomeField() && resourcePool.CurrentElement.elementFieldIndexSet().length > 0">
                                    <!-- Display 'CMRP Income' view link only if there are more than one index -->
                                    <a href="" data-tooltip="Toggle between 'Indexes' & 'Elements' views" data-ng-if="resourcePool.CurrentElement.elementFieldIndexSet().length > 1" data-ng-click="toggleIndexDetails()">CMRP Income</a>
                                    <!-- If there is only one index, then use that index's name -->
                                    <span data-ng-if="resourcePool.CurrentElement.elementFieldIndexSet().length === 1">{{ resourcePool.CurrentElement.elementFieldIndexSet()[0].Name }} (I) Income</span>
                                </th>
                                <!-- Total Income -->
                                <th data-ng-if="resourcePool.InitialValue > 0 || resourcePool.CurrentElement.directIncomeField()">
                                    Total Income
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="elementItem in resourcePool.CurrentElement.ElementItemSet | orderBy: 'Name'">
                                <!-- Cells -->
                                <td data-ng-repeat="elementCell in elementItem.ElementCellSet | orderBy: 'ElementField.SortOrder'">
                                    <span data-ng-if="elementCell.ElementField.ElementFieldType === 1" data-ng-bind-html="elementCell.StringValue"></span>
                                    <div data-ng-if="elementCell.ElementField.ElementFieldType === 2
                                        || elementCell.ElementField.ElementFieldType === 3
                                        || elementCell.ElementField.ElementFieldType === 4
                                        || elementCell.ElementField.ElementFieldType === 5">
                                        <span data-ng-class="{ 'fixedWidth35Cell': !elementCell.ElementField.UseFixedValue }">
                                            {{ elementCell.numericValue() | number: 2 }}
                                        </span>
                                        <div class="btn-group" role="group" data-ng-if="!elementCell.ElementField.UseFixedValue && elementCell.ElementField.IndexEnabled">
                                            <button data-tooltip="Increase" data-tooltip-append-to-body="true" type="button" data-ng-click="increaseElementCellNumericValue(elementCell)" data-ng-disabled="isSaving" class="btn btn-default btn-xs">+</button>
                                            <button data-tooltip="Decrease" data-tooltip-append-to-body="true" type="button" data-ng-click="decreaseElementCellNumericValue(elementCell)" data-ng-disabled="isSaving" class="btn btn-default btn-xs">-</button>
                                            <button data-tooltip="Reset" data-tooltip-append-to-body="true" type="button" data-ng-click="resetElementCellNumericValue(elementCell)" data-ng-disabled="isSaving" class="btn btn-default btn-xs hide">0</button>
                                        </div>
                                    </div>
                                    <span data-ng-if="elementCell.ElementField.ElementFieldType === 6">
                                        {{ elementCell.SelectedElementItem.Name }}
                                    </span>
                                    <span data-ng-if="elementCell.ElementField.ElementFieldType === 11">
                                        {{ elementItem.directIncome() | number: 2 }}
                                    </span>
                                    <span data-ng-if="elementCell.ElementField.ElementFieldType === 12">
                                        {{ elementItem.multiplier() | number: 2 }}
                                    </span>
                                </td>
                                <!-- Direct Income -->
                                <td data-ng-if="resourcePool.CurrentElement.directIncomeField() && resourcePool.CurrentElement.elementFieldIndexSet().length > 0">
                                    {{ elementItem.totalDirectIncome() | number: 2 }}
                                </td>
                                <!-- CMRP Income & Details -->
                                <td data-ng-if="displayIndexDetails" data-ng-repeat="cellIndex in elementItem.elementCellIndexSet()">
                                    {{ cellIndex.indexIncome() | number: 2 }}
                                </td>
                                <td data-ng-if="resourcePool.CurrentElement.directIncomeField() && resourcePool.CurrentElement.elementFieldIndexSet().length > 0">
                                    {{ elementItem.totalResourcePoolIncome() | number: 2 }}
                                </td>
                                <!-- Total Income -->
                                <td data-ng-if="resourcePool.InitialValue > 0 || resourcePool.CurrentElement.directIncomeField()" data-ng-class="{ 'incomeStatusLow': elementItem.incomeStatus() === 'low', 'incomeStatusHigh': elementItem.incomeStatus() === 'high' }">
                                    {{ elementItem.totalIncome() | number: 2 }}
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr data-ng-if="resourcePool.CurrentElement.ElementItemSet.length > 1">
                                <!-- Fields -->
                                <td data-ng-repeat="field in resourcePool.CurrentElement.ElementFieldSet | orderBy: 'SortOrder'">
                                    <span data-ng-if="field.ElementFieldType === 11">
                                        {{ resourcePool.CurrentElement.directIncome() | number: 2 }}
                                    </span>
                                    <span data-ng-if="field.ElementFieldType === 12">
                                        {{ resourcePool.CurrentElement.multiplier() | number: 2 }}
                                    </span>
                                </td>
                                <!-- Direct Income -->
                                <td data-ng-if="resourcePool.CurrentElement.directIncomeField() && resourcePool.CurrentElement.elementFieldIndexSet().length > 0">
                                    {{ resourcePool.CurrentElement.totalDirectIncome() | number: 2 }}
                                </td>
                                <!-- CMRP Income & Details -->
                                <td data-ng-if="displayIndexDetails" data-ng-repeat="field in resourcePool.CurrentElement.elementFieldIndexSet()">
                                    {{ field.indexIncome() | number: 2 }}
                                </td>
                                <td data-ng-if="resourcePool.CurrentElement.directIncomeField() && resourcePool.CurrentElement.elementFieldIndexSet().length > 0">
                                    {{ resourcePool.CurrentElement.totalResourcePoolAmount() | number: 2 }} <!-- Same as income -->
                                </td>
                                <!-- Total Income -->
                                <td data-ng-if="resourcePool.InitialValue > 0 || resourcePool.CurrentElement.directIncomeField()">
                                    {{ resourcePool.CurrentElement.totalIncome() | number: 2 }}
                                </td>
                            </tr>
                            <!-- Functions -->
                            <tr>
                                <!-- Fields -->
                                <td data-ng-repeat="field in resourcePool.CurrentElement.ElementFieldSet | orderBy: 'SortOrder'">
                                    <div data-ng-if="field.ElementFieldType !== 12">
                                        &nbsp;
                                    </div>
                                    <div data-ng-if="field.ElementFieldType === 12">
                                        <div class="btn-group" role="group">
                                            <button data-tooltip="Increase {{ resourcePool.CurrentElement.multiplierField().Name }}" data-tooltip-append-to-body="true" data-ng-disabled="isSaving" data-ng-click="increaseElementMultiplier(resourcePool.CurrentElement)" class="btn btn-default btn-xs">+</button>
                                            <button data-tooltip="Decrease {{ resourcePool.CurrentElement.multiplierField().Name }}" data-tooltip-append-to-body="true" type="button" data-ng-disabled="isSaving" data-ng-click="decreaseElementMultiplier(resourcePool.CurrentElement)" class="btn btn-default btn-xs">-</button>
                                            <button data-tooltip="Reset {{ resourcePool.CurrentElement.multiplierField().Name }}" tooltip-append-to-body="true" type="button" data-ng-disabled="isSaving" data-ng-click="resetElementMultiplier(resourcePool.CurrentElement)" class="btn btn-default btn-xs">0</button>
                                        </div>
                                    </div>
                                </td>
                                <!-- Direct Income -->
                                <td data-ng-if="resourcePool.CurrentElement.directIncomeField() && resourcePool.CurrentElement.elementFieldIndexSet().length > 0">
                                    &nbsp;
                                </td>
                                <!-- CMRP Income & Details -->
                                <td data-ng-if="displayIndexDetails && resourcePool.CurrentElement.elementFieldIndexSet().length > 1" data-ng-repeat="field in resourcePool.CurrentElement.elementFieldIndexSet()">
                                    <div class="btn-group" role="group">
                                        <button data-tooltip="Increase {{ field.Name }}" data-tooltip-append-to-body="true" type="button" data-ng-click="increaseIndexRating(field)" data-ng-disabled="isSaving" class="btn btn-default btn-xs">+</button>
                                        <button data-tooltip="Decrease {{ field.Name }}" data-tooltip-append-to-body="true" type="button" data-ng-click="decreaseIndexRating(field)" data-ng-disabled="isSaving" class="btn btn-default btn-xs">-</button>
                                        <button data-tooltip="Reset {{ field.Name }}" data-tooltip-append-to-body="true" type="button" data-ng-click="resetIndexRating(field)" data-ng-disabled="isSaving" class="btn btn-default btn-xs">0</button>
                                    </div>
                                </td>
                                <td data-ng-if="resourcePool.CurrentElement.directIncomeField() && resourcePool.CurrentElement.elementFieldIndexSet().length > 0">
                                    &nbsp;
                                </td>
                                <!-- Total Income -->
                                <td data-ng-if="resourcePool.InitialValue > 0 || resourcePool.CurrentElement.directIncomeField()">
                                    &nbsp;
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
