.resourcePoolEditor {
    font-family: Tahoma;
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
    font-size: 10px;
    padding: 1.5em 0;
}

    .resourcePoolEditor .resourcePoolFilter {
        margin-top: 1em;
        height: 1em;
    }

.resourcePoolTable {
    /*table-layout: fixed;*/
}

    .resourcePoolTable > thead > tr > th {
        vertical-align: top;
    }

    .resourcePoolTable > thead > tr > th,
    .resourcePoolTable > thead > tr > td,
    .resourcePoolTable > tbody > tr > td,
    .resourcePoolTable > tfoot > tr > td {
        min-width: 85px;
        overflow: hidden; /* Hide text outside the cell */
        padding: 3px;
    }

    .resourcePoolTable .fixedWidth35Cell {
        display: inline-block;
        width: 35px;
    }

    .resourcePoolTable .fixedWidth45Cell {
        display: inline-block;
        width: 45px;
    }

    .resourcePoolTable .indexInfo {
        margin-left: 2px;
    }

    .resourcePoolTable .incomeStatusLow {
        color: #F34146;
    }

    .resourcePoolTable .incomeStatusAverage {
        /* color: ? */
    }

    .resourcePoolTable .incomeStatusHigh {
        color: #81C14F;
    }
