<script src="Scripts/app/services/generated/userresourcepoolorganizationService.js"></script>
<script src="Scripts/app/services/generated/userService.js"></script>
<script src="Scripts/app/services/generated/resourcepoolorganizationService.js"></script>
<script src="Scripts/app/controllers/userresourcepoolorganizationListController.js"></script>
<script src="Scripts/app/controllers/userresourcepoolorganizationEditController.js"></script>
<div data-ng-view></div>
