<script src="Scripts/app/services/userresourcepoolorganizationService.js"></script>
<script src="Scripts/app/services/userService.js"></script>
<script src="Scripts/app/services/resourcepoolorganizationService.js"></script>
<script src="Scripts/app/controllers/userresourcepoolorganizationListController.js"></script>
<script src="Scripts/app/controllers/userresourcepoolorganizationEditController.js"></script>
<div data-ng-view></div>
