<table class="resourcePoolTable table-striped">
    <thead>
        <tr>
            <!-- Fields -->
            <th data-ng-repeat="field in element.ElementFieldSet">
                <table class="resourcePoolFieldsTable">
                    <thead>
                        <tr>
                            <th>
                                <span data-ng-if="field.ElementFieldType !== 6">
                                    {{ field.Name }}
                                </span>
                                <span data-ng-if="field.ElementFieldType === 6">
                                    <a href="" data-ng-click="field.setCurrentElement()">{{ field.Name }}</a>
                                </span>
                                <!-- Indexes -->
                                <table class="fieldIndexTable" data-ng-repeat="index in field.ElementFieldIndexSet">
                                    <colgroup>
                                        <!--<col class="valueMultipliedField" />-->
                                        <col class="valuePercentageField" />
                                        <col class="indexIncomeField" data-ng-if="field.ElementFieldType === 11" />
                                        <col class="indexFunctionsField" />
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th colspan="3" data-ng-if="field.ElementFieldIndexSet.length > 0">
                                                {{ field.ElementFieldIndexSet[0].Name }}
                                            </th>
                                        </tr>
                                        <tr>
                                            <!--<th>
                                                Value Mult.
                                            </th>-->
                                            <th>
                                                %
                                            </th>
                                            <th data-ng-if="field.ElementFieldType === 11">
                                                Income
                                            </th>
                                            <th>
                                                &nbsp;
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                            </th>
                            <!-- ResourcePool -->
                            <!-- TODO Single container for these fields? -->
                            <th data-ng-if="resourcePool.EnableResourcePoolAddition && field.ElementFieldType === 11">
                                CMRP Add.<br />
                                Rate {{ resourcePool.ResourcePoolRatePercentage | percentage: 2 }}<br />
                                # of ratings {{ resourcePool.UserResourcePoolRatingCount }}
                                <!-- ResourcePool functions -->
                                <div data-ng-if="field.ElementFieldType === 11">
                                    <div class="clearfix"></div>
                                    <div class="btn-group" role="group">
                                        <button title="Increase CMRP Rate %5" type="button" data-ng-click="resourcePool.updateResourcePoolRate((resourcePool.ResourcePoolRatePercentage * 100) + 5)" class="btn btn-default btn-xs">+</button>
                                        <button title="Decrease CMRP Rate %5" type="button" data-ng-click="resourcePool.updateResourcePoolRate((resourcePool.ResourcePoolRatePercentage * 100) - 5)" class="btn btn-default btn-xs">-</button>
                                        <button title="Reset CMRP Rate" type="button" data-ng-click="resourcePool.updateResourcePoolRate(0)" class="btn btn-default btn-xs">0</button>
                                    </div>
                                </div>
                            </th>
                            <th data-ng-if="resourcePool.EnableResourcePoolAddition && field.ElementFieldType === 11">
                                {{ field.Name }}<br />
                                incl. CMRP Add.
                            </th>
                            <!-- Multiplier -->
                            <!-- TODO Single container for these fields? -->
                            <!--<th data-ng-if="field.ElementFieldType === 12 && resourcePool.MainElement.HasResourcePoolField">
                                Tot. {{ resourcePool.MainElement.ResourcePoolFieldName }}
                            </th>
                            <th data-ng-if="field.ElementFieldType === 12 && resourcePool.MainElement.HasResourcePoolField">
                                Tot. CMRP Add.
                            </th>-->
                            <th data-ng-if="resourcePool.EnableResourcePoolAddition && field.ElementFieldType === 12 && element.HasResourcePoolField">
                                Tot. {{ element.ResourcePoolFieldName }}
                                <br />incl. CMRP Add.
                            </th>
                        </tr>
                    </thead>
                </table>
            </th>
            <!-- Totals -->
            <th data-ng-if="element.HasResourcePoolField">
                Total Income
            </th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="elementItem in element.ElementItemSet">
            <!-- Cells -->
            <td data-ng-repeat="elementCell in elementItem.ElementCellSet">
                <table class="resourcePoolFieldsTable">
                    <tbody>
                        <tr>
                            <td>
                                <span data-ng-if="elementCell.ElementFieldType === 1" data-ng-bind-html="elementCell.StringValue">
                                </span>
                                <span data-ng-if="elementCell.ElementFieldType === 2">
                                    {{ elementCell.BooleanValue }}
                                </span>
                                <span data-ng-if="elementCell.ElementFieldType === 3">
                                    {{ elementCell.IntegerValue }}
                                </span>
                                <span data-ng-if="elementCell.ElementFieldType === 4">
                                    {{ elementCell.DecimalValue | number: 2 }}
                                </span>
                                <span data-ng-if="elementCell.ElementFieldType === 5">
                                    {{ elementCell.DateTimeValue }}
                                </span>
                                <span data-ng-if="elementCell.ElementFieldType === 6">
                                    {{ elementCell.ElementItem.Name }}
                                </span>
                                <span data-ng-if="elementCell.ElementFieldType === 11">
                                    {{ elementItem.ResourcePoolValue | number: 2 }}
                                </span>
                                <span data-ng-if="elementCell.ElementFieldType === 12">
                                    {{ elementItem.MultiplierValue | number: 2 }}
                                </span>
                                <!-- Indexes -->
                                <table class="fieldIndexTable" data-ng-repeat="index in elementCell.ElementField.ElementFieldIndexSet">
                                    <colgroup>
                                        <!--<col class="valueMultipliedField" />-->
                                        <col class="valuePercentageField" />
                                        <col class="indexIncomeField" data-ng-if="elementCell.ElementFieldType === 11" />
                                        <col class="indexFunctionsField" />
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <!--<td>
                                                {{ elementCell.ValueMultiplied | number: 2 }}
                                            </td>-->
                                            <td>
                                                {{ elementCell.ValuePercentage | percentage: 2 }}
                                            </td>
                                            <td data-ng-if="elementCell.ElementFieldType === 11">
                                                {{ elementCell.ElementFieldIndexIncome | number: 2 }}
                                            </td>
                                            <td>
                                                <div class="btn-group" role="group">
                                                    <button type="button" data-ng-click="elementCell.increaseIndexCellValue()" title="+ 10" class="btn btn-default btn-xs">+</button>
                                                    <button type="button" data-ng-click="elementCell.decreaseIndexCellValue()" title="- 10" class="btn btn-default btn-xs">-</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <!-- ResourcePool -->
                            <!-- TODO Single container for these fields? -->
                            <td data-ng-if="resourcePool.EnableResourcePoolAddition && elementCell.ElementFieldType === 11">
                                {{ elementItem.ResourcePoolAddition | number: 2 }}
                            </td>
                            <td data-ng-if="resourcePool.EnableResourcePoolAddition && elementCell.ElementFieldType === 11">
                                {{ elementItem.ResourcePoolValueIncludingAddition | number: 2 }}
                            </td>
                            <!-- Multiplier -->
                            <!-- TODO Single container for these fields? -->
                            <!--<td data-ng-if="elementCell.ElementFieldType === 12 && elementItem.HasResourcePoolCell">
                                {{ elementItem.TotalResourcePoolValue | number: 2 }}
                            </td>
                            <td data-ng-if="elementCell.ElementFieldType === 12 && elementItem.HasResourcePoolCell">
                                {{ elementItem.TotalResourcePoolAddition | number: 2 }}
                            </td>-->
                            <td data-ng-if="resourcePool.EnableResourcePoolAddition && elementCell.ElementFieldType === 12 && elementItem.HasResourcePoolCell">
                                {{ elementItem.TotalResourcePoolValueIncludingAddition | number: 2 }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <!-- Totals -->
            <td data-ng-if="element.HasResourcePoolField">
                {{ elementItem.TotalIncome | number: 2 }}
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr data-ng-if="resourcePool.EnableSubtotals">
            <!-- Fields -->
            <td data-ng-repeat="field in element.ElementFieldSet">
                <table class="resourcePoolFieldsTable">
                    <tfoot>
                        <tr>
                            <td>
                                <!-- TODO Grand Total? -->
                                <span data-ng-if="field.ElementFieldType === 11">
                                    {{ element.ResourcePoolValue | number: 2 }}
                                </span>
                                <div data-ng-if="field.ElementFieldType === 12">
                                    {{ element.MultiplierValue | number: 2 }}
                                </div>
                                <!-- Indexes -->
                                <table class="fieldIndexTable" data-ng-repeat="index in field.ElementFieldIndexSet">
                                    <colgroup>
                                        <!--<col class="valueMultipliedField" />-->
                                        <col class="valuePercentageField" />
                                        <col class="indexIncomeField" data-ng-if="field.ElementFieldType === 11" />
                                        <col class="indexFunctionsField" />
                                    </colgroup>
                                    <tfoot>
                                        <tr>
                                            <!--<td>
                                                {{ index.ValueMultiplied | number: 2 }}
                                            </td>-->
                                            <td>
                                                {{ index.ValuePercentage | percentage: 2 }}
                                            </td>
                                            <td data-ng-if="field.ElementFieldType === 11">
                                                {{ index.ElementFieldIndexIncome | number: 2 }}
                                            </td>
                                            <td>
                                                &nbsp;
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </td>
                            <!-- ResourcePool -->
                            <!-- TODO Single container for these fields? -->
                            <td data-ng-if="resourcePool.EnableResourcePoolAddition && field.ElementFieldType === 11">
                                {{ element.ResourcePoolAddition | number: 2 }}
                            </td>
                            <td data-ng-if="resourcePool.EnableResourcePoolAddition && field.ElementFieldType === 11">
                                {{ element.ResourcePoolValueIncludingAddition | number: 2 }}
                            </td>
                            <!-- Multiplier -->
                            <!-- TODO Single container for these fields? -->
                            <!--<td data-ng-if="field.ElementFieldType === 12 && resourcePool.MainElement.HasResourcePoolField">
                                {{ resourcePool.MainElement.TotalResourcePoolValue | number: 2 }}
                            </td>
                            <td data-ng-if="field.ElementFieldType === 12 && resourcePool.MainElement.HasResourcePoolField">
                                {{ resourcePool.MainElement.TotalResourcePoolAddition | number: 2 }}
                            </td>-->
                            <td data-ng-if="resourcePool.EnableResourcePoolAddition && field.ElementFieldType === 12 && element.HasResourcePoolField">
                                {{ element.TotalResourcePoolValueIncludingAddition | number: 2 }}
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </td>
            <!-- Totals -->
            <td data-ng-if="element.HasResourcePoolField">
                {{ element.TotalIncome | number: 2 }}
            </td>
        </tr>
        <tr>
            <!-- Fields -->
            <td data-ng-repeat="field in element.ElementFieldSet">
                <table class="resourcePoolFieldsTable">
                    <tfoot>
                        <tr>
                            <td>
                                <div data-ng-if="field.ElementFieldType === 12">
                                    <div class="btn-group" role="group">
                                        <button title="Increase {{ element.MultiplierFieldName }}" type="button" data-ng-click="element.increaseMultiplier()" class="btn btn-default btn-xs">+</button>
                                        <button title="Decrease {{ element.MultiplierFieldName }}" type="button" data-ng-click="element.decreaseMultiplier()" class="btn btn-default btn-xs">-</button>
                                        <button title="Reset {{ element.MultiplierFieldName }}" type="button" data-ng-click="element.resetMultiplier()" class="btn btn-default btn-xs">0</button>
                                    </div>
                                </div>
                                <div data-ng-if="field.ElementFieldType !== 12">
                                    &nbsp;
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </td>
        </tr>
    </tfoot>
</table>