<div class="resourcePoolEditor">
    <div class="row">
        <div class="col-md-12">
            <div class="header">
                <span class="title">
                    {{ resourcePool.Name }}
                </span>
                &nbsp;
                Display: <a href="" data-ng-click="toggleValueFilter()">{{ valueFilterText() }}</a>
                -
                Main Element Index: {{ currentElementIndex }} - {{ resourcePool.currentElement.Name }} - <a href="" data-ng-click="toggleCurrentElement()">Toggle</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <highchart data-config="chartConfig"></highchart>
        </div>
        <div class="col-md-8">
            <element-editor resource-pool="resourcePool"></element-editor>
        </div>
    </div>
</div>