<script src="Scripts/app/services/generated/resourcepoolService.js"></script>
<script src="Scripts/app/controllers/resourcepoolListController.js"></script>
<script src="Scripts/app/controllers/resourcepoolEditController.js"></script>
<div data-ng-view></div>
