<script src="Scripts/app/services/usersectorratingService.js"></script>
<script src="Scripts/app/services/userService.js"></script>
<script src="Scripts/app/services/sectorService.js"></script>
<script src="Scripts/app/controllers/usersectorratingListController.js"></script>
<script src="Scripts/app/controllers/usersectorratingEditController.js"></script>
<div data-ng-view></div>
