<script src="Scripts/app/services/generated/usersectorratingService.js"></script>
<script src="Scripts/app/services/generated/userService.js"></script>
<script src="Scripts/app/services/generated/sectorService.js"></script>
<script src="Scripts/app/controllers/usersectorratingListController.js"></script>
<script src="Scripts/app/controllers/usersectorratingEditController.js"></script>
<div data-ng-view></div>
