<?xml version="1.0" encoding="utf-8"?>
<appSettings>

    <!-- Base url that will be used in emails to prepare the links -->
    <add key="BaseUrl" value="http://localhost:15001" />

    <!-- Alert emails will be send to this address (leave it blank in case you don't want to have alerts) -->
    <add key="AlertEmailAddress" value="" />

    <!-- Social logins - Facebook -->
    <add key="FacebookAppId" value="" />
    <add key="FacebookAppSecret" value="" />

</appSettings>
