<div class="page-header">
    <h1>#1 Primary Goal</h1>
</div>
<div class="row">
    <div class="col-md-8">
        &nbsp;
    </div>
    <div class="col-md-4">
        <div class="btn-group btn-group-sm pull-right">
            <a href="/Chapters/2" class="btn btn-default btn-sm">Next Chapter »</a>
        </div>
    </div>
</div>
<div class="row top-buffer">
    <div class="col-md-12">
        <p>
            Today we are facing many major issues due to how the economic system works, more specifically how we distribute our resources.
        </p>
        <p>
            One of the main purposes of the economic system is to allocate resources, ideally to the organizations with the most benefits.
            First issue in the system is, that there is no systematic way to measure and reward the benefits, like productiveness, fairness towards employees
            or even high quality. Naturally the only parameter that is left to measure gets all the focus: the profit. Meaning that, in the current system,
            the primary goal of the majority of the organizations is to gain more profit, everything else can be secondary.
        </p>
    </div>
</div>
<div class="hidden">
     <!--Chart--> 
    <div class="row top-buffer">
        <div class="col-md-6">
            <highchart config="vm.chartConfig"></highchart>
        </div>
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">Organization Profile</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>Unknown Profiting Object</td>
                    </tr>
                    <tr>
                        <td>Sector</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Product / Service Quality</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Employee Satisfaction</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Customer Satisfaction</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Number of Sales</td>
                        <td>{{ vm.chartData[0].data[0] }}</td>
                    </tr>
                    <tr>
                        <td>Profit per Unit</td>
                        <td>50</td>
                    </tr>
                    <tr>
                        <td>Total Profit</td>
                        <td>{{ vm.chartData[0].data[0] * 50 }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <div class="btn-group">
                    <button type="button" data-ng-click="vm.increase()" class="btn btn-default">+</button>
                    <button type="button" data-ng-click="vm.decrease()" class="btn btn-default">-</button>
                </div>
            </div>
        </div>
    </div>
</div>
