## General rules

# Build folders
[Bb]in/
[Oo]bj/

# Chutzpah (necessary?)
_Chutzpah.*

# NPM packages
npm-debug.log
node_modules

# NuGet packages
packages

# Personal database queries (no need to save)
SolutionItems/Scripts/Database/Personal/

# Publish profiles
*.pubxml

# User-specific files
*.suo
*.user

# Visual Studio
.vs/

# WebApiWarmUp script result file
SolutionItems/Scripts/Build/WebApiWarmUpResult.txt

# Others
~$*
Thumbs.db

## Project specific rules

# ng2Client
ng2Client/app/**/*.js
ng2Client/app/**/*.map

ng2Client/app/css/**/*
!ng2Client/app/css/main.css

# ng2Client - lib: Contains fixed versions of external .js files (breeze.odata etc.)
!ng2Client/app/lib/*.js

ng2Client/app/settings/local-settings.ts
ng2Client/app/settings/test-settings.ts
ng2Client/app/settings/production-settings.ts

ng2Client/publish

# ngClient
ngClient/_system/js/app/settings/*.js
ngClient/_system/js/app/settings/*.ts
ngClient/_system/js/app/**/*.js
ngClient/_system/js/app/**/*.map
ngClient/_system/js/lib/*.js
ngClient/_system/js/lib/*.map
ngClient/_system/css/app.css
ngClient/_system/css/app.min.css
ngClient/_system/css/lib/*.css
ngClient/_system/css/fonts/

# WebApi
WebApi/App_Data/
WebApi/Configs/*.config
