## General rules

# Build folders
[Bb]in/
[Oo]bj/

# NPM packages
npm-debug.log
node_modules

# User-specific files
*.suo
*.user

# Visual Studio
.vs/
UpgradeLog.htm

# Others
~$*
Thumbs.db

## Project specific rules

# AngularClient
AngularClient/dist
AngularClient/out-tsc

AngularClient/src/app-settings/environments/*
!AngularClient/src/app-settings/environments/environment-settings.ts
!AngularClient/src/app-settings/environments/Readme.md
