<div>
    <p>
        OData - User Cell
    </p>
    <p>
        <button type="button" (click)="createOwn()" class="btn-success">Create - own</button>
        <button type="button" (click)="createAnother()" class="btn-danger">Create - another</button>
    </p>
    <p>
        <button type="button" (click)="updateOwn()" class="btn-success">Update - own</button>
        <button type="button" (click)="updateAnother()" class="btn-danger">Update - another</button>
        <button type="button" (click)="updateNotFound()" class="btn-danger">Update - not found</button>
    </p>
    <p>
        <button type="button" (click)="deleteOwn()" class="btn-success">Delete - own</button>
        <button type="button" (click)="deleteAnother()" class="btn-danger">Delete - another</button>
        <button type="button" (click)="deleteNotFound()" class="btn-danger">Delete - not found</button>
    </p>
</div>
