<div class="resource-pool-tester" *ngIf="resourcePool">
    <div class="row">
        <div class="col-md-12">
            <strong>ResourcePool</strong>
            Id: {{ resourcePool.Id }} -
            User: {{ resourcePool.User.UserName }} -
            Name: {{ resourcePool.Name }} -
            Key: {{ resourcePool.Key }} -
            InitialValue: {{ resourcePool.InitialValue }} -
            RatingMode: <span (click)="resourcePool.toggleRatingMode()">{{ RatingMode[resourcePool.RatingMode] }}</span> -
            uniqueKey: {{ resourcePool.uniqueKey | json }}

            <div class="row g-mt-20">
                <div class="col-md-2">
                    <strong>Elements</strong>
                    <div *ngFor="let element of resourcePool.ElementSet">
                        Id: {{ element.Id }}<br />
                        Name: {{ element.Name }}<br />
                        IsMainElement: {{ element.IsMainElement }}<br />
                        ...: -<br />
                        income: {{ element.income() }}<br />
                        indexRating: {{ element.indexRating() }}<br />
                        ...: -<br />
                        <hr />
                    </div>
                </div>
                <div class="col-md-2">
                    <strong>Fields</strong>
                    <div *ngFor="let element of resourcePool.ElementSet">
                        <div *ngFor="let field of element.ElementFieldSet">
                            Id: {{ field.Id }}<br />
                            Element: {{ field.Element.Name }}<br />
                            Name: {{ field.Name }}<br />
                            DataType: {{ field.DataType }}<br />
                            SelectedElement: {{ field.SelectedElement?.Name }}<br />
                            UseFixedValue: {{ field.UseFixedValue }}<br />
                            IndexEnabled: {{ field.IndexEnabled }}<br />
                            SortOrder: {{ field.SortOrder }}<br />
                            IndexRatingTotal: {{ field.IndexRatingTotal }}<br />
                            IndexRatingCount: {{ field.IndexRatingCount }}<br />
                            ...: -<br />
                            DataTypeText: {{ field.DataTypeText }}<br />
                            otherUsersIndexRatingTotal: {{ field.otherUsersIndexRatingTotal }}<br />
                            otherUsersIndexRatingCount: {{ field.otherUsersIndexRatingCount }}<br />
                            currentUserIndexRating: {{ field.currentUserIndexRating() }}<br />
                            income: {{ field.income() }}<br />
                            indexRating: {{ field.indexRating() }}<br />
                            indexRatingAverage: {{ field.indexRatingAverage() }}<br />
                            indexRatingCount: {{ field.indexRatingCount() }}<br />
                            indexRatingPercentage: {{ field.indexRatingPercentage() }}<br />
                            indexRatingTotal: {{ field.indexRatingTotal() }}<br />
                            numericValue: {{ field.numericValue() | number : '1.0-2' }}<br />
                            ...: -<br />
                            <hr />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <strong>User fields</strong>
                    <div *ngFor="let element of resourcePool.ElementSet">
                        <div *ngFor="let field of element.ElementFieldSet">
                            <div *ngFor="let userField of field.UserElementFieldSet">
                                Id: {{ userField.Id }}<br />
                                Field: {{ userField.ElementField.Name }}<br />
                                Rating: {{ userField.Rating }}<br />
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <strong>Items</strong>
                    <div *ngFor="let element of resourcePool.ElementSet">
                        <div *ngFor="let item of element.ElementItemSet">
                            Id: {{ item.Id }}<br />
                            Element: {{ item.Element.Name }}<br />
                            Name: {{ item.Name }}<br />
                            ...: -<br />
                            incomeStatus: {{ item.incomeStatus() }}<br />
                            ...: -<br />
                            income: {{ item.income() | number : '1.0-2' }}<br />
                            <hr />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <strong>Cells</strong>
                    <div *ngFor="let element of resourcePool.ElementSet">
                        <div *ngFor="let field of element.ElementFieldSet">
                            <div *ngFor="let cell of field.ElementCellSet">
                                Id: {{ cell.Id }}<br />
                                Field: {{ cell.ElementField.Name }}<br />
                                Item: {{ cell.ElementItem.Name }}<br />
                                StringValue: {{ cell.StringValue }}<br />
                                NumericValueTotal: {{ cell.NumericValueTotal }}<br />
                                NumericValueCount: {{ cell.NumericValueCount }}<br />
                                SelectedElementItem: {{ cell.SelectedElementItem?.Name }}<br />
                                otherUsersNumericValueTotal: {{ cell.otherUsersNumericValueTotal }}<br />
                                otherUsersNumericValueCount: {{ cell.otherUsersNumericValueCount }}<br />
                                currentUserNumericValue: {{ cell.currentUserNumericValue() }}<br />
                                income: {{ cell.income() | number : '1.0-2' }}<br />
                                numericValue: {{ cell.numericValue() | number : '1.0-2' }}<br />
                                numericValueAverage: {{ cell.numericValueAverage() | number : '1.0-2' }}<br />
                                numericValueCount: {{ cell.numericValueCount() }}<br />
                                numericValuePercentage: {{ cell.numericValuePercentage() | number : '1.0-2' }}<br />
                                numericValueTotal: {{ cell.numericValueTotal() }}<br />
                                ...: -<br />
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <strong>User cells</strong>
                    <div *ngFor="let element of resourcePool.ElementSet">
                        <div *ngFor="let field of element.ElementFieldSet">
                            <div *ngFor="let cell of field.ElementCellSet">
                                <div *ngFor="let userCell of cell.UserElementCellSet">
                                    Cell: {{ userCell.ElementCell.Id }}<br />
                                    DecimalValue: {{ userCell.DecimalValue }}<br />
                                    <hr />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
