<section id="socialLoginForm">
    <h4>Or use an external service</h4>
    <hr/>
    <div id="socialLoginList">
        <a href="{{ getExternalLoginUrl('Facebook') }}" target="_self" class="btn btn-block btn-social btn-facebook">
            <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
            Connect with Facebook
        </a>
        <a href="{{ getExternalLoginUrl('Google') }}" target="_self" class="btn btn-block btn-social btn-google">
            <i class="fa fa-google fa-lg" aria-hidden="true"></i>
            Connect with Google
        </a>
        <a href="{{ getExternalLoginUrl('Microsoft') }}" target="_self" class="btn btn-block btn-social btn-microsoft">
            <i class="fa fa-windows fa-lg" aria-hidden="true"></i>
            Connect with Microsoft
        </a>
    </div>
</section>
