<div data-ng-controller="ClosingNotesController as vm">
    <div class="row">
        <div class="col-md-4">
            <a class="btn btn-block btn-default" role="button" href="https://twitter.com/forCrowd" target="_blank">
                <span class="fa fa-twitter fa-lg"></span>
                Follow us on Twitter
            </a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-block btn-default" role="button" href="https://gitter.im/forCrowd/WealthEconomy" target="_blank">
                <span class="fa fa-git fa-lg"></span>
                Chat with us on Gitter
            </a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-block btn-default" role="button" href="mailto:contact@forcrowd.org" target="_blank">
                <span class="fa fa-envelope fa-lg"></span>
                Contact us by contact@forcrowd.org
            </a>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-4">
            <a class="btn btn-block btn-default" role="button" href="https://github.com/forCrowd/WealthEconomy" target="_blank">
                <span class="fa fa-github fa-lg"></span>
                View project on Github
            </a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-block btn-default" role="button" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=YPBCBJ3ANDL4Q" target="_blank">
                <span class="fa fa-paypal fa-lg"></span>
                Invest in us with Paypal
            </a>
        </div>
        <div class="col-md-4">
            <a class="btn btn-block btn-default" role="button" href="" data-ng-click="vm.toggleBankTransfer()">
                <span class="fa fa-bank fa-lg"></span>
                Or with bank transfer
            </a>
            <div class="bs-callout bs-callout-info" data-ng-show="vm.displayBankTransfer">
                <h4>Bank Transfer - Euro</h4>
                <p>
                    Bank: Triodos Bank NV, Netherlands<br />
                    IBAN: NL20 TRIO 0254 4012 87
                </p>
            </div>
        </div>

        <!--<a class="btn btn-primary" href="https://flattr.com/profile/forCrowd" role="button" target="_blank">Flattr</a>-->
        <!--<a class="btn btn-primary" href="https://gratipay.com/forCrowd/" role="button" target="_blank">Gratipay</a>-->
    </div>
    <div class="row top-buffer">
        <div class="col-md-12">
            <hr />
            <dir-disqus disqus-shortname="{{ vm.disqusShortname }}"
                        disqus-identifier="{{ vm.disqusId }}"
                        disqus-url="{{ vm.disqusUrl }}">
            </dir-disqus>
        </div>
    </div>
</div>
