<div class="jumbotron">
    <h1>Wealth Economy</h1>
    <p class="lead">An experimental resource management system that aims to provide a more sustainable and productive economic model</p>
</div>
<div class="row">
    <div class="col-md-12">
        <div data-ng-include="'/views/content/prologue.html?v=0.45.0'"></div>
        <hr />
        <div data-ng-include="'/views/content/introduction.html?v=0.45.0'"></div>
        <hr />
        <div data-ng-include="'/views/content/basics.html?v=0.45.0'"></div>
        <hr />
        <div data-ng-include="'/views/content/priorityIndexSample.html?v=0.45.0'"></div>
        <hr />
        <div data-ng-include="'/views/content/knowledgeIndexSample.html?v=0.45.0'"></div>
        <hr />
        <div data-ng-include="'/views/content/totalCostIndexSample.html?v=0.45.0'"></div>
        <hr />
        <div data-ng-include="'/views/content/allInOneSample.html?v=0.45.0'"></div>
        <hr />
        <div data-ng-include="'/views/content/implementation.html?v=0.45.0'"></div>
        <hr />
        <div data-ng-include="'/views/content/reason.html?v=0.45.0'"></div>
        <hr />
        <div data-ng-include="'/views/content/closingNotes.html?v=0.45.0'"></div>
    </div>
</div>
