<div>
    <div class="row">
        <div class="col-md-12">
            <h3>
                Prologue
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="bs-callout bs-callout-info">
                <h4>
                    If you have one billion dollars to spend on making things better in the World, on which subjects would you spend it?
                </h4>
            </div>
            <!--<p>
                Today, one of the biggest issues in the current economic system that the society cannot directly control its resources.
                However, if we could have the chance, the results would very different.
            </p>-->
            <!--<p style="margin: 10px 0; font-size: 16px;">
                !--We believe, if the society could directly control its resources, the results would be pretty different.--
                <u>We are trying to show you is that the results would be different if the society could directly control its resources.</u>
            </p>-->
            <resource-pool-editor data-config="{ resourcePoolId: 14 }"></resource-pool-editor>
            <p class="small">
                <i>
                    Today, the society cannot directly control its resources.
                    If we could have a chance to distribute our resources by comparing the issues, the results would be different.
                </i>
            </p>
        </div>
    </div>
</div>
