<div>
    <div class="row">
        <div class="col-md-12">
            <h3>
                Prologue
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="bs-callout bs-callout-info">
                <h4>
                    If you have one billion dollars to spend on making things better in the World, on which subjects would you spend it?
                </h4>
            </div>
            <resource-pool-editor data-config="{ resourcePoolId: 1 }"></resource-pool-editor>
            <p class="small">
                <i>
                    Today, the society cannot directly control its resources.
                    If we could have a chance to distribute our resources by comparing the issues, the results would be different.
                </i>
            </p>
        </div>
    </div>
</div>
