<div data-ng-controller="TotalCostIndexSampleController as vm">
    <div class="row">
        <div class="col-md-12">
            <h3>
                Total Cost Index - Income Inequality Part I: Profit - Nonprofit Paradox
            </h3>
            <div class="bs-callout bs-callout-info">
                <h4>
                    How to make price minimization more beneficial than maximization?
                </h4>
            </div>
            <p>
                <!--In the current system, since that’s the only way to get more resources, majority of the organizations aim to maximize their profits.-->
                In the current system, more profit means more resources for the organization.
                Therefore majority of the organizations aim to maximize their profits.
                However, what is beneficial for the organization is exactly the opposite for the society.
                When organizations are trying to maximize their profits, they are actually becoming more expensive to society in solving the issues.
            </p>
            <p>
                In the following sample, there are three different prices for the same product.
                Although <strong>No Profit</strong> case solves the issue in most effective way, because of 'more expensive means more resources' rule,
                <strong>High Profit</strong> case will always bring more resources to its organization.
            </p>
            <resource-pool-editor data-config="{ resourcePoolId: 7 }"></resource-pool-editor>
            <p>
                With this logic, we allocate limited resources to the organizations that have less cost on the society and keep encouraging the organizations to maximize their profit.
                This is one of the paradoxes of the current system and becomes one of the root causes of 'Income Inequality'.
            </p>
            <!--<div class="bs-callout bs-callout-warning">
                <p>
                    Our solution for this problem could be high debatable and may not be the right approach, however we believe this issue worth to be discussed, addressed and hopefully solved.
                </p>
            </div>-->
            <p>
                <!--New target: Profit minimization
                <br />-->
                With <strong>Total Cost Index</strong>, <strong>Sales Price</strong> itself will be used as the organization's rating in terms of 'Cost to Society'.
                Different than the previous samples, with this index, high number means low performance and low income from the pool.
            </p>
            <ul>
                <li>
                    By using <code>+</code> button increase <strong>Number of Sales</strong>.
                </li>
                <li>
                    Compare the difference in <strong>Total Income</strong> with the previous sample to see the impact of 'Total Cost Index'.
                </li>
            </ul>
            <resource-pool-editor data-config="{ resourcePoolId: 8 }"></resource-pool-editor>
            <p>
                As in this sample, if we could manage to allocate more resources to the lowest cost case, then aiming for the maximum price approach would become obsolete.
                What should be expected afterwards is that the organizations would compete with each other to have the lowest price for their products.
            </p>
            <resource-pool-editor data-config="{ resourcePoolId: 9 }"></resource-pool-editor>
        </div>
    </div>
</div>
