<script src="Scripts/app/services/generated/userresourcepoolService.js"></script>
<script src="Scripts/app/services/generated/userService.js"></script>
<script src="Scripts/app/services/generated/resourcepoolService.js"></script>
<script src="Scripts/app/controllers/userresourcepoolListController.js"></script>
<script src="Scripts/app/controllers/userresourcepoolEditController.js"></script>
<div data-ng-view></div>
