<script src="Scripts/app/services/userresourcepoolService.js"></script>
<script src="Scripts/app/services/userService.js"></script>
<script src="Scripts/app/services/resourcepoolService.js"></script>
<script src="Scripts/app/controllers/userresourcepoolListController.js"></script>
<script src="Scripts/app/controllers/userresourcepoolEditController.js"></script>
<div data-ng-view></div>
