<?xml version="1.0" encoding="utf-8"?>
<!--

Update this file and rename it to "appSettings.config"

-->
<appSettings>

    <!-- Alert emails will be send to this address -->
    <add key="AlertEmailAddress" value="" />
    <!-- This user's data will be used as a sample for new users -->
    <add key="SampleUserId" value="2" />

</appSettings>
