<script src="Scripts/app/services/sectorService.js"></script>
<script src="Scripts/app/controllers/sectorListController.js"></script>
<script src="Scripts/app/controllers/sectorEditController.js"></script>
<div data-ng-view></div>
