<form #elementForm="ngForm">
    <div class="form-horizontal g-mt-40">
        <div class="form-group" [ngClass]="{ 'has-error': element.entityAspect.getValidationErrors('Name').length > 0 }">
            <label for="Name" class="control-label col-md-2">Element</label>
            <div class="col-md-10">
                <input id="Name" name="Name" type="text" [(ngModel)]="element.Name" class="form-control" />
            </div>
        </div>
        <div class="form-group hide">
            <div class="col-md-10">
                <input id="RowVersion" name="RowVersion" [(ngModel)]="element.RowVersion" type="hidden">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button (click)="saveElement()" [disabled]="submitDisabled()" type="button" class="btn btn-primary">
                    Save Element
                </button>
                <button (click)="cancelElement()" [disabled]="isBusy" type="button" class="btn btn-default">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</form>
