<h2>Edit</h2>
<form name="editForm">
    <div class="form-horizontal">
        <h4>License</h4>
        <hr />
        <div class="form-group">
            <label for="Name" class="control-label col-md-2">Name</label>
            <div class="col-md-10" data-ng-class="{'has-error': editForm.Name.$invalid && !editForm.Name.$pristine}">
                <input type="text" id="Name" name="Name" data-ng-model="vm.license.Name" class="form-control" required>
            </div>
        </div>
        <div class="form-group">
            <label for="Description" class="control-label col-md-2">Description</label>
            <div class="col-md-10">
                <input type="text" id="Description" name="Description" data-ng-model="vm.license.Description" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="Text" class="control-label col-md-2">
                Text
            </label>
            <div class="col-md-10" data-ng-class="{'has-error': editForm.Text.$invalid && !editForm.Text.$pristine}">
                <input type="text" id="Text" name="Text" data-ng-model="vm.license.Text" class="form-control" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button data-ng-click="vm.saveChanges()" data-ng-disabled="editForm.$invalid || vm.isSaveDisabled()" class="btn btn-primary">
                    Save
                </button>
                <button data-ng-click="vm.cancelChanges()" class="btn btn-danger">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</form>
