<h2>List</h2>
<p>
    <a href="#/new">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Text
        </th>
        <th></th>
    </tr>
    <tr data-ng-repeat="license in vm.licenseSet">
        <td>
            {{ license.Name }}
        </td>
        <td>
            {{ license.Description }}
        </td>
        <td>
            {{ license.Text }}
        </td>
        <td>
            <a href="#/edit/{{license.Id}}">Edit</a> |
            <a href="" data-ng-click="vm.deleteLicense(license)">
                Delete
            </a>
        </td>
    </tr>
</table>
