<script src="Scripts/app/services/userlicenseratingService.js"></script>
<script src="Scripts/app/services/userService.js"></script>
<script src="Scripts/app/services/licenseService.js"></script>
<script src="Scripts/app/controllers/userlicenseratingListController.js"></script>
<script src="Scripts/app/controllers/userlicenseratingEditController.js"></script>
<div data-ng-view></div>
