<script src="Scripts/app/services/generated/userlicenseratingService.js"></script>
<script src="Scripts/app/services/generated/userService.js"></script>
<script src="Scripts/app/services/generated/licenseService.js"></script>
<script src="Scripts/app/controllers/userlicenseratingListController.js"></script>
<script src="Scripts/app/controllers/userlicenseratingEditController.js"></script>
<div data-ng-view></div>
