<div class="row">
    <div class="col-md-12">
        <h3>
            Total Cost Index: Nonprofit Paradox
            <!--Total Cost Index - Income Inequality Part I: Profit - Nonprofit Paradox-->
        </h3>
        <div class="bs-callout bs-callout-info">
            <h4>
                How to let nonprofit organizations control more resources?
                <!--How to push organizations to reduce their prices?-->
                <!--How to make price minimization more beneficial than maximization?-->
            </h4>
        </div>
        <p>
            In the current system, more profit means more resources.
            Therefore most organizations aim to maximize their profits.
            However, what is beneficial for the organization is exactly opposite for society.
            When organizations are trying to maximize their profits, they are actually becoming more expensive to society in solving the issues.
        </p>
        <p>
            In the following example, there are two organizations that are selling the same product, one is 'nonprofit' and the other one is 'for-profit'.
            To make distinction clear; 'nonprofit' organization sets its price that is equal to its total cost per unit.
            This allow 'nonprofit' to produce more products in a given amount of money. For example;
            with 1200 money, 'nonprofit' could give us 12 products, while 'for-profit' could only give us 10.
        </p>
        <p>
            Even though 'nonprofit' is being more efficient in the sense of 'resource usage', in case they manage to sell same amount of products,
            'nonprofit' will stay as the smaller one and 'for-profit' organization will have more resources and more likely to grow faster.
        </p>
        <p>
            This is one of the paradoxes of the current system.
            <strong>Total Cost Index</strong> aims compensate this difference and reward the organizations that are better in using our resources.
        </p>
        <p>
            In <strong>New Model</strong>, <strong>Sales Price</strong> itself will be used as the organization's rating in terms of 'Cost to Society'.
            Different than the previous examples, with this index, low number indicates better performance and high income from the pool.
        </p>
        <ul>
            <li>
                By using <code>+</code> button increase <strong>Number of Sales</strong> in both examples.
            </li>
            <li>
                Compare the difference in <strong>Total Income</strong> between the examples to see the impact of 'Total Cost Index'.
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <project-viewer [config]="{ mainElementId: appSettings.content.totalCostExisting_MainElementId, title: 'Total Cost Index - Existing-Model' }"></project-viewer>
        <p class="small">
            <i>We are wasting too much energy on satisfying 'for-profit' organizations.</i>
        </p>
    </div>
    <div class="col-md-7">
        <project-viewer [config]="{ mainElementId: appSettings.content.totalCostNew_MainElementId, title: 'Total Cost Index - New-Model' }"></project-viewer>
        <p class="small">
            <i>'Total Cost Index' could help us to allocate more resources on nonprofit organizations.</i>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            It is important to note that if we could make profit maximization obsolete as in this example,
            then organizations would compete with each other to have the lowest price for their products and in overall,
            all prices would start reducing to their total cost per unit level.
        </p>
        <p>
            Today, nonprofit organizations tend to be related with social issues.
            However, ideally we should able to have such organization in all industries.
            What it would be like if it would be common to have nonprofit organizations in banking, insurance, software, communications and so on.
        </p>
    </div>
</div>
