<h2>Resource Pools</h2>
<div class="table-search">
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Resource Pool</th>
                    <th>User</th>
                    <th># Ratings</th>
                    <th>Created On</th>
                    <th>Modified On</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr [hidden]="resourcePoolSet.length > 0">
                    <td colspan="4">
                        Nothing to display
                    </td>
                </tr>
                <tr [hidden]="resourcePoolSet.length === 0" *ngFor="let resourcePool of resourcePoolSet">
                    <td>
                        <h3><a routerLink="{{ '/' + resourcePool.User.UserName + '/' + resourcePool.Key }}">{{ resourcePool.Name }}</a></h3>
                    </td>
                    <td>
                        <div>
                            <a routerLink="{{ '/' + resourcePool.User.UserName }}">{{ resourcePool.User.UserName }}</a>
                        </div>
                    </td>
                    <td>
                        {{ resourcePool.RatingCount }}
                    </td>
                    <td>
                        {{ resourcePool.CreatedOn | amTimeAgo }}
                    </td>
                    <td>
                        {{ resourcePool.ModifiedOn | amTimeAgo }}
                    </td>
                    <td>
                        <button (click)="updateComputedFields(resourcePool)" type="button" class="btn btn-link" title="Update computed fields">
                            <i class="fa fa-refresh" aria-hidden="true"></i> Update
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
