<div class="page-header">
    <h1>Technology</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            Technologies that are in use in this project;
            <ul>
                <li>
                    Framework: .NET Framework 4.5 + ASP.NET MVC 5 + Web-API + OData
                </li>
                <li>
                    Database:
                    <ul>
                        <li>
                            Development: SQL Server 2014 Express
                        </li>
                        <li>
                            Production:  ?
                        </li>
                    </ul>
                </li>
                <li>AngularJS</li>
                <li>BreezeJs</li>
                <li>bootstrap</li>
                <li>toastr</li>
                <li>Source code hosting: GitHub</li>
                <li>Website Hosting: ...</li>
                <li>TODO Display the content of packages.xml?</li>
            </ul>
        </p>
    </div>
</div>
