<div *ngIf="user">
    <div class="g-mb-40">
        <h2>{{ user.UserName }}</h2>
        <p [hidden]="!userActionsEnabled()">
            <a routerLink="/{{ user.UserName }}/new">Create New</a>
        </p>
    </div>
    <div [hidden]="!displayMain" class="table-search">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Resource Pool</th>
                        <th># Ratings</th>
                        <th>Created On</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr [hidden]="user.ResourcePoolSet.length > 0">
                        <td colspan="4">
                            Nothing to display
                        </td>
                    </tr>
                    <tr [hidden]="user.ResourcePoolSet.length === 0" *ngFor="let resourcePool of user.getResourcePoolSetSorted()">
                        <td>
                            <h3><a routerLink="{{ getResourcePoolLink(resourcePool) }}">{{ resourcePool.Name }}</a></h3>
                        </td>
                        <td>
                            {{ resourcePool.RatingCount }}
                        </td>
                        <td>
                            {{ resourcePool.CreatedOn | amTimeAgo }}
                        </td>
                        <td>
                            <div [hidden]="!userActionsEnabled()">
                                <button (click)="manageResourcePool(resourcePool)" type="button" class="btn btn-link">
                                    <i class="fa fa-pencil" aria-hidden="true"></i> Manage
                                </button>
                                <button (click)="modal_display(resourcePool)" type="button" class="btn btn-link">
                                    <i class="fa fa-times" aria-hidden="true"></i> Remove
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div [hidden]="displayMain">
        <div class="modal-header">
            <h3 class="modal-title">Confirmation</h3>
        </div>
        <div class="modal-body">
            <p>
                Are you sure you want to remove this resource pool?
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" type="button" (click)="modal_cancel()">Cancel</button>
            <button class="btn btn-danger" type="button" (click)="modal_remove()">Remove</button>
        </div>
    </div>
</div>
