<h2>Search</h2>
<form name="searchForm">
    <div class="form-horizontal g-mt-40">
        <div class="form-group">
            <label for="SearchKey" class="control-label col-md-3">Enter your keywords</label>
            <div class="col-md-9">
                <input id="SearchKey" name="SearchKey" type="text" [ngModel]="searchKey" (ngModelChange)="searchKeyChange($event)" class="form-control" />
            </div>
        </div>
    </div>
</form>
<div class="table-search">
    <div class="table-responsive" [hidden]="!showResults">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Resource Pool</th>
                    <th>User</th>
                    <th># Ratings</th>
                    <th>Created On</th>
                </tr>
            </thead>
            <tbody>
                <tr [hidden]="resourcePoolSet.length > 0">
                    <td colspan="4">
                        Nothing to display
                    </td>
                </tr>
                <tr [hidden]="resourcePoolSet.length === 0" *ngFor="let resourcePool of resourcePoolSet">
                    <td>
                        <h3><a routerLink="{{ '/' + resourcePool.User.UserName + '/' + resourcePool.Key }}">{{ resourcePool.Name }}</a></h3>
                    </td>
                    <td>
                        <div>
                            <a routerLink="{{ '/' + resourcePool.User.UserName }}">{{ resourcePool.User.UserName }}</a>
                        </div>
                    </td>
                    <td>
                        {{ resourcePool.RatingCount }}
                    </td>
                    <td>
                        {{ resourcePool.CreatedOn | amTimeAgo }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
