<h2>Sector Index</h2>

<p>
    <div class="btn-group">
        <button type="submit" data-ng-click="vm.increaseNumberOfSales()" class="btn btn-default">Increase Number of Sales</button>
        <button type="submit" data-ng-click="vm.resetNumberOfSales()" class="btn btn-default">Reset Number of Sales</button>
    </div>
</p>
<p>
    CMRP Rate: {{ vm.userResourcePool.ResourcePoolRatePercentage | percentage:2 }} - Number of ratings: {{ vm.userResourcePool.UserResourcePoolRatingCount }}
</p>
<table class="table">
    <tr>
        <th>
            Organization
        </th>
        <th>
            Production Cost
        </th>
        <th>
            Sales Price
        </th>
        <th>
            Profit Percentage
        </th>
        <th>
            Sales Price incl. CMRP Tax
        </th>
        <th>
            Number of Sales
        </th>
        <th>
            Total Production Cost
        </th>
        <th>
            Total Sales Revenue
        </th>
        <th>
            Total Profit
        </th>
        <th>
            Total CMRP Tax
        </th>
        <th>
            Total Sales Revenue incl. CMRP Tax
        </th>
        <th>
            Sector Index Percentage
        </th>
        <th>
            Sector Index with Nr of Sales
        </th>
        <th>
            Sector Index with Nr of Sales Weighted
        </th>
        <th>
            Sector Index Income
        </th>
        <th>
            Total Income (Profit + CMRP)
        </th>
    </tr>
    <tr data-ng-repeat="item in vm.userResourcePool.UserResourcePoolOrganizationDto2Set.results">
        <td>
            {{ item.OrganizationName }}
        </td>
        <td>
            {{ item.OrganizationProductionCost | number:2 }}
        </td>
        <td>
            {{ item.OrganizationSalesPrice | number:2 }}
        </td>
        <td>
            {{ item.OrganizationProfitPercentage | percentage:2 }}
        </td>
        <td>
            {{ item.SalesPriceIncludingResourcePoolTax | number:2 }}
        </td>
        <td>
            {{ item.NumberOfSales }}
        </td>
        <td>
            {{ item.TotalProductionCost | number:2 }}
        </td>
        <td>
            {{ item.TotalSalesRevenue | number:2 }}
        </td>
        <td>
            {{ item.TotalProfit | number:2 }}
        </td>
        <td>
            {{ item.TotalResourcePoolTax | number:2 }}
        </td>
        <td>
            {{ item.TotalSalesRevenueIncludingResourcePoolTax | number:2 }}
        </td>
        <td>
            {{ item.SectorIndexPercentage | percentage:2 }}
        </td>
        <td>
            {{ item.SectorIndexPercentageWithNumberOfSales | number:2 }}
        </td>
        <td>
            {{ item.SectorIndexPercentageWithNumberOfSalesWeighted | number:2 }}
        </td>
        <td>
            {{ item.SectorIndexIncome | number:2 }}
        </td>
        <td>
            {{ item.TotalIncome | number:2 }}
        </td>
    </tr>
    <tr>
        <td>
            Total
        </td>
        <td>
            {{ vm.userResourcePool.ResourcePool.ProductionCost | number:2 }}
        </td>
        <td>
            {{ vm.userResourcePool.ResourcePool.SalesPrice | number:2 }}
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            {{ vm.userResourcePool.SalesPriceIncludingResourcePoolTax | number:2 }}
        </td>
        <td>
            {{ vm.userResourcePool.NumberOfSales }}
        </td>
        <td>
            {{ vm.userResourcePool.TotalProductionCost | number:2 }}
        </td>
        <td>
            {{ vm.userResourcePool.TotalSalesRevenue | number:2 }}
        </td>
        <td>
            {{ vm.userResourcePool.TotalProfit | number:2 }}
        </td>
        <td>
            {{ vm.userResourcePool.TotalResourcePoolTax | number:2 }}
        </td>
        <td>
            {{ vm.userResourcePool.TotalSalesRevenueIncludingResourcePoolTax | number:2 }}
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            {{ vm.userResourcePool.SectorIndexIncome | number:2 }}
        </td>
        <td>
            {{ vm.userResourcePool.TotalIncome | number:2 }}
        </td>
    </tr>
</table>
