<div class="row">
    <div class="col-md-12">
        <h3>
            CMRP Amount: The Fountain
        </h3>
        <!--<div class="bs-callout bs-callout-info">
            <h4>
                Question
            </h4>
            <p>
                So far so good, but where this money will come from?
            </p>
        </div>-->
        <p>
            <strong>CMRP Rate</strong> determines the size of the pool in our application.
            It works like value added tax; when the number of sales gets bigger, <strong>CMRP Amount</strong>, the amount that we can control through the pool gets bigger as well.
        </p>
        <p>
            At this stage, our application will be used as a simulation tool;
            there will be more and more samples with various cases to show how we could improve the system.
            Within these simulations, we can safely experiment with the sizes of the pools, by making them too big or too small.
        </p>
        <p>
            Since the development process will take a while, the details of possible implementations in real life can be discussed later.<br />
            However, to give some quick ideas;
            <ol>
                <li>
                    If the results will become reliable, for a certain CMRP, the money can be collected from the volunteer users
                    and can be distributed to the organizations within that pool in a certain period time.
                </li>
                <li>
                    If any government can be convinced to use such system, initially they can allocate a certain amount of money and the system can be used by the citizens of that country.
                    Ultimately and ideally, this system should be implemented or at least aligned with the tax system of each country, like in our application.
                </li>
            </ol>
            None of the options is easy and can be achieved in a short period of time.
            Therefore, the first step is to focus on creating a solid application with reliable ratings.
            If this approach can be proved to be worthy in time, we can assume that the rest will follow.
            <!--If the results will come to a level that they can convince anyone easily, we can assume that the rest will follow.-->
        </p>
        <!--<p>
            <strong>CMRP Rate</strong> determines the size of the pool and it works like value added tax;
            if the number of sales gets bigger, <strong>CMRP Amount</strong>, the amount that we can control through the pool gets bigger as well.
            !--If the rate percentage gets bigger, <strong>CMRP Amount</strong>, the amount that we can control through the pool gets bigger as well.--
            In the previous samples, 'CMRP Rate' value was fixed to 10% of the total spendings in the system,
            however it is possible to create samples that the users can also interact with this value.
        </p>-->
        <!--<p>
            At this stage, our application will be used as a simulation tool; we will be creating more and more samples with various cases to show how we could improve the system
            and later, allow you to create your own. So, we can easily experiment with the size of the pool as well.
            In these simulations, experimenting with the pool size would allow us to understand the required size ???
        </p>-->
        <!--<p>
            !--In reality, In order to make an actual change, there has to be an amount in our pools and allocate them based on the outcome.--
            After gathering enough data, if the results convince us that a certain pool can make a difference, then the next phase will be to actually creating the pool.
            How these resource pools and amounts will be realized may vary. Initially, certain amount can be collected from the volunteers.
            In the long run, if the number of convinced people will be getting higher in a certain country and there is a political power,
            to make it much more systematic, it would be ideal to implement such system into the tax system of that country.
        </p>-->
        <!--<p>
            In any case, even if the amount that will be distributed through this system would be very small, publicly affecting the market,
            rewarding the beneficial organizations, would have an important, positive effect to the society.
            !--making a resource distribution by our collective decision would be an important experience and give a message to the organizations.--
        </p>-->
        <!--<p>
            <strong>CMRP Rate</strong> determines the size of the pool, if it gets bigger, the amount that we can control through the pool gets bigger as well.
            In the previous samples, this number was fixed and it was 10% of the total spendings in the system.
            However, like other variables in the system, this rate can also be decided collectively.
        </p>-->
        <!--<p>
            To be able to make a difference in the system, we're allocating the money that has been in the pool.
            In the previous samples, this amount was always fixed and it was 50% higher than <strong>Total Sales Price</strong>.
            In reality, this money has to come from somewhere.
        </p>
        <p>
            Ideal way of creating a <strong>Resource Pool</strong> would be to collect some portion of the money from every transaction,
            like value added tax. However, as seen already, with two important exceptions;
            <ol>
                <li>
                    We the people will control how this pool will be distributed
                </li>
                <li>
                    Every organization in the system can get a share from this pie based on their performance
                </li>
            </ol>
        </p>
        <p>
            As like other parameters of the system, this rate could also be decided collectively.
        </p>-->
        <!--<ul>
            <li>
                By using <code>+</code> button increase <strong>Number of Sales</strong>.
            </li>
            <li>
                Increase or decrease <strong>CMRP Rate</strong> by using <code>+</code> and <code>-</code> buttons next to it, which will update <strong>CMRP Amount</strong> to be distributed.
            </li>
        </ul>
        <resource-pool-editor resource-pool-id="vm.resourcePoolRate_SampleResourcePoolId"></resourcePoolEditor>-->
    </div>
</div>
