/* Brand styling - Probably css class names can be better, parent child structure? */
.brandLink,
.brandLink > a,
.brandLink > a:focus,
.brandLink > a:hover {
    text-decoration: none;
    line-height: 1em;
}

.brandLinkImage {
    margin-right: 10px;
    float: left;
}

.brandLinkText {
    font-family: 'Century Gothic';
    text-decoration: none;
    line-height: 1em;
}

.brandLinkPrimary {
    color: #b08b5f;
    font-size: 16px;
}

.brandLinkSecondary {
    color: #2B2A28;
    font-size: 11px;
}

body {
    font-size: 15px;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.bg-info {
    padding: 15px;
}

ul.bg-info {
    padding-left: 25px;
}

.btn-xs {
    font-size: 10px;
    height: 18px;
    width: 18px;
}

/* Callout Begin */

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

    .bs-callout h4 {
        margin-top: 0;
        margin-bottom: 5px;
    }

    .bs-callout p:last-child {
        margin-bottom: 0;
    }

    .bs-callout code {
        border-radius: 3px;
    }

    .bs-callout + .bs-callout {
        margin-top: -5px;
    }

.bs-callout-danger {
    border-left-color: #d9534f;
}

    .bs-callout-danger h4 {
        color: #d9534f;
    }

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

    .bs-callout-warning h4 {
        color: #f0ad4e;
    }

.bs-callout-info {
    border-left-color: #5bc0de;
}

    .bs-callout-info h4 {
        color: #5bc0de;
    }

/* Callout End */

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* Project level custom helpers / SH 24 Jan. '14 */
.top-buffer {
    margin-top: 10px;
}
