<h2>Pitch</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="bs-callout bs-callout-info">
            <h4>
                Info
            </h4>
            This is the 60 seconds pitch that we are planning to make at <a href="http://www.connect2effect.com" target="_blank">Connect2Effect</a> event in Lisbon on March 10th. You can help us by reviewing it and/or completing our quick <a routerLink="/app/survey">survey</a>. If you have any questions or would like to get more info, please don't hesitate to contact with us. Thank you!
        </div>
    </div>
    <div class="col-md-6">
        <h3>
            Intro
        </h3>
        <p>
            We are proposing a funding system that empowers organizations by seeking benefit over profit.
        </p>
        <p>
            To let organizations grow, next to "profit" and "sales" figures, we need to start counting details like, how much they care about the environment, working conditions for their employees or whether they use open source license to share their knowledge.
        </p>
    </div>
    <div class="col-md-6">
        <h3>
            How it works?
        </h3>
        <ol>
            <li>
                Define categories for organizations to determine the benefits.
            </li>
            <li>
                Enter ratings for each item in the category.
            </li>
            <li>
                Distribute the fund periodically to all organizations based on their preference in the category and their overall performance. More benefits to society means more income from the pool.
            </li>
        </ol>
    </div>
    <div class="col-md-12 g-mt-20">
        <div class="text-center">
            <div>
                <img src="/app/images/flow.png?v=0.70.1" alt="Flow" />
            </div>
            <div class="g-mt-10">
                <span class="small"></span>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <hr />
    </div>
    <div class="col-md-6">
        <h3>
            Results (14 Feb. '17)
        </h3>
        <p>
            As an example, we prepared a <a routerLink="/app/survey">demo survey</a> for <strong>License Category</strong>, and asked people to rate each license based on which one would be more helpful on reaching to <a href="https://sustainabledevelopment.un.org/sdgs">Development Goals</a>.
        </p>
        <p>
            Here are the results:
        </p>
        <ul>
            <li>Number of participants: <strong>6</strong></li>
            <li>Apache-2.0: <strong>27,8%</strong></li>
            <li>EULA: <strong>17,4 %</strong></li>
            <li>GPL-3.0: <strong>27,8 %</strong></li>
            <li>MIT: <strong>27,0 %</strong></li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3>An Extreme Case</h3>
        <p>
            Today, organizations with proprietary license get most of the income.
        </p>
        <p>
            This would be an extreme case but, if software industry would be <u>purely</u> funded through such system by using these results, now open source organizations would have much more income than proprietary ones.
        </p>
        <div class="text-center">
            <div>
                <img src="/app/images/results.png?v=0.70.1" alt="Results" /><br />
            </div>
            <div class="g-mt-10">
                <span class="small">Before &amp; after for operating systems' income</span>
            </div>
        </div>
    </div>
    <div class="col-md-12 g-mt-30">
        <hr />
    </div>
    <div class="col-md-6">
        <h3>
            Benefits
        </h3>
        <p>
            Increasing open source license usage would:
        </p>
        <ul>
            <li>Increase innovation progress across all intellectual property related industries with an estimation of 80 ~ 90%</li>
            <li>Reduce production costs</li>
            <li>Improve education system</li>
            <li>And reduce unemployment</li>
        </ul>
    </div>
    <div class="col-md-6 g-mt-20">
        <div class="text-center">
            <div>
                <img src="/app/images/benefits.png?v=0.70.1" alt="Benefits" />
            </div>
            <div class="g-mt-10">
                <span class="small">Before &amp; after for development progress</span>
            </div>
        </div>
    </div>
    <div class="col-md-12 g-mt-30">
        <hr />
    </div>
    <div class="col-md-6">
        <h3>
            Other Categories
        </h3>
        <p>
            Such funding system could address multiple global issues at the same time:
        </p>
        <ul>
            <li>
                Importance Index for Poverty, Hunger and Clean Water
            </li>
            <li>
                Fair Share Index for Income Inequality
            </li>
            <li>
                Health Index for Good Health
            </li>
            <li>
                Gender Index for Gender Equality
            </li>
            <li>
                And more...
            </li>
        </ul>
    </div>
    <div class="col-md-6 g-mt-20">
        <div class="text-center">
            <div>
                <img src="/app/images/others.png?v=0.70.1" alt="Others" />
            </div>
            <div class="g-mt-10">
                <span class="small">Other possible categories</span>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <!--
            For video?
            <h3>
            More Info
        </h3>
        <p>
            Visit <a href="http://connect2effect.forcrowd.org">http://connect2effect.forcrowd.org</a>
        </p>-->
        <h3>
            Thank you!
        </h3>
    </div>
</div>
