<h2>Survey</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <p>
            Some benefits of sharing the knowledge through using open source licences are listed below.
        </p>
        <p>
            After reading the `Benefits` part, please rate each license based on which one would be more helpful to reaching to <a href="https://sustainabledevelopment.un.org/sdgs">Development Goals</a>.<br />
            0 = Least helpful and 5 = Most helpful.
        </p>
        <p>
            You can read the details of each license by using the following links:
        </p>
        <ul>
            <li>
                <a href="http://opensource.org/licenses/Apache-2.0" target="_blank">Apache-2.0</a>
            </li>
            <li>
                <a href="http://opensource.org/licenses/GPL-3.0" target="_blank">GPL-3.0</a>
            </li>
            <li>
                <a href="http://opensource.org/licenses/MIT" target="_blank">MIT</a>
            </li>
            <li>
                <a href="http://en.wikipedia.org/wiki/End-user_license_agreement" target="_blank">EULA (Wikipedia)</a>
            </li>
        </ul>
        <p>
            <strong>Results</strong> section in 'Pitch' page will be regularly updated based on this data.
        </p>
        <h3>
            Benefits
        </h3>
        <p>
            Increasing open source license usage would (work on numbers?):
        </p>
        <ul>
            <li>Increase innovation progress across all industries with an estimation of 80 ~ 90%</li>
            <li>Reduce production costs</li>
            <li>Improve education system</li>
            <li>And reduce unemployment</li>
        </ul>
        <resource-pool-editor [config]="surveyConfig"></resource-pool-editor>
    </div>
</div>
