<h2>Survey</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <p>
            Here are some benefits of sharing the knowledge by using open source licences:
        </p>
        <ul>
            <li>Increase innovation progress across all industries with an estimation of 80 ~ 90%</li>
            <li>Reduce production costs</li>
            <li>Improve education system</li>
            <li>And reduce unemployment</li>
        </ul>
        <p>
            Below, we listed four major licenses in software industry. Based on these benefits, please rate each license on which one would be more helpful to society, for instance helping us to reaching to <a href="https://sustainabledevelopment.un.org/sdgs">Development Goals</a>.
        </p>
        <p>
            You can use the following links to read the details of each license:
        </p>
        <ul>
            <li>
                <a href="http://opensource.org/licenses/Apache-2.0" target="_blank">Apache-2.0</a>
            </li>
            <li>
                <a href="http://en.wikipedia.org/wiki/End-user_license_agreement" target="_blank">EULA (Wikipedia)</a>
            </li>
            <li>
                <a href="http://opensource.org/licenses/GPL-3.0" target="_blank">GPL-3.0</a>
            </li>
            <li>
                <a href="http://opensource.org/licenses/MIT" target="_blank">MIT</a>
            </li>
        </ul>
        <p>
            "Results" section in <a routerLink="/app/pitch">Pitch</a> page will be regularly updated based on this data.
        </p>
        <p>
            0 = Least helpful and 5 = Most helpful.
        </p>
        <resource-pool-editor [config]="surveyConfig"></resource-pool-editor>
    </div>
</div>
