<div class="row">
    <div class="col-md-12">
        <h3>
            Implementation
        </h3>
        <div class="bs-callout bs-callout-info">
            <h4>
                How can we use this system and where will this money come from?
            </h4>
        </div>
        <p>
            At this stage, our application will be used as a simulation tool;
            there will be more samples with various cases to show how we could improve the system.
        </p>
        <p>
            After a while, if it get can enough support and shows that it can make a difference,
            there are two possible ways to implement it.
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Crowd Fund / Investment: Less effective but easy to implement</h3>
                        </div>
                        <div class="panel-body">
                            We can create various crowd funded piggy banks and use these funds to support the organizations based on the results that we collectively decide.
                            Naturally the impact of this option would be limited, however would be an easy start.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Government Taxes / Subsidies: Difficult to achieve but ultimate solution</h3>
                        </div>
                        <div class="panel-body">
                            Push political parties, governments to use this approach as a sort of subsidy program that will be funded through tax system.
                            It would be difficult to achieve this but in order to solve these problems, we believe this should be a society level contract that we all equally contribute.
                        </div>
                    </div>
                </div>
            </div>
        </p>
    </div>
</div>
