<div class="jumbotron">
    <h1>Wealth Economy</h1>
    <p class="lead">An experimental, open source crowd investment platform</p>
</div>
<div class="row">
    <div class="col-md-12">
        <div data-ng-include="'/_system/views/content/prologue.html?v=0.51.0'"></div>
        <hr />
        <div data-ng-include="'/_system/views/content/introduction.html?v=0.53.0'"></div>
        <hr />
        <div data-ng-include="'/_system/views/content/basics.html?v=0.53.0'"></div>
        <hr />
        <div data-ng-include="'/_system/views/content/priorityIndex.html?v=0.49.0'"></div>
        <hr />
        <div data-ng-include="'/_system/views/content/knowledgeIndex.html?v=0.51.0'"></div>
        <hr />
        <div data-ng-include="'/_system/views/content/totalCostIndex.html?v=0.47.1'"></div>
        <hr />
        <div data-ng-include="'/_system/views/content/allInOne.html?v=0.49.0'"></div>
        <hr />
        <div data-ng-include="'/_system/views/content/implementation.html?v=0.49.0'"></div>
        <hr />
        <div data-ng-include="'/_system/views/content/reason.html?v=0.49.0'"></div>
    </div>
</div>
