<div class="row">
    <div class="col-md-12">
        <h3>
            Reason: Impossible Task
        </h3>
        <div class="bs-callout bs-callout-info">
            <h4>
                Why we fail in the current system and why we need this approach in the first place?
            </h4>
        </div>
        <p>
            It should be mentioned that we already have two important tools to improve the current system;
            <ol>
                <li>Competition between the organizations</li>
                <li>Increasing the awareness of the consumers</li>
            </ol>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p>
            Both serves for the benefit of the society and even if we don't develop applications like this one, these tools will be improving the system in the long run;
            competition will allow us to have better organizations in time and by increasing the awareness, consumers will have better knowledge about the organizations,
            so they will choose the right ones.
        </p>
        <p>
            However this still would be an unnecessarily slow process.
            If an organization has a clear advantage for the society, the system could be modified in such a way that it could support this benefit automatically.
        </p>
        <p>
            The main issue in the current system is that it leaves the whole responsibility to the consumers;
            <u>every consumer must know every detail about the products and their organizations before making any single purchase</u>, therefore allocating the resources.
            The amount of information has to be collected and processed by each consumer is simply massive and expecting consumers to fulfill this task is an impractical one.
        </p>
        <p>
            In today's system, this knowledge gap is closed by marketing; the consumers make their choices not based on facts but based on advertisements, packages and colors.
            Marketing is a powerful tool and will always play a role but influencing the consumers at such level and shaping the outcome is in not our best interest.
        </p>
        <p>
            We need complex applications to be able to manage our resources, in order to have healthier and more productive society.
            Creating a proper solution is a long shot, there are many aspects to be considered; functionality, legality, security, performance and so on.
            However, we would like to make our first move with this small step.
        </p>
    </div>
    <div class="col-md-6">
        <img src="/_system/images/PresentvsNew.png?v=0.49.0" alt="Present vs. New" class="center-block" />
    </div>
</div>
