<?xml version="1.0" encoding="utf-8"?>
<appSettings>

    <!-- Email service etc. settings vary on based on environment type -->
    <!-- Local | Test | Live -->
    <add key="Environment" value="Local" />

    <!-- Will be used in CORS policy & in emails to prepare the links and social login callbacks -->
    <add key="ClientAppUrl" value="http://localhost:15002" />

    <!-- Determines whether SSL connection required for api & odata calls & email service -->
    <add key="EnableSsl" value="false" />

    <!-- Registration emails will be send from this address (leave it blank in case you don't want to send registration emails) -->
    <add key="RegistrationEmailAddress" value="" />

    <!-- Notification emails will be send to this address (leave it blank in case you don't want to get notifications) -->
    <add key="NotificationEmailAddress" value="" />

    <!-- Social logins - Facebook -->
    <add key="FacebookAppId" value="" />
    <add key="FacebookAppSecret" value="" />

    <!-- Social logins - Google -->
    <add key="GoogleClientId" value="" />
    <add key="GoogleClientSecret" value="" />

    <!-- Social logins - Microsoft -->
    <add key="MicrosoftClientId" value="" />
    <add key="MicrosoftClientSecret" value="" />

</appSettings>
