<div class="page-header">
    <h1>Overview</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            Today we're facing many major issues due to how the economic system works.
    @*        Today we're facing many issues that are related with how the economic system works, like;*@
            <ul>
                <li>
                    Inequality in wealth distribution
                </li>
                <li>
                    Knowledge dependency
                    @*                    Knowledge (Know How) dependency <span class="reviewLater">(Correct terminology?)</span>*@
                </li>
                <li>
                    Invalid order of needs
                    @*                    Invalid order of needs <span class="reviewLater">(Cosmetic budgets over education + health care)</span>*@
                </li>
                <li>
                    Exploitation of the workers
                </li>
                <li>
                    Unemployment
                </li>
                @*<li>
                        Economic crises
                    </li>
                    <li>
                        Consumerism
                    </li>
                    <li>
                        Ecological destruction
                    </li>*@
                @*<li>
                        Poverty
                    </li>
                    <li>
                        Abundance vs Hunger and so on <span class="reviewLater">(Remove abundance? count only issues?)</span>
                    </li>*@
            </ul>
        </p>
        @*<p>
            The purpose of the economic system could be defined as to allocate the resources to the most productive, fair organizations in the society.
            First issue is that there is no systematic way to measure and reward the benefits, like productiveness, fairness or generocity and we simply focus
            to the only parameter that's left to measure: the profit. This means, in the current system, the primary goal of the majority of the organizations
            is to gain more profit, everything else can be secondary.
        </p>*@
        <p>
            The purpose of the economic system could be defined as to allocate the resources to the organizations with the most benefits.
            First issue is that there is no systematic way to measure and reward the benefits, like productiveness, fairness towards employees
            or even high quality. Naturally the only parameter that's left to measure gets all the focus: the profit. This means, in the current system,
            the primary goal of the majority of the organizations is to gain more profit, everything else can be secondary.
        </p>
        <p>
            The second core is the "Burden of the Consumer". The responsibility falls to the consumers. If the consumers could make
            the right choices in the market and reward the correct organizations, based on their overall benefits, we could have some balance in
            the system. However, to achieve this task, every individual consumer must be able gather, process and even compare every piece of knowledge
            of each product and organization in the market.
        </p>
        <p>
            We believe that expecting from every individual consumer to fulfill this task is an impractical one.
        </p>
        <hr />
        @*<p>
            The consumers actually know what is important for them.
            If before purchasing any product or service, all hidden but important details of every product and organization could be revealed to the consumer,
            <span class="reviewLater">she (?)</span> could make the right choice.
        </p>*@
        @*<p>
            However the problem is that there are just too many products and massive number of details that the consumer should gather and process
            before making any decision. We believe this is an impractical expectation. <span class="reviewLater">A single family needs more than
            200 different items from a market every month and  there are more than 10 firms for even a toilet paper.</span>
        </p>*@
@*        <h2>Crowd Managed Resource Pool</h2>*@
        <p>
            Instead, we could attempt to create a system that measures the benefits, and then allocates resources to the organizations,
            based on determining how much these benefits have been satisfied.

             @*allocated . Then, the resources could be allocated to the organizations based on their
            overall benefits to the society, we could have better results. The people could collectively decide the type of benefits and their importance.
            
            indicate their benefits to the , ,
            based on the collective decisions of the people and the resources could be allocated to the organizations ,
            by the collective decisions
            of the people and using additional parameters that incidates other "benefits", we could have better results.*@

        @*However, if all the resources could be collected into one pool and distributed to the organizations through peoples
            <span class="reviewLater">early(?)</span> collective decisions (by having some additional parameters), we could have a much more fair result.*@
        </p>
        <p>
            @*This pool could contain following parameters;*@
            The following items could be used to measure the benefits;
            <ul>
                <li>
                    Total Cost Index: How much the organization costs to the society to provide the its products / services.
                    In other words, how much the organization is profit oriented.
                    @*<span class="reviewLater">Would you reward a firm that produces for 1 and sells for 5 or the one produces for 1 and sells for 1</span>*@
                </li>
                <li>
                    Knowledge Index: How much the organization provides its know how and rights. <span class="reviewLater">Would you reward a firm that shares its knowledge so every company dont have to invent fire again on its own.</span>
                </li>
                <li>
                    Quality Index: What level of quality the product has. <span class="reviewLater">Would not you want to buy the more durable or non-toxic item</span>
                </li>
                <li>
                    Sector Index: Allows people decide which sectors are more important for them. <span class="reviewLater">Do you know that if asked people want to spend more to healthcare but spend more to beauty products in the end.</span>
                </li>
                <li>
                    Employee Satisfaction Index: How much standardized(?) are the rights of employees. <span class="reviewLater">Would you want to reward a firm whose employees are happy to work there.</span>
                </li>
                <li>
                    Customer Satisfaction Index: How much the company aims to please consumers. <span class="reviewLater">Don't you want to reward the firm which has satisfied its customers.</span>
                </li>
                <li>
                    Distance Index: How close the production facility is to its consumers. <span class="reviewLater">Think about used resources when the production is far from the stalls.</span>
                </li>
                <li>
                    Distribution indexes Pie: Determines the weight of above parameters to each other in the system. <span class="reviewLater">Which of these parameters are more important for you.</span>
                </li>
            </ul>
        </p>
        <h3>
            Implementation
        </h3>
        <p>
            Ideal way of implementing this resource pool would be to collect some portion of the money from every transaction, like value added tax but with two important exceptions;

            <ul>
                <li>
                    The people will control how it will be distributed
                </li>
                <li>
                    Every organization in the system can get a share from this pie
                </li>
                <li>
                    <span class="reviewLater">(In the end value added tax returns to the employees and therefore to people)</span>
                </li>
            </ul>
        </p>
    </div>
</div>
