<div class="page-header">
    <h1>Technology</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            Technologies that are in use in this project;
            <ul>
                <li>
                    Framework: .NET Framework 4.5 + ASP.NET MVC 5
                </li>
                <li>
                    Database: SQL Server 2008 R2
                </li>
            </ul>
        </p>
    </div>
</div>
