<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
       <files>
         <clear />
         <add value="deafault.aspx"/>
       </files>
    </defaultDocument>
    <rewrite>
       <rules>
         <clear />
         <rule name="Redirect to https" stopProcessing="true" enabled="false">
            <match url="(.*)"/>
            <conditions>
              <add input="{HTTPS}" pattern="off" ignoreCase="true"/>
            </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Temporary" appendQueryString="false"/>
         </rule>
         <rule name="AngularJS Routes" stopProcessing="true">
           <match url=".*"/>
           <conditions logicalGrouping="MatchAll">
             <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
           </conditions>
           <action type="Redirect" url="/"/>
         </rule>
       </rules>
    </rewrite>
    <staticContent>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="font/woff2"/>
    </staticContent>
     </system.webServer>
</configuration>