<div class="row">
    <div class="col-md-12">
        <h3>
            Basics
        </h3>
        <p>
            In the following example, there are four organizations that are equal to each other in every aspect, except they use different strategies to motivate their employees.
            In <strong>Existing Model</strong>, since this difference is ignored, each organization will have the same <strong>Total Income</strong>.
        </p>
        <p>
            <strong>New Model</strong> introduces <strong>Employee Satisfaction Index</strong>.
            By using this index, we can enter which organization's employees satisfied with their organization's strategy
            and based on this new data, organizations' Total Income will now differ.
        </p>
        <ul>
            <li>
                In Existing Model, increase organizations' <strong>Number of Sales</strong> by clicking <code>+</code> button.<br />
                This will increase Number of Sales of all organizations in both models to let you compare the results easily.
            </li>
            <li>
                In New Model, update <strong>Employee Satisfaction</strong> rating of the organizations by using <code>+</code> and <code>-</code> buttons next to them.<br />
                See the difference in Total Income fields in both models.
            </li>
            <li>
                <strong>CMRP Rate / Amount:</strong>
                Since New Model uses <strong>CMRP</strong>, it requires an amount to be distributed.<br />
                This amount will automatically be calculated based on <strong>CMRP Rate</strong> which is 10% of the total spendings in the system.<br />
                When you change the values of Number of Sales, <strong>CMRP Amount</strong> will be changed accordingly.<br />
                This approach will be used throughout the samples and the details will be explained in further chapters.
            </li>
            <li>
                <strong>Ratings switch:</strong>
                In New Model, notice <strong>Ratings</strong> switch next to its title.<br />
                The number shows how many users have already entered their ratings for this CMRP.<br />
                In each CMRP, toggle the switch to see only your ratings or the average of all users.
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <project-viewer [config]="{ mainElementId: -1, title: 'Basics - Old Model' }"></project-viewer>
    </div>
    <div class="col-md-7">
        <project-viewer [config]="{ mainElementId: -1, title: 'Basics - New Model' }"></project-viewer>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            If we could rate 'Employee Satisfaction' of the organizations in real life, we could reward the ones with a higher rating as in this sample.
            Adding indexes to the system sets additional priorities for the organizations, instead of just focusing to profit.
        </p>
        <p>
            Although only three different indexes will be presented in the following chapters, as long as they are measurable, more indexes can be added into the system.
        </p>
    </div>
</div>
