<div class="row">
    <div class="col-md-12">
        <h3>
            Knowledge Index: Global Knowledge Database
        </h3>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="bs-callout bs-callout-info">
            <h4>
                How can we encourage organizations to share their knowledge?
            </h4>
        </div>
        <p>
            While creating new products and services, organizations also produce the <i>knowledge</i> of how these products, services could be created.
            All sorts of intellectual property, like discoveries, inventions, formulas; music, literature, and other artistic works; software source codes, and designs could be counted as such knowledge.
        </p>
        <p>
            Although this is a very unique and important asset to the society, majority of the organizations tend to keep this knowledge to themselves by using restricted licenses, patents.
            In the long term, this 'overprotection' turns out to be a very counter-productive approach, reduces the collaboration chance between the organizations.
            When the knowledge has not shared, every other organization has to spend a similar time and energy to get to the same level.
            In other words, we keep reinventing the same knowledge over and over again.
        </p>
        <p>
            Rewarding the organizations that use licenses with more flexible rights could encourage sharing the knowledge and let us build a common knowledge.
        </p>
        <p>
            <strong>Knowledge Index</strong> allows us to compare the patents, licenses side by side and rate them directly.
            The resources then could be distributed to the organizations based on their license choice.
        </p>
        <p>
            In the next part, you will see two sample software licenses that represent the existing situation in general.
            Open source licenses usually give much more right to the users of its product and
            restricted licenses, mostly used for proprietary products, would only allow the product to be used by its owner.
        </p>
        <p>
            In reality, from income perspective, restricted licenses dominate their market,
            meaning that we reward the organizations that keep their knowledge to themselves.
        </p>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <ngChart [config]="oldModelChartConfig"></ngChart>
            </div>
            <div class="col-md-6">
                <ngChart [config]="newModelChartConfig"></ngChart>
            </div>
        </div>
        <p class="small">
            <i>If we could encourage the organizations to share their knowledge and let them cooperate, we would save massive time & energy and start building a common knowledge.</i>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul>
            <li>
                Click on <code>License</code> link below and rate each item based on their benefits.
            </li>
            <li>
                Go back to initial view to see the difference in Total Income.
            </li>
        </ul>
        <resource-pool-editor [config]="knowledgeIndexConfig"></resource-pool-editor>
        <p>
            In example below, we list some popular software licenses.
            As an optional step, we would like to encourage you to rate these licenses.
            This would allow us to see which licenses we think are more beneficial and let us simulate the impact of 'Knowledge Index' in real life.
            You can read the details of each license by using the following links:
        </p>
        <ul>
            <li>
                <a href="http://opensource.org/licenses/Apache-2.0" target="_blank">Apache-2.0</a>
            </li>
            <li>
                <a href="http://opensource.org/licenses/GPL-3.0" target="_blank">GPL-3.0</a>
            </li>
            <li>
                <a href="http://opensource.org/licenses/MIT" target="_blank">MIT</a>
            </li>
            <li>
                <a href="http://en.wikipedia.org/wiki/End-user_license_agreement" target="_blank">EULA (Wikipedia)</a>
            </li>
        </ul>
        <resource-pool-editor [config]="popularSoftwareLicensesConfig"></resource-pool-editor>
    </div>
</div>
