<script src="Scripts/app/services/organizationService.js"></script>
<script src="Scripts/app/services/licenseService.js"></script>
<script src="Scripts/app/services/sectorService.js"></script>
<script src="Scripts/app/controllers/organizationListController.js"></script>
<script src="Scripts/app/controllers/organizationEditController.js"></script>
<div data-ng-view></div>
