<script src="Scripts/app/services/generated/organizationService.js"></script>
<script src="Scripts/app/services/generated/licenseService.js"></script>
<script src="Scripts/app/services/generated/sectorService.js"></script>
<script src="Scripts/app/controllers/organizationListController.js"></script>
<script src="Scripts/app/controllers/organizationEditController.js"></script>
<div data-ng-view></div>
