<style>
    .fa-heart, .fa-heart-o {
        color: #E5233D;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <h3>
            Additional (Project Level) Goals
        </h3>
        <p>
            Optionaly you can also set these additional goals for the idea owners.<br />
        </p>
        <hr />
        <h4>Legal Entities</h4>
        <p>
            Please choose how the fund should be distributed between "For-profit" and "Non-profit" ideas. If the idea has no legal entity yet, their status will be "Not yet incorporated".
        </p>
        <div class="row">
            <div class="col-md-6 g-mt-20" *ngFor="let item of legalEntityElement.ElementItemSet">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <strong>
                            {{ item.Name }}
                        </strong>
                    </div>
                    <div class="col-md-8">
                        <button type="button" (click)="updateRating(item.elementCell('Legal Entity Rating'), 0)" class="btn btn-link">
                            <i class="fa fa-2x" aria-hidden="true" [ngClass]="{ 'fa-heart-o': item.elementCell('Legal Entity Rating').numericValue() < 0, 'fa-heart': item.elementCell('Legal Entity Rating').numericValue() >= 0 }"></i>
                        </button>
                        <button type="button" (click)="updateRating(item.elementCell('Legal Entity Rating'), 25)" class="btn btn-link">
                            <i class="fa fa-2x" aria-hidden="true" [ngClass]="{ 'fa-heart-o': item.elementCell('Legal Entity Rating').numericValue() < 25, 'fa-heart': item.elementCell('Legal Entity Rating').numericValue() >= 25 }"></i>
                        </button>
                        <button type="button" (click)="updateRating(item.elementCell('Legal Entity Rating'), 50)" class="btn btn-link">
                            <i class="fa fa-2x" aria-hidden="true" [ngClass]="{ 'fa-heart-o': item.elementCell('Legal Entity Rating').numericValue() < 50, 'fa-heart': item.elementCell('Legal Entity Rating').numericValue() >= 50 }"></i>
                        </button>
                        <button type="button" (click)="updateRating(item.elementCell('Legal Entity Rating'), 75)" class="btn btn-link">
                            <i class="fa fa-2x" aria-hidden="true" [ngClass]="{ 'fa-heart-o': item.elementCell('Legal Entity Rating').numericValue() < 75, 'fa-heart': item.elementCell('Legal Entity Rating').numericValue() >= 75 }"></i>
                        </button>
                        <button type="button" (click)="updateRating(item.elementCell('Legal Entity Rating'), 100)" class="btn btn-link">
                            <i class="fa fa-2x" aria-hidden="true" [ngClass]="{ 'fa-heart-o': item.elementCell('Legal Entity Rating').numericValue() < 100, 'fa-heart': item.elementCell('Legal Entity Rating').numericValue() === 100 }"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <h4>Licenses</h4>
        <p>
            If the idea involves developing a software, how the fund should be distributed between various licenses.
            Open source licenses are about sharing the knowledge and has many benefits to society.
        </p>
        <div class="row">
            <div class="col-md-6 g-mt-20" *ngFor="let item of licenseElement.ElementItemSet">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <strong>
                            {{ item.Name }}
                        </strong>
                    </div>
                    <div class="col-md-8">
                        <button type="button" (click)="updateRating(item.elementCell('License Rating'), 0)" class="btn btn-link">
                            <i class="fa fa-2x" aria-hidden="true" [ngClass]="{ 'fa-heart-o': item.elementCell('License Rating').numericValue() < 0, 'fa-heart': item.elementCell('License Rating').numericValue() >= 0 }"></i>
                        </button>
                        <button type="button" (click)="updateRating(item.elementCell('License Rating'), 25)" class="btn btn-link">
                            <i class="fa fa-2x" aria-hidden="true" [ngClass]="{ 'fa-heart-o': item.elementCell('License Rating').numericValue() < 25, 'fa-heart': item.elementCell('License Rating').numericValue() >= 25 }"></i>
                        </button>
                        <button type="button" (click)="updateRating(item.elementCell('License Rating'), 50)" class="btn btn-link">
                            <i class="fa fa-2x" aria-hidden="true" [ngClass]="{ 'fa-heart-o': item.elementCell('License Rating').numericValue() < 50, 'fa-heart': item.elementCell('License Rating').numericValue() >= 50 }"></i>
                        </button>
                        <button type="button" (click)="updateRating(item.elementCell('License Rating'), 75)" class="btn btn-link">
                            <i class="fa fa-2x" aria-hidden="true" [ngClass]="{ 'fa-heart-o': item.elementCell('License Rating').numericValue() < 75, 'fa-heart': item.elementCell('License Rating').numericValue() >= 75 }"></i>
                        </button>
                        <button type="button" (click)="updateRating(item.elementCell('License Rating'), 100)" class="btn btn-link">
                            <i class="fa fa-2x" aria-hidden="true" [ngClass]="{ 'fa-heart-o': item.elementCell('License Rating').numericValue() < 100, 'fa-heart': item.elementCell('License Rating').numericValue() === 100 }"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="text-center">
            <button (click)="navigateToGoalsPriority()" class="btn btn-lg btn-default">
                Goals Priority <i class="fa fa-lg fa-arrow-right"></i> 
            </button>
        </div>
    </div>
</div>
