<style>
    .fa-heart, .fa-heart-o {
        color: #E5233D;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <h3>
            Goals Priority
        </h3>
        <p>
            Now we have to set the importance of each goal.
        </p>
        <div class="row" *ngIf="projectElement">
            <div class="col-md-6 g-mt-20" *ngFor="let field of projectElement.elementFieldIndexSet()">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <strong>
                            {{ field.Name }}
                        </strong>
                    </div>
                    <div class="col-md-8">
                        <button type="button" (click)="updateRating(field, 0)" class="btn btn-link">
                            <i class="fa fa-2x" aria-hidden="true" [ngClass]="{ 'fa-heart-o': field.indexRating() < 0, 'fa-heart': field.indexRating() >= 0 }"></i>
                        </button>
                        <button type="button" (click)="updateRating(field, 25)" class="btn btn-link">
                            <i class="fa fa-2x" aria-hidden="true" [ngClass]="{ 'fa-heart-o': field.indexRating() < 25, 'fa-heart': field.indexRating() >= 25 }"></i>
                        </button>
                        <button type="button" (click)="updateRating(field, 50)" class="btn btn-link">
                            <i class="fa fa-2x" aria-hidden="true" [ngClass]="{ 'fa-heart-o': field.indexRating() < 50, 'fa-heart': field.indexRating() >= 50 }"></i>
                        </button>
                        <button type="button" (click)="updateRating(field, 75)" class="btn btn-link">
                            <i class="fa fa-2x" aria-hidden="true" [ngClass]="{ 'fa-heart-o': field.indexRating() < 75, 'fa-heart': field.indexRating() >= 75 }"></i>
                        </button>
                        <button type="button" (click)="updateRating(field, 100)" class="btn btn-link">
                            <i class="fa fa-2x" aria-hidden="true" [ngClass]="{ 'fa-heart-o': field.indexRating() < 100, 'fa-heart': field.indexRating() === 100 }"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="text-center">
            <button (click)="navigateToSponsors()" class="btn btn-lg btn-default">
                Sponsors <i class="fa fa-lg fa-arrow-right"></i> 
            </button>
        </div>
    </div>
</div>
