<div class="row">
    <div class="col-md-12">
        <h3>
            Sponsors
        </h3>
        <h4>
            Special thanks to all our sponsors that allows to make this happen!
        </h4>
        <p>
            Here are this month's sponsors.
        </p>
        <hr />
        <div class="row">
            <div class="col-md-6 g-mt-20" *ngFor="let item of sponsors">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <i class="fa fa-4x fa-trophy"></i>
                        <br />
                        <strong>
                            {{ item.Name }}
                        </strong>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="text-center">
            <button (click)="navigateToDashboard()" class="btn btn-lg btn-default">
                Dashboard <i class="fa fa-lg fa-arrow-right"></i> 
            </button>
        </div>
    </div>
</div>
