<script src="Scripts/app/services/generated/resourcepoolorganizationService.js"></script>
<script src="Scripts/app/services/generated/resourcepoolService.js"></script>
<script src="Scripts/app/services/generated/organizationService.js"></script>
<script src="Scripts/app/controllers/resourcepoolorganizationListController.js"></script>
<script src="Scripts/app/controllers/resourcepoolorganizationEditController.js"></script>
<div data-ng-view></div>
