<script src="Scripts/app/services/resourcepoolorganizationService.js"></script>
<script src="Scripts/app/services/resourcepoolService.js"></script>
<script src="Scripts/app/services/organizationService.js"></script>
<script src="Scripts/app/controllers/resourcepoolorganizationListController.js"></script>
<script src="Scripts/app/controllers/resourcepoolorganizationEditController.js"></script>
<div data-ng-view></div>
