.resourcePoolEditor {
    font-family: Tahoma;
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
    font-size: 11px;
    padding: 1.5em 0;
}

    .resourcePoolEditor .heading {
        padding: 15px;
    }

    .resourcePoolEditor .title {
        font-size: 18px;
        line-height: 2em;
    }

    .resourcePoolEditor hr {
        margin: 10px 0 20px 0;
        border-color: #ddd;
    }

    .resourcePoolEditor .description {
        padding: 30px 15px;
        font-size: 14px;
        line-height: 1.5em;
        border-bottom: 1px solid #ddd;
    }

    .resourcePoolEditor .settings,
    .resourcePoolEditor .details {
        min-height: 3em;
    }

    .resourcePoolEditor .details label, .resourcePoolEditor .details span {
        border-bottom: 1px solid #ddd;
        display: inline-block;
        line-height: 2em;
        margin-bottom: 0;
        min-width: 125px;
        padding: 5px;
    }

.resourcePoolTable {
}

    .resourcePoolTable > thead > tr > th {
        vertical-align: top;
    }

    .resourcePoolTable > thead > tr > th,
    .resourcePoolTable > thead > tr > td,
    .resourcePoolTable > tbody > tr > td,
    .resourcePoolTable > tfoot > tr > td {
        line-height: 2em;
        min-width: 85px;
        overflow: hidden; /* Hide text outside the cell */
        padding: 3px;
    }

    .resourcePoolTable .infoText {
        margin-left: 2px;
    }

    .resourcePoolTable .incomeStatusLow {
        color: #a94442;
    }

    .resourcePoolTable .incomeStatusAverage {
        /* color: ? */
    }

    .resourcePoolTable .incomeStatusHigh {
        color: #3c763d;
    }

    .resourcePoolTable .noborder {
        border: 0;
    }

.label-as-on-badge {
    border-radius: 1em;
    background-color: #3c763d;
    cursor: pointer;
    margin-left: 5px;
}

.label-as-off-badge {
    border-radius: 1em;
    background-color: #a94442;
    cursor: pointer;
    margin-left: 5px;
}
