<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <compilation debug="false" targetFramework="4.5.2" />
    </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="app.html" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <clear />
                <!-- build:web-config -->
                <!-- This block will be replaced with "https redirect rule" during "build" tasks in gulpfile -->
                <!-- endbuild -->
                <rule name="Angular Routes" stopProcessing="true" enabled="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/" />
                </rule>
            </rules>
        </rewrite>
        <security>
            <requestFiltering allowDoubleEscaping="true">
                <hiddenSegments>
                    <!-- Fix: systemjs.config.js points to a "bin" folder for "traceur.js" mapping / coni2k - 11 Jan. '17 -->
                    <remove segment="bin" />
                </hiddenSegments>
            </requestFiltering>
        </security>
        <staticContent>
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
        </staticContent>
    </system.webServer>
</configuration>
