<div data-ng-controller="resourcePoolCustomViewController as vm">
    <h2>{{ vm.resourcePool.Name }}</h2>

    <p>
        <div class="btn-group">
            <button type="submit" data-ng-click="vm.increaseMultiplier()" class="btn btn-default">Increase {{ vm.resourcePool.MainElement.MultiplierFieldName }}</button>
            <button type="submit" data-ng-click="vm.decreaseMultiplier()" class="btn btn-default">Decrease {{ vm.resourcePool.MainElement.MultiplierFieldName }}</button>
            <button type="submit" data-ng-click="vm.resetMultiplier()" class="btn btn-default">Reset {{ vm.resourcePool.MainElement.MultiplierFieldName }}</button>
        </div>
    </p>
    <p>
        CMRP Rate: {{ vm.resourcePool.ResourcePoolRatePercentage | percentage:2 }} - Number of ratings: {{ vm.resourcePool.UserResourcePoolRatingCount }}
    </p>
    <table class="table">
        <!-- Header -->
        <tr>
            <!-- Fields -->
            <td data-ng-repeat="field in vm.resourcePool.MainElement.ElementFieldSet">
                <table class="table" data-ng-if="field.ElementFieldType !== 11 && field.ElementFieldType !== 12">
                    <tr>
                        <th>
                            {{ field.Name }}
                        </th>
                    </tr>
                </table>
            </td>

            <!-- CMRP Field(s) + Multiplier(s) + Totals -->
            <th data-ng-show="vm.resourcePool.MainElement.HasResourcePoolField">
                {{ vm.resourcePool.MainElement.ResourcePoolFieldName }}
            </th>
            <th data-ng-show="vm.resourcePool.MainElement.HasResourcePoolField">
                CMRP Addition
            </th>
            <th data-ng-show="vm.resourcePool.MainElement.HasResourcePoolField">
                {{ vm.resourcePool.MainElement.ResourcePoolFieldName }} incl. CMRP Addition
            </th>
            <th data-ng-show="vm.resourcePool.MainElement.HasMultiplierField">
                {{ vm.resourcePool.MainElement.MultiplierFieldName }}
            </th>
            <th data-ng-show="vm.resourcePool.MainElement.HasResourcePoolField && vm.resourcePool.MainElement.HasMultiplierField">
                Total {{ vm.resourcePool.MainElement.ResourcePoolFieldName }}
            </th>
            <th data-ng-show="vm.resourcePool.MainElement.HasResourcePoolField && vm.resourcePool.MainElement.HasMultiplierField">
                Total CMRP Addition
            </th>
            <th data-ng-show="vm.resourcePool.MainElement.HasResourcePoolField && vm.resourcePool.MainElement.HasMultiplierField">
                Total {{ vm.resourcePool.MainElement.ResourcePoolFieldName }} incl. CMRP Addition
            </th>
            <!-- Indexes -->
            <th data-ng-repeat="item in vm.resourcePool.MainElement.ElementFieldIndexSet">
                {{ item.Name }}
                <br />
                <table class="table">
                    <tr>
                        <th>
                            Rating Avg. Multiplied
                        </th>
                        <th>
                            Rating Percentage
                        </th>
                        <th>
                            Income
                        </th>
                    </tr>
                </table>
            </th>
            <!-- Totals -->
            <th>
                Total Income
            </th>
        </tr>
        <!-- Rows -->
        <tr data-ng-repeat="elementItem in vm.resourcePool.MainElement.ElementItemSet">
            <!-- Fields -->
            <td data-ng-repeat="elementCell in elementItem.ElementCellSet">
                <table class="table" data-ng-if="elementCell.ElementFieldType !== 11 && elementCell.ElementFieldType !== 12">
                    <tr>
                        <td data-ng-show="elementCell.ElementFieldType === 1">
                            {{ elementCell.StringValue }}
                        </td>
                        <td data-ng-show="elementCell.ElementFieldType === 2">
                            {{ elementCell.BooleanValue }}
                        </td>
                        <td data-ng-show="elementCell.ElementFieldType === 3">
                            {{ elementCell.IntegerValue }}
                        </td>
                        <td data-ng-show="elementCell.ElementFieldType === 4">
                            {{ elementCell.DecimalValue }}
                        </td>
                        <td data-ng-show="elementCell.ElementFieldType === 5">
                            {{ elementCell.DateTimeValue }}
                        </td>
                    </tr>
                </table>
            </td>

            <!-- CMRP Field(s) + Multiplier(s) + Totals -->
            <td data-ng-show="elementItem.HasResourcePoolCell">
                {{ elementItem.ResourcePoolCellValue | number: 2 }}
            </td>
            <td data-ng-show="elementItem.HasResourcePoolCell">
                {{ elementItem.ResourcePoolAddition | number: 2 }}
            </td>
            <td data-ng-show="elementItem.HasResourcePoolCell">
                {{ elementItem.ResourcePoolValueIncludingAddition | number: 2 }}
            </td>
            <td data-ng-show="elementItem.HasMultiplierCell">
                {{ elementItem.MultiplierCellValue | number: 2 }}
            </td>
            <td data-ng-show="elementItem.HasResourcePoolCell && elementItem.HasResourcePoolCell">
                {{ elementItem.TotalResourcePoolValue | number: 2 }}
            </td>
            <td data-ng-show="elementItem.HasResourcePoolCell && elementItem.HasResourcePoolCell">
                {{ elementItem.TotalResourcePoolAddition | number: 2 }}
            </td>
            <td data-ng-show="elementItem.HasResourcePoolCell && elementItem.HasResourcePoolCell">
                {{ elementItem.TotalResourcePoolValueIncludingAddition | number: 2 }}
            </td>
            <!-- Indexes -->
            <td data-ng-repeat="elementFieldIndex in vm.resourcePool.MainElement.ElementFieldIndexSet">
                <div data-ng-repeat="elementCell in elementItem.ElementCellSet">
                    <div data-ng-show="elementCell.ElementFieldType !== 6">
                        <table class="table" data-ng-show="elementFieldIndex.ElementFieldId === elementCell.ElementFieldId">
                            <tr>
                                <td>
                                    {{ elementCell.ValueMultiplied | number:2 }}
                                </td>
                                <td>
                                    {{ elementCell.ValuePercentage | percentage:2 }}
                                </td>
                                <td>
                                    {{ elementCell.ElementFieldIndexIncome | number:2 }}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div data-ng-show="elementCell.ElementFieldType === 6">
                        <div data-ng-repeat="selectedElementCell in elementCell.SelectedElementItem.ElementCellSet">
                            <div data-ng-show="selectedElementCell.ElementFieldType !== 6">
                                <table class="table" data-ng-show="elementFieldIndex.ElementFieldId === selectedElementCell.ElementFieldId">
                                    <tr>
                                        <td>
                                            {{ selectedElementCell.ValueMultiplied | number:2 }}
                                        </td>
                                        <td>
                                            {{ selectedElementCell.ValuePercentage | percentage:2 }}
                                        </td>
                                        <td>
                                            {{ selectedElementCell.ElementFieldIndexIncome | number:2 }}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div data-ng-show="selectedElementCell.ElementFieldType === 6">
                                <!-- TODO Goes recursively... -->
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <!-- Totals -->
            <td>
                {{ elementItem.TotalIncome | number:2 }}
            </td>
        </tr>
        <!-- Footer -->
        <tr>
            <!-- Fields -->
            <td data-ng-repeat="field in vm.resourcePool.MainElement.ElementFieldSet">
                <table class="table" data-ng-if="field.ElementFieldType !== 11 && field.ElementFieldType !== 12">
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                </table>
            </td>
            <!-- CMRP Field(s) + Multiplier(s) + Totals -->
            <td data-ng-show="vm.resourcePool.MainElement.HasResourcePoolField">
                &nbsp;
            </td>
            <td data-ng-show="vm.resourcePool.MainElement.HasResourcePoolField">
                &nbsp;
            </td>
            <td data-ng-show="vm.resourcePool.MainElement.HasResourcePoolField">
                &nbsp;
            </td>
            <td data-ng-show="vm.resourcePool.MainElement.HasMultiplierField">
                &nbsp;
            </td>
            <td data-ng-show="vm.resourcePool.MainElement.HasResourcePoolField && vm.resourcePool.MainElement.HasMultiplierField">
                &nbsp;
            </td>
            <td data-ng-show="vm.resourcePool.MainElement.HasResourcePoolField && vm.resourcePool.MainElement.HasMultiplierField">
                &nbsp;
            </td>
            <td data-ng-show="vm.resourcePool.MainElement.HasResourcePoolField && vm.resourcePool.MainElement.HasMultiplierField">
                &nbsp;
            </td>
            <!-- Indexes -->
            <td data-ng-repeat="item in vm.resourcePool.MainElement.ElementFieldIndexSet">
                <table class="table">
                    <tr>
                        <td colspan="3">
                            &nbsp;
                        </td>
                    </tr>
                </table>
            </td>
            <!-- Totals -->
            <td>
                {{ vm.resourcePool.TotalIncome | number:2 }}
            </td>
        </tr>
    </table>
</div>
