<div data-ng-controller="resourcePoolCustomListController as vm">
    <h2>List</h2>
    <p>
        <a href="/manage/resourcePool/new">Create New</a>
    </p>
    <table class="table">
        <tr>
            <th>
                Resource Pool
            </th>
        </tr>
        <tr data-ng-repeat="resourcePool in vm.resourcePoolSet | orderBy: Id">
            <td>
                <a href="/manage/resourcePool/{{ resourcePool.Id }}">{{ resourcePool.Name }}</a>
            </td>
        </tr>
    </table>
</div>
