<div data-ng-controller="resourcePoolCustomEditController as vm" class="resourcePoolEditor">
    <div class="row">
        <div class="col-md-12">
            <div class="header">
                <span class="title">
                    {{ vm.resourcePool.Name }}
                </span>
                &nbsp;
                Display: <a href="" data-ng-click="vm.resourcePool.currElement().toggleValueFilter()">{{ vm.resourcePool.currElement().valueFilterText() }}</a>
                <div>
                    <ol class="breadcrumb">
                        <li data-ng-repeat="item in vm.resourcePool.currElement().parents() | orderBy: 'sortOrder' :true" data-ng-class="{ active: $last }">
                            <a href="#" data-ng-if="!$last" data-ng-click="item.element.ResourcePool.setCurrentElement(item.element)">
                                {{ item.element.Name }}
                            </a>
                            <span data-ng-if="$last">
                                {{ item.element.Name }}
                            </span>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <highchart data-config="vm.chartConfig"></highchart>
        </div>
        <div class="col-md-8">
            <table class="resourcePoolTable table-striped">
                <thead>
                    <tr>
                        <!-- Fields -->
                        <th data-ng-repeat="field in vm.resourcePool.currElement().ElementFieldSet | orderBy: 'SortOrder'">
                            <table class="resourcePoolFieldsTable">
                                <thead>
                                    <tr>
                                        <th>
                                            <span data-ng-if="field.ElementFieldType !== 6">
                                                {{ field.Name }}
                                            </span>
                                            <span data-ng-if="field.ElementFieldType === 6">
                                                <a href="" data-ng-click="field.Element.ResourcePool.setCurrentElement(field.SelectedElement)">{{ field.Name }}</a>
                                            </span>
                                            <!-- Indexes -->
                                            <table class="fieldIndexTable" data-ng-repeat="index in field.ElementFieldIndexSet">
                                                <colgroup>
                                                    <!--<col class="valueMultipliedField" />-->
                                                    <col class="valuePercentageField" />
                                                    <col class="indexIncomeField" data-ng-if="field.ElementFieldType === 11" />
                                                    <col class="indexFunctionsField" />
                                                </colgroup>
                                                <thead>
                                                    <tr>
                                                        <th colspan="3" data-ng-if="field.ElementFieldIndexSet.length > 0">
                                                            {{ field.ElementFieldIndexSet[0].Name }}
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <!--<th>
                                                    Value Mult.
                                                </th>-->
                                                        <th>
                                                            %
                                                        </th>
                                                        <th data-ng-if="field.ElementFieldType === 11">
                                                            Income
                                                        </th>
                                                        <th>
                                                            &nbsp;
                                                        </th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </th>
                                        <!-- ResourcePool -->
                                        <!-- TODO Single container for these fields? -->
                                        <th data-ng-if="vm.resourcePool.EnableResourcePoolAddition && field.ElementFieldType === 11">
                                            CMRP Add.<br />
                                            Rate {{ vm.resourcePool.resourcePoolRatePercentage() | percentage: 2 }}<br />
                                            # of ratings {{ vm.resourcePool.UserResourcePoolSet.length }}
                                            <!-- ResourcePool functions -->
                                            <div data-ng-if="field.ElementFieldType === 11">
                                                <div class="clearfix"></div>
                                                <div class="btn-group" role="group">
                                                    <button title="Increase CMRP Rate %5" type="button" data-ng-click="vm.resourcePool.updateResourcePoolRate((resourcePool.ResourcePoolRatePercentage * 100) + 5)" class="btn btn-default btn-xs">+</button>
                                                    <button title="Decrease CMRP Rate %5" type="button" data-ng-click="vm.resourcePool.updateResourcePoolRate((resourcePool.ResourcePoolRatePercentage * 100) - 5)" class="btn btn-default btn-xs">-</button>
                                                    <button title="Reset CMRP Rate" type="button" data-ng-click="vm.resourcePool.updateResourcePoolRate(0)" class="btn btn-default btn-xs">0</button>
                                                </div>
                                            </div>
                                        </th>
                                        <th data-ng-if="vm.resourcePool.EnableResourcePoolAddition && field.ElementFieldType === 11">
                                            {{ field.Name }}<br />
                                            incl. CMRP Add.
                                        </th>
                                        <!-- Multiplier -->
                                        <!-- TODO Single container for these fields? -->
                                        <!--<th data-ng-if="field.ElementFieldType === 12 && resourcePool.MainElement.HasResourcePoolField">
                                    Tot. {{ vm.resourcePool.MainElement.ResourcePoolFieldName }}
                                </th>
                                <th data-ng-if="field.ElementFieldType === 12 && resourcePool.MainElement.HasResourcePoolField">
                                    Tot. CMRP Add.
                                </th>-->
                                        <th data-ng-if="vm.resourcePool.EnableResourcePoolAddition && field.ElementFieldType === 12 && vm.resourcePool.currElement().resourcePoolField()">
                                            Tot. {{ vm.resourcePool.currElement().resourcePoolField().Name }}
                                            <br />incl. CMRP Add.
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                        </th>
                        <!-- Totals -->
                        <th data-ng-if="vm.resourcePool.currElement().resourcePoolField()">
                            Total Income
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="elementItem in vm.resourcePool.currElement().ElementItemSet">
                        <!-- Cells -->
                        <td data-ng-repeat="elementCell in elementItem.ElementCellSet | orderBy: 'ElementField.SortOrder'">
                            <table class="resourcePoolFieldsTable">
                                <tbody>
                                    <tr>
                                        <td>
                                            <span data-ng-if="elementCell.ElementField.ElementFieldType === 1" data-ng-bind-html="elementCell.StringValue">
                                            </span>
                                            <span data-ng-if="elementCell.ElementField.ElementFieldType === 2">
                                                {{ elementCell.BooleanValue }}
                                            </span>
                                            <span data-ng-if="elementCell.ElementField.ElementFieldType === 3">
                                                {{ elementCell.IntegerValue }}
                                            </span>
                                            <span data-ng-if="elementCell.ElementField.ElementFieldType === 4">
                                                {{ elementCell.DecimalValue | number: 2 }}
                                            </span>
                                            <span data-ng-if="elementCell.ElementField.ElementFieldType === 5">
                                                {{ elementCell.DateTimeValue }}
                                            </span>
                                            <span data-ng-if="elementCell.ElementField.ElementFieldType === 6">
                                                {{ elementCell.SelectedElementItem.Name }}
                                            </span>
                                            <span data-ng-if="elementCell.ElementField.ElementFieldType === 11">
                                                {{ elementItem.resourcePoolValue() | number: 2 }}
                                            </span>
                                            <span data-ng-if="elementCell.ElementField.ElementFieldType === 12">
                                                {{ elementItem.multiplierValue() | number: 2 }}
                                            </span>
                                            <!-- Indexes -->
                                            <table class="fieldIndexTable" data-ng-repeat="index in elementCell.ElementField.ElementFieldIndexSet">
                                                <colgroup>
                                                    <!--<col class="valueMultipliedField" />-->
                                                    <col class="valuePercentageField" />
                                                    <col class="indexIncomeField" data-ng-if="elementCell.ElementField.ElementFieldType === 11" />
                                                    <col class="indexFunctionsField" />
                                                </colgroup>
                                                <tbody>
                                                    <tr>
                                                        <!--<td>
                                                    {{ elementCell.valueMultiplied() | number: 2 }}
                                                </td>-->
                                                        <td>
                                                            {{ elementCell.valuePercentage() | percentage: 2 }}
                                                        </td>
                                                        <td data-ng-if="elementCell.ElementField.ElementFieldType === 11">
                                                            {{ elementCell.indexIncome() | number: 2 }}
                                                        </td>
                                                        <td>
                                                            <div class="btn-group" role="group">
                                                                <button type="button" data-ng-click="elementCell.increaseIndexRating(vm.userId)" title="+ 10" class="btn btn-default btn-xs">+</button>
                                                                <button type="button" data-ng-click="elementCell.decreaseIndexRating(vm.userId)" title="- 10" class="btn btn-default btn-xs">-</button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <!-- ResourcePool -->
                                        <!-- TODO Single container for these fields? -->
                                        <td data-ng-if="vm.resourcePool.EnableResourcePoolAddition && elementCell.ElementField.ElementFieldType === 11">
                                            {{ elementItem.resourcePoolAddition() | number: 2 }}
                                        </td>
                                        <td data-ng-if="vm.resourcePool.EnableResourcePoolAddition && elementCell.ElementField.ElementFieldType === 11">
                                            {{ elementItem.resourcePoolValueIncludingAddition() | number: 2 }}
                                        </td>
                                        <!-- Multiplier -->
                                        <!-- TODO Single container for these fields? -->
                                        <!--<td data-ng-if="elementCell.ElementField.ElementFieldType === 12 && elementItem.HasResourcePoolCell">
                                            {{ elementItem.resourcePoolValueMultiplied() | number: 2 }}
                                        </td>
                                        <td data-ng-if="elementCell.ElementField.ElementFieldType === 12 && elementItem.HasResourcePoolCell">
                                            {{ elementItem.resourcePoolAdditionMultiplied() | number: 2 }}
                                        <!--<td data-ng-if="elementCell.ElementField.ElementFieldType === 12 && elementItem.HasResourcePoolCell">
                                            {{ elementItem.TotalResourcePoolValue | number: 2 }}
                                        </td>
                                        <td data-ng-if="elementCell.ElementField.ElementFieldType === 12 && elementItem.HasResourcePoolCell">
                                            {{ elementItem.TotalResourcePoolAddition | number: 2 }}
                                        </td>-->
                                        <td data-ng-if="vm.resourcePool.EnableResourcePoolAddition && elementCell.ElementField.ElementFieldType === 12 && elementItem.resourcePoolCell()">
                                            {{ elementItem.resourcePoolValueIncludingAdditionMultiplied() | number: 2 }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <!-- Totals -->
                        <td data-ng-if="vm.resourcePool.currElement().resourcePoolField()">
                            {{ elementItem.totalIncome() | number: 2 }}
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr data-ng-if="vm.resourcePool.EnableSubtotals">
                        <!-- Fields -->
                        <td data-ng-repeat="field in vm.resourcePool.currElement().ElementFieldSet | orderBy: 'SortOrder'">
                            <table class="resourcePoolFieldsTable">
                                <tfoot>
                                    <tr>
                                        <td>
                                            <!-- TODO Grand Total? -->
                                            <span data-ng-if="field.ElementFieldType === 11">
                                                {{ vm.resourcePool.currElement().resourcePoolValue() | number: 2 }}
                                            </span>
                                            <div data-ng-if="field.ElementFieldType === 12">
                                                {{ vm.resourcePool.currElement().multiplierValue() | number: 2 }}
                                            </div>
                                            <!-- Indexes -->
                                            <table class="fieldIndexTable" data-ng-repeat="index in field.ElementFieldIndexSet">
                                                <colgroup>
                                                    <!--<col class="valueMultipliedField" />-->
                                                    <col class="valuePercentageField" />
                                                    <col class="indexIncomeField" data-ng-if="field.ElementFieldType === 11" />
                                                    <col class="indexFunctionsField" />
                                                </colgroup>
                                                <tfoot>
                                                    <tr>
                                                        <!--<td>
                                        {{ index.ValueMultiplied | number: 2 }}
                                    </td>-->
                                                        <td>
                                                            {{ field.valuePercentage() | percentage: 2 }}
                                                        </td>
                                                        <td data-ng-if="field.ElementFieldType === 11">
                                                            {{ index.indexIncome() | number: 2 }}
                                                        </td>
                                                        <td>
                                                            &nbsp;
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </td>
                                        <!-- ResourcePool -->
                                        <!-- TODO Single container for these fields? -->
                                        <td data-ng-if="vm.resourcePool.EnableResourcePoolAddition && field.ElementFieldType === 11">
                                            {{ vm.resourcePool.currElement().resourcePoolAddition() | number: 2 }}
                                        </td>
                                        <td data-ng-if="vm.resourcePool.EnableResourcePoolAddition && field.ElementFieldType === 11">
                                            {{ vm.resourcePool.currElement().resourcePoolValueIncludingAddition() | number: 2 }}
                                        </td>
                                        <!-- Multiplier -->
                                        <!-- TODO Single container for these fields? -->
                                        <!--<td data-ng-if="field.ElementFieldType === 12 && resourcePool.MainElement.HasResourcePoolField">
                        {{ vm.resourcePool.MainElement.TotalResourcePoolValue | number: 2 }}
                    </td>
                    <td data-ng-if="field.ElementFieldType === 12 && resourcePool.MainElement.HasResourcePoolField">
                        {{ vm.resourcePool.MainElement.TotalResourcePoolAddition | number: 2 }}
                    </td>-->
                                        <td data-ng-if="vm.resourcePool.EnableResourcePoolAddition && field.ElementFieldType === 12 && vm.resourcePool.currElement().resourcePoolField()">
                                            {{ vm.resourcePool.currElement().resourcePoolValueIncludingAdditionMultiplied() | number: 2 }}
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </td>
                        <!-- Totals -->
                        <td data-ng-if="vm.resourcePool.currElement().resourcePoolField()">
                            {{ vm.resourcePool.currElement().totalIncome() | number: 2 }}
                        </td>
                    </tr>
                    <tr>
                        <!-- Fields -->
                        <td data-ng-repeat="field in vm.resourcePool.currElement().ElementFieldSet | orderBy: 'SortOrder'">
                            <table class="resourcePoolFieldsTable">
                                <tfoot>
                                    <tr>
                                        <td>
                                            <div data-ng-if="field.ElementFieldType === 12">
                                                <div class="btn-group" role="group">
                                                    <button title="Increase {{ vm.resourcePool.currElement().multiplierField().Name }}" type="button" data-ng-click="vm.resourcePool.currElement().increaseMultiplier(vm.userId)" class="btn btn-default btn-xs">+</button>
                                                    <button title="Decrease {{ vm.resourcePool.currElement().multiplierField().Name }}" type="button" data-ng-click="vm.resourcePool.currElement().decreaseMultiplier(vm.userId)" class="btn btn-default btn-xs">-</button>
                                                    <button title="Reset {{ vm.resourcePool.currElement().multiplierField().Name }}" type="button" data-ng-click="vm.resourcePool.currElement().resetMultiplier(vm.userId)" class="btn btn-default btn-xs">0</button>
                                                </div>
                                            </div>
                                            <div data-ng-if="field.ElementFieldType !== 12">
                                                &nbsp;
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
