<div data-ng-controller="resourcePoolCustomViewController as vm">
    <h2>{{ vm.resourcePool.Name }}</h2>
    <p>
        <div class="btn-group">
            <button type="submit" data-ng-click="vm.increaseMultiplier()" class="btn btn-default">Increase {{ vm.resourcePool.MainElement.MultiplierFieldName }}</button>
            <button type="submit" data-ng-click="vm.decreaseMultiplier()" class="btn btn-default">Decrease {{ vm.resourcePool.MainElement.MultiplierFieldName }}</button>
            <button type="submit" data-ng-click="vm.resetMultiplier()" class="btn btn-default">Reset {{ vm.resourcePool.MainElement.MultiplierFieldName }}</button>
        </div>
    </p>
    <p>
        CMRP Rate: {{ vm.resourcePool.ResourcePoolRatePercentage | percentage:2 }} - Number of ratings: {{ vm.resourcePool.UserResourcePoolRatingCount }}
    </p>
    <table class="table">
        <!-- Header -->
        <tr>
            <!-- Fields -->
            <th data-ng-repeat="field in vm.resourcePool.MainElement.ElementFieldSet">
                <!-- String -->
                <div data-ng-if="field.ElementFieldType === 1">
                    {{ field.Name }}
                </div>
                <!-- Boolean, Integer, Decimal, DateTime -->
                <div data-ng-if="field.ElementFieldType === 2
                      || field.ElementFieldType === 3
                      || field.ElementFieldType === 4
                      || field.ElementFieldType === 5">
                    {{ field.Name }}
                    <!-- Indexes -->
                    <table class="table" data-ng-repeat="index in field.ElementFieldIndexSet">
                        <tr>
                            <th colspan="3">{{ index.Name }}</th>
                        </tr>
                        <tr>
                            <th>
                                Rating Avg. Multiplied
                            </th>
                            <th>
                                Rating Percentage
                            </th>
                            <th>
                                Income
                            </th>
                        </tr>
                    </table>
                </div>
                <!-- Element -->
                <div data-ng-if="field.ElementFieldType === 6">
                    {{ field.Name }}
                </div>
                <!-- ResourcePool -->
                <table class="table" data-ng-if="field.ElementFieldType === 11">
                    <tr>
                        <th>
                            {{ field.Name }}
                            <!-- Indexes -->
                            <table class="table" data-ng-repeat="index in field.ElementFieldIndexSet">
                                <tr>
                                    <th colspan="3">{{ index.Name }}</th>
                                </tr>
                                <tr>
                                    <th>
                                        Rating Avg. Multiplied
                                    </th>
                                    <th>
                                        Rating Percentage
                                    </th>
                                    <th>
                                        Income
                                    </th>
                                </tr>
                            </table>
                        </th>
                        <th>
                            CMRP Addition
                        </th>
                        <th>
                            {{ field.Name }} incl. CMRP Addition
                        </th>
                    </tr>
                </table>
                <!-- Multiplier -->
                <table class="table" data-ng-if="field.ElementFieldType === 12">
                    <tr>
                        <th>
                            {{ field.Name }}
                        </th>
                        <!-- Todo Can we create a container for these 3 columns and use single if for "HasResourcePoolField" property -->
                        <th data-ng-show="vm.resourcePool.MainElement.HasResourcePoolField">
                            Total {{ vm.resourcePool.MainElement.ResourcePoolFieldName }}
                        </th>
                        <th data-ng-show="vm.resourcePool.MainElement.HasResourcePoolField">
                            Total CMRP Addition
                        </th>
                        <th data-ng-show="vm.resourcePool.MainElement.HasResourcePoolField">
                            Total {{ vm.resourcePool.MainElement.ResourcePoolFieldName }} incl. CMRP Addition
                        </th>
                    </tr>
                </table>
            </th>
            <!-- Totals -->
            <th>
                Total Income
            </th>
        </tr>
        <!-- Rows -->
        <tr data-ng-repeat="elementItem in vm.resourcePool.MainElement.ElementItemSet">
            <!-- Cells -->
            <td data-ng-repeat="elementCell in elementItem.ElementCellSet">
                <!-- String -->
                <div data-ng-if="elementCell.ElementFieldType === 1">
                    {{ elementCell.StringValue }}
                </div>
                <!-- Boolean, Integer, Decimal, DateTime -->
                <div data-ng-if="elementCell.ElementFieldType === 2
                      || elementCell.ElementFieldType === 3
                      || elementCell.ElementFieldType === 4
                      || elementCell.ElementFieldType === 5">
                    <span data-ng-if="elementCell.ElementFieldType === 2">
                        {{ elementCell.BooleanValue }}
                    </span>
                    <span data-ng-if="elementCell.ElementFieldType === 3">
                        {{ elementCell.IntegerValue }}
                    </span>
                    <span data-ng-if="elementCell.ElementFieldType === 4">
                        {{ elementCell.DecimalValue }}
                    </span>
                    <span data-ng-if="elementCell.ElementFieldType === 5">
                        {{ elementCell.DateTimeValue }}
                    </span>
                    <!-- Indexes -->
                    <table class="table" data-ng-repeat="index in elementCell.ElementField.ElementFieldIndexSet">
                        <tr>
                            <td>
                                {{ elementCell.ValueMultiplied | number:2 }}
                            </td>
                            <td>
                                {{ elementCell.ValuePercentage | percentage:2 }}
                            </td>
                            <td>
                                {{ elementCell.ElementFieldIndexIncome | number:2 }}
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- Element -->
                <div data-ng-if="elementCell.ElementFieldType === 6">
                    <!-- Element value ? -->
                </div>
                <!-- ResourcePool -->
                <table class="table" data-ng-if="elementCell.ElementFieldType === 11">
                    <tr>
                        <td>
                            {{ elementItem.ResourcePoolValue | number: 2 }}
                            <!-- Indexes -->
                            <table class="table" data-ng-repeat="index in elementCell.ElementField.ElementFieldIndexSet">
                                <tr>
                                    <td>
                                        {{ elementCell.ValueMultiplied | number:2 }}
                                    </td>
                                    <td>
                                        {{ elementCell.ValuePercentage | percentage:2 }}
                                    </td>
                                    <td>
                                        {{ elementCell.ElementFieldIndexIncome | number:2 }}
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            {{ elementItem.ResourcePoolAddition | number: 2 }}
                        </td>
                        <td>
                            {{ elementItem.ResourcePoolValueIncludingAddition | number: 2 }}
                        </td>
                    </tr>
                </table>
                <!-- Multiplier -->
                <table class="table" data-ng-if="elementCell.ElementFieldType === 12">
                    <tr>
                        <td>
                            {{ elementItem.MultiplierValue }}
                        </td>
                        <!-- Todo Can we create a container for these 3 columns and use single if for "HasResourcePoolCell" property-->
                        <td data-ng-show="elementItem.HasResourcePoolCell">
                            {{ elementItem.TotalResourcePoolValue | number: 2 }}
                        </td>
                        <td data-ng-show="elementItem.HasResourcePoolCell">
                            {{ elementItem.TotalResourcePoolAddition | number: 2 }}
                        </td>
                        <td data-ng-show="elementItem.HasResourcePoolCell">
                            {{ elementItem.TotalResourcePoolValueIncludingAddition | number: 2 }}
                        </td>

                    </tr>
                </table>
            </td>
            <!-- Totals -->
            <td>
                {{ elementItem.TotalIncome | number:2 }}
            </td>
        </tr>
        <!-- Footer -->
        <tr>
            <!-- Fields -->
            <td data-ng-repeat="field in vm.resourcePool.MainElement.ElementFieldSet">
                <!-- String -->
                <div data-ng-if="field.ElementFieldType === 1">
                    &nbsp;
                </div>
                <!-- Boolean, Integer, Decimal, DateTime -->
                <div data-ng-if="field.ElementFieldType === 2
                      || field.ElementFieldType === 3
                      || field.ElementFieldType === 4
                      || field.ElementFieldType === 5">
                    <span data-ng-if="field.ElementFieldType === 2">
                        <!-- TODO Grand Total? -->
                    </span>
                    <span data-ng-if="field.ElementFieldType === 3">
                        <!-- TODO Grand Total? -->
                    </span>
                    <span data-ng-if="field.ElementFieldType === 4">
                        <!-- TODO Grand Total? -->
                    </span>
                    <span data-ng-if="field.ElementFieldType === 5">
                        <!-- TODO Grand Total? -->
                    </span>
                    <!-- Indexes -->
                    <table class="table" data-ng-repeat="index in field.ElementFieldIndexSet">
                        <tr>
                            <td>
                                {{ index.ValueMultiplied | number:2 }}
                            </td>
                            <td>
                                {{ index.ValuePercentage | percentage:2 }}
                            </td>
                            <td>
                                {{ index.ElementFieldIndexIncome | number:2 }}
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- Element -->
                <div data-ng-if="field.ElementFieldType === 6">
                    &nbsp;
                </div>
                <!-- ResourcePool -->
                <table class="table" data-ng-if="field.ElementFieldType === 11">
                    <tr>
                        <td>
                            {{ vm.resourcePool.MainElement.ResourcePoolValue | number: 2 }}
                            <!-- Indexes -->
                            <table class="table" data-ng-repeat="index in field.ElementFieldIndexSet">
                                <tr>
                                    <td>
                                        {{ index.ValueMultiplied | number:2 }}
                                    </td>
                                    <td>
                                        {{ index.ValuePercentage | percentage:2 }}
                                    </td>
                                    <td>
                                        {{ index.ElementFieldIndexIncome | number:2 }}
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            {{ vm.resourcePool.MainElement.ResourcePoolAddition | number: 2 }}
                        </td>
                        <td>
                            {{ vm.resourcePool.MainElement.ResourcePoolValueIncludingAddition | number: 2 }}
                        </td>
                    </tr>
                </table>
                <!-- Multiplier -->
                <table class="table" data-ng-if="field.ElementFieldType === 12">
                    <tr>
                        <td>
                            {{ vm.resourcePool.MainElement.MultiplierValue | number: 2 }}
                        </td>
                        <!-- Todo Can we create a container for these 3 columns and use single if for "HasResourcePoolField" property -->
                        <td data-ng-show="vm.resourcePool.MainElement.HasResourcePoolField">
                            {{ vm.resourcePool.MainElement.TotalResourcePoolValue | number: 2 }}
                        </td>
                        <td data-ng-show="vm.resourcePool.MainElement.HasResourcePoolField">
                            {{ vm.resourcePool.MainElement.TotalResourcePoolAddition | number: 2 }}
                        </td>
                        <td data-ng-show="vm.resourcePool.MainElement.HasResourcePoolField">
                            {{ vm.resourcePool.MainElement.TotalResourcePoolValueIncludingAddition | number: 2 }}
                        </td>
                    </tr>
                </table>
            </td>
            <!-- Totals -->
            <td>
                {{ vm.resourcePool.MainElement.TotalIncome | number: 2 }}
            </td>
        </tr>
    </table>
</div>
