<div data-ng-controller="addPasswordController as vm">
    <h2>Add Password</h2>

    <form name="addPasswordForm">
        <div class="form-horizontal">
            <hr />
            <div class="form-group">
                <label for="Password" class="control-label col-md-2">Password</label>
                <div class="col-md-10" data-ng-class="{'has-error': addPasswordForm.Password.$invalid && !addPasswordForm.Password.$pristine}">
                    <input id="Password" name="Password" type="password" data-ng-model="vm.password" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <label for="ConfirmPassword" class="control-label col-md-2">Confirm password</label>
                <div class="col-md-10" data-ng-class="{'has-error': addPasswordForm.ConfirmPassword.$invalid && !addPasswordForm.ConfirmPassword.$pristine}">
                    <input id="ConfirmPassword" name="ConfirmPassword" type="password" data-ng-model="vm.confirmPassword" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button data-ng-click="vm.addPassword()" data-ng-disabled="addPasswordForm.$invalid || vm.isSaveDisabled()" class="btn btn-primary">
                        Submit
                    </button>
                    <!--<button data-ng-click="vm.cancelChanges()" class="btn btn-danger">
                        Cancel
                    </button>-->
                </div>
            </div>
        </div>
    </form>
</div>