<div data-ng-controller="userResourcePoolCustomViewController as vm">
    <h2>{{ vm.userResourcePool.ResourcePoolName }}</h2>

    <p>
        <div class="btn-group">
            <button type="submit" data-ng-click="vm.increaseNumberOfSales()" class="btn btn-default">Increase Number of Sales</button>
            <button type="submit" data-ng-click="vm.decreaseNumberOfSales()" class="btn btn-default">Decrease Number of Sales</button>
            <button type="submit" data-ng-click="vm.resetNumberOfSales()" class="btn btn-default">Reset Number of Sales</button>
        </div>
    </p>
    <p>
        CMRP Rate: {{ vm.userResourcePool.ResourcePoolRatePercentage | percentage:2 }} - Number of ratings: {{ vm.userResourcePool.UserResourcePoolRatingCount }}
    </p>
    <table class="table">
        <tr>
            <th>
                Organization
            </th>
            <th>
                Production Cost
            </th>
            <th>
                Sales Price
            </th>
            <th>
                Profit Percentage
            </th>
            <th>
                Sales Price incl. CMRP Tax
            </th>
            <th>
                Number of Sales
            </th>
            <th>
                Total Production Cost
            </th>
            <th>
                Total Sales Revenue
            </th>
            <th>
                Total Profit
            </th>
            <th>
                Total CMRP Tax
            </th>
            <th>
                Total Sales Revenue incl. CMRP Tax
            </th>
            <th data-ng-repeat="item in vm.userResourcePool.ResourcePoolIndexSet">
                {{ item.Name }}
                <br />
                <table class="table">
                    <tr>
                        <th>
                            Rating Weighted Average
                        </th>
                        <th>
                            With Nr of Sales
                        </th>
                        <th>
                            With Nr of Sales Weighted Average
                        </th>
                        <th>
                            Income
                        </th>
                    </tr>
                </table>
            </th>
            <th>
                Quality Rating Weighted Average
            </th>
            <th>
                Quality Index with Nr of Sales
            </th>
            <th>
                Quality Index with Nr of Sales Weighted Average
            </th>
            <th>
                Quality Index Income
            </th>
            <th>
                Total Income (Profit + CMRP)
            </th>
            </th>
        <tr data-ng-repeat="item in vm.userResourcePool.UserOrganizationSet">
            <td>
                {{ item.OrganizationName }}
            </td>
            <td>
                {{ item.OrganizationProductionCost | number:2 }}
            </td>
            <td>
                {{ item.OrganizationSalesPrice | number:2 }}
            </td>
            <td>
                {{ item.OrganizationProfitPercentage | percentage:2 }}
            </td>
            <td>
                {{ item.SalesPriceIncludingResourcePoolTax | number:2 }}
            </td>
            <td>
                {{ item.NumberOfSales }}
            </td>
            <td>
                {{ item.TotalProductionCost | number:2 }}
            </td>
            <td>
                {{ item.TotalSalesRevenue | number:2 }}
            </td>
            <td>
                {{ item.TotalProfit | number:2 }}
            </td>
            <td>
                {{ item.TotalResourcePoolTax | number:2 }}
            </td>
            <td>
                {{ item.TotalSalesRevenueIncludingResourcePoolTax | number:2 }}
            </td>
            <td data-ng-repeat="indexOrganization in item.UserResourcePoolIndexOrganizationSet">
                <table class="table">
                    <tr>
                        <td>
                            {{ indexOrganization.IndexValueWeightedAverage }}
                        </td>
                        <td>
                            {{ indexOrganization.IndexValueWeightedAverageWithNumberOfSales }}
                        </td>
                        <td>
                            {{ indexOrganization.IndexValueWeightedAverageWithNumberOfSalesWeightedAverage }}
                        </td>
                        <td>
                            {{ indexOrganization.IndexIncome }}
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                {{ item.OrganizationQualityRatingWeightedAverage | percentage:2 }}
            </td>
            <td>
                {{ item.QualityIndexValueWeightedAverageWithNumberOfSales | number:2 }}
            </td>
            <td>
                {{ item.QualityIndexValueWeightedAverageWithNumberOfSalesWeightedAverage | number:2 }}
            </td>
            <td>
                {{ item.QualityIndexIncome | number:2 }}
            </td>
            <td>
                {{ item.TotalIncome | number:2 }}
            </td>
        </tr>
        <tr>
            <td>
                Total
            </td>
            <td>
                {{ vm.userResourcePool.ResourcePoolProductionCost | number:2 }}
            </td>
            <td>
                {{ vm.userResourcePool.ResourcePoolSalesPrice | number:2 }}
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                {{ vm.userResourcePool.SalesPriceIncludingResourcePoolTax | number:2 }}
            </td>
            <td>
                {{ vm.userResourcePool.NumberOfSales }}
            </td>
            <td>
                {{ vm.userResourcePool.TotalProductionCost | number:2 }}
            </td>
            <td>
                {{ vm.userResourcePool.TotalSalesRevenue | number:2 }}
            </td>
            <td>
                {{ vm.userResourcePool.TotalProfit | number:2 }}
            </td>
            <td>
                {{ vm.userResourcePool.TotalResourcePoolTax | number:2 }}
            </td>
            <td>
                {{ vm.userResourcePool.TotalSalesRevenueIncludingResourcePoolTax | number:2 }}
            </td>
            <th data-ng-repeat="item in vm.userResourcePool.ResourcePoolIndexSet">
                <table class="table">
                    <tr>
                        <th>
                            &nbsp;
                        </th>
                        <th>
                            &nbsp;
                        </th>
                        <th>
                            &nbsp;
                        </th>
                        <th>
                            &nbsp;
                        </th>
                    </tr>
                </table>
            </th>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                {{ vm.userResourcePool.QualityIndexShare | number:2 }}
            </td>
            <td>
                {{ vm.userResourcePool.TotalIncome | number:2 }}
            </td>
        </tr>
    </table>
</div>
