<div data-ng-controller="resourcePoolEditController as vm">
    <h2 data-ng-bind="vm.title"></h2>
    <p data-ng-if="vm.isNew" class="hide">
        <button type="button" data-ng-click="vm.openCopyModal()" class="btn btn-primary">
            Copy from an existing CMRP
        </button>
    </p>
    <uib-tabset>
        <uib-tab heading="Resource Pool">
            <form name="vm.resourcePoolForm">
                <div class="form-horizontal">
                    <div class="top-buffer">
                        &nbsp;
                    </div>
                    <!--<div class="form-group has-error" data-ng-show="vm.entityErrors">
                        <ul>
                            <li data-ng-repeat="error in vm.entityErrors">
                                <label class="control-label">{{ error.errorMessage }}</label>
                            </li>
                        </ul>
                    </div>-->
                    <div class="form-group">
                        <label for="Name" class="control-label col-md-2">Name</label>
                        <div class="col-md-10" data-ng-class="{'has-error': resourcePoolForm.Name.$invalid && !resourcePoolForm.Name.$pristine}">
                            <input id="Name" name="Name" type="text" data-ng-model="vm.resourcePool.Name" class="form-control" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="InitialValue" class="control-label col-md-2">Initial Amount</label>
                        <div class="col-md-10" data-ng-class="{'has-error': resourcePoolForm.InitialValue.$invalid && !resourcePoolForm.InitialValue.$pristine}">
                            <input id="InitialValue" name="InitialValue" type="text" data-ng-model="vm.resourcePool.InitialValue" class="form-control" aria-describedby="InitialValueHelp" required />
                            <span id="InitialValueHelp" class="help-block">Initial amount in the pool.</span>
                        </div>
                    </div>
                    <div class="form-group" data-ng-if="!vm.isNew && vm.resourcePool.ElementSet.length > 0">
                        <label for="MainElementId" class="control-label col-md-2">Main Element</label>
                        <div class="col-md-10" data-ng-class="{'has-error': resourcePoolForm.MainElementId.$invalid && !resourcePoolForm.MainElementId.$pristine}">
                            <select id="MainElementId" name="MainElementId" data-ng-model="vm.resourcePool.MainElement" data-ng-options="element.Name for element in vm.resourcePool.ElementSet" class="form-control" aria-describedby="MainElementHelp"></select>
                            <span id="MainElementHelp" class="help-block">Determines which element will be shown as the first element.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ResourcePoolRate" class="control-label col-md-2">Resource Pool Rate (%)</label>
                        <div class="col-md-10" data-ng-class="{'has-error': resourcePoolForm.ResourcePoolRate.$invalid && !resourcePoolForm.ResourcePoolRate.$pristine}">
                            <input id="ResourcePoolRate" name="ResourcePoolRate" type="text" data-ng-model="vm.resourcePool.UserResourcePoolSet[0].ResourcePoolRate" class="form-control" aria-describedby="ResourcePoolRateHelp" required />
                            <span id="ResourcePoolRateHelp" class="help-block">Determines the size of the pool based on Total Income of the organizations.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="UseFixedResourcePoolRate" class="control-label col-md-2">Use Fixed Resource Pool Rate</label>
                        <div class="col-md-10" data-ng-class="{'has-error': resourcePoolForm.UseFixedResourcePoolRate.$invalid && !resourcePoolForm.UseFixedResourcePoolRate.$pristine}">
                            <label class="radio-inline">
                                <input id="UseFixedResourcePoolRate_True" name="UseFixedResourcePoolRate" type="radio" data-ng-model="vm.resourcePool.UseFixedResourcePoolRate" data-ng-value="true" aria-describedby="UseFixedResourcePoolRateHelp"> True
                            </label>
                            <label class="radio-inline">
                                <input id="UseFixedResourcePoolRate_False" name="UseFixedResourcePoolRate" type="radio" data-ng-model="vm.resourcePool.UseFixedResourcePoolRate" data-ng-value="false" aria-describedby="UseFixedResourcePoolRateHelp"> False
                            </label>
                            <span id="UseFixedResourcePoolRateHelp" class="help-block">Determines whether the other users can set their own 'Resource Pool Rate' values or only use a fixed value that has been set above.</span>
                        </div>
                    </div>
                    <div class="form-group hide">
                        <div class="col-md-10">
                            <input id="RowVersion" name="RowVersion" data-ng-model="vm.resourcePool.RowVersion" type="hidden">
                        </div>
                    </div>
                </div>
            </form>
        </uib-tab>
        <uib-tab heading="Elements">

            <!-- Element add/edit -->
            <div data-ng-if="vm.isElementEdit">
                <form name="elementForm">
                    <div class="form-horizontal">
                        <div class="top-buffer">
                            &nbsp;
                        </div>
                        <!--<div class="form-group has-error" data-ng-show="vm.entityErrors">
                            <ul>
                                <li data-ng-repeat="error in vm.entityErrors">
                                    <label class="control-label">{{ error.errorMessage }}</label>
                                </li>
                            </ul>
                        </div>-->
                        <div class="form-group">
                            <label for="Name" class="control-label col-md-2">Element</label>
                            <div class="col-md-10" data-ng-class="{'has-error': elementForm.Name.$invalid && !elementForm.Name.$pristine}">
                                <input id="Name" name="Name" type="text" data-ng-model="vm.element.Name" class="form-control" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <input id="RowVersion" name="RowVersion" data-ng-model="vm.element.RowVersion" type="hidden">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" data-ng-click="vm.saveElement()" data-ng-disabled="elementForm.$invalid" class="btn btn-primary">
                                    Save Element
                                </button>
                                <button type="button" data-ng-click="vm.cancelElement()" class="btn btn-default">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Element list -->
            <div data-ng-if="!vm.isElementEdit">
                <p class="top-buffer">
                    <a href="" data-ng-click="vm.addElement()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New
                    </a>
                </p>
                <table class="table">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th></th>
                    </tr>
                    <tr data-ng-repeat="element in vm.resourcePool.ElementSet">
                        <td>
                            {{ element.Name }}
                        </td>
                        <td>
                            <a href="" data-ng-click="vm.editElement(element)">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                            </a>
                            <a href="" data-ng-click="vm.removeElement(element)">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </uib-tab>
        <uib-tab heading="Fields">

            <!-- Element field add/edit -->
            <div data-ng-if="vm.isElementFieldEdit">
                <form name="elementFieldForm">
                    <div class="form-horizontal">
                        <div class="top-buffer">
                            &nbsp;
                        </div>
                        <!--<div class="form-group has-error" data-ng-show="vm.entityErrors">
                            <ul>
                                <li data-ng-repeat="error in vm.entityErrors">
                                    <label class="control-label">{{ error.errorMessage }}</label>
                                </li>
                            </ul>
                        </div>-->
                        <div class="form-group" data-ng-if="vm.isElementFieldNew">
                            <label for="ElementId" class="control-label col-md-2">Element</label>
                            <div class="col-md-10" data-ng-class="{'has-error': elementFieldForm.ElementId.$invalid && !elementFieldForm.ElementId.$pristine}">
                                <select id="ElementId" name="ElementId" data-ng-model="vm.elementField.Element" data-ng-options="element.Name for element in vm.resourcePool.ElementSet" class="form-control" required></select>
                            </div>
                        </div>
                        <div class="form-group" data-ng-if="!vm.isElementFieldNew">
                            <label for="ElementId" class="control-label col-md-2">Element</label>
                            <p data-ng-bind="vm.elementField.Element.Name" class="form-control-static col-md-10"></p>
                        </div>
                        <div class="form-group">
                            <label for="Name" class="control-label col-md-2">Name</label>
                            <div class="col-md-10" data-ng-class="{'has-error': elementFieldForm.Name.$invalid && !elementFieldForm.Name.$pristine}">
                                <input id="Name" name="Name" type="text" data-ng-model="vm.elementField.Name" class="form-control" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="DataType" class="control-label col-md-2">Data Type</label>
                            <div class="col-md-10" data-ng-class="{'has-error': elementFieldForm.DataType.$invalid && !elementFieldForm.DataType.$pristine}">
                                <select id="DataType" name="DataType" data-ng-model="vm.elementField.DataType" data-ng-options="key for (key, value) in vm.elementFieldDataTypeFiltered()" class="form-control" required></select>
                            </div>
                        </div>
                        <div class="form-group" data-ng-if="vm.elementField.DataType === vm.ElementFieldDataType.Element">
                            <label for="SelectedElementId" class="control-label col-md-2">Selected Element</label>
                            <div class="col-md-10" data-ng-class="{'has-error': elementFieldForm.SelectedElementId.$invalid && !elementFieldForm.SelectedElementId.$pristine}">
                                <select id="SelectedElementId" name="SelectedElementId" data-ng-model="vm.elementField.SelectedElement" data-ng-options="element.Name disable when element === vm.elementField.Element for element in vm.resourcePool.ElementSet" class="form-control" required></select>
                            </div>
                        </div>
                        <div class="form-group" data-ng-if="vm.elementField.DataType !== vm.ElementFieldDataType.String && vm.elementField.DataType !== vm.ElementFieldDataType.Element">
                            <label for="UseFixedValue" class="control-label col-md-2">Use Fixed Value</label>
                            <div class="col-md-10" data-ng-class="{'has-error': elementFieldForm.UseFixedValue.$invalid && !elementFieldForm.UseFixedValue.$pristine}">
                                <label class="radio-inline">
                                    <input id="UseFixedValue_True" name="UseFixedValue" type="radio" data-ng-model="vm.elementField.UseFixedValue" data-ng-value="true" aria-describedby="UseFixedValueHelp"> True
                                </label>
                                <label class="radio-inline">
                                    <input id="UseFixedValue_False" name="UseFixedValue" type="radio" data-ng-model="vm.elementField.UseFixedValue" data-ng-value="false" aria-describedby="UseFixedValueHelp"> False
                                </label>
                                <span id="UseFixedValueHelp" class="help-block">
                                    Determines whether the other users can set their own values for this field or only use a fixed value that will be set in Cells tab.<br />
                                    e.g. 'Sales Price' field should use a fixed value and 'Rating' field should be set by all users.
                                </span>
                            </div>
                        </div>
                        <div class="form-group" data-ng-if="vm.elementField.DataType !== vm.ElementFieldDataType.String && vm.elementField.DataType !== vm.ElementFieldDataType.Element && vm.elementField.DataType !== vm.ElementFieldDataType.Multiplier">
                            <label for="IndexEnabled" class="control-label col-md-2">Index Enabled</label>
                            <div class="col-md-10" data-ng-class="{'has-error': elementFieldForm.IndexEnabled.$invalid && !elementFieldForm.IndexEnabled.$pristine}">
                                <label class="radio-inline">
                                    <input id="IndexEnabled_True" name="IndexEnabled" type="radio" data-ng-model="vm.elementField.IndexEnabled" data-ng-value="true" data-ng-change="vm.elementFieldIndexEnabledChanged()" aria-describedby="IndexEnabledHelp"> True
                                </label>
                                <label class="radio-inline">
                                    <input id="IndexEnabled_False" name="IndexEnabled" type="radio" data-ng-model="vm.elementField.IndexEnabled" data-ng-value="false" data-ng-change="vm.elementFieldIndexEnabledChanged()" aria-describedby="IndexEnabledHelp"> False
                                </label>
                                <span id="IndexEnabledHelp" class="help-block">
                                    Determines whether the values of this field will be used for calculating an income from the pool.
                                    e.g. Should be 'true' for 'Rating' field.
                                </span>
                            </div>
                        </div>
                        <div class="form-group" data-ng-if="vm.elementField.IndexEnabled">
                            <label for="IndexCalculationType" class="control-label col-md-2">Index Calculation Type</label>
                            <div class="col-md-10" data-ng-class="{'has-error': elementFieldForm.IndexCalculationType.$invalid && !elementFieldForm.IndexCalculationType.$pristine}">
                                <select id="IndexCalculationType" name="IndexCalculationType" data-ng-model="vm.elementField.IndexCalculationType" data-ng-options="key for (key, value) in vm.ElementFieldIndexCalculationType" class="form-control" aria-describedby="IndexCalculationTypeHelp" required></select>
                                <span id="IndexCalculationTypeHelp" class="help-block">
                                    Aggressive (Default): Uses the lowest score as the base (reference) rating in the group, then calculates the difference from that base.<br />
                                    Base rating (lowest) gets 0 from the pool and other items get an amount based on their difference.<br />
                                    Aims to maximize the benefit of the pool.<br />
                                    <br />
                                    Passive: Sums all ratings and calculates the percentages.<br />
                                    All items get an amount, including the lowest scored item.<br />
                                    Good for cases that only use 'Resource Pool - Initial Amount' feature.<br />
                                </span>
                            </div>
                        </div>
                        <div class="form-group" data-ng-if="vm.elementField.IndexEnabled">
                            <label for="IndexSortType" class="control-label col-md-2">Index Sort Type</label>
                            <div class="col-md-10" data-ng-class="{'has-error': elementFieldForm.IndexSortType.$invalid && !elementFieldForm.IndexSortType.$pristine}">
                                <select id="IndexSortType" name="IndexSortType" data-ng-model="vm.elementField.IndexSortType" data-ng-options="key for (key, value) in vm.IndexSortType" class="form-control" aria-describedby="IndexSortTypeHelp" required></select>
                                <span id="IndexSortTypeHelp" class="help-block">
                                    Determines whether the higher values will receive more from the pool, or the lower values.
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="SortOrder" class="control-label col-md-2">Sort Order</label>
                            <div class="col-md-10" data-ng-class="{'has-error': elementFieldForm.SortOrder.$invalid && !elementFieldForm.SortOrder.$pristine}">
                                <input id="SortOrder" name="SortOrder" type="text" data-ng-model="vm.elementField.SortOrder" class="form-control" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <input id="RowVersion" name="RowVersion" data-ng-model="vm.elementField.RowVersion" type="hidden">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" data-ng-click="vm.saveElementField()" data-ng-disabled="elementFieldForm.$invalid" class="btn btn-primary">
                                    Save Field
                                </button>
                                <button type="button" data-ng-click="vm.cancelElementField()" class="btn btn-default">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Element field list -->
            <div data-ng-if="!vm.isElementFieldEdit">
                <p class="top-buffer">
                    <a href="" data-ng-click="vm.addElementField()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New
                    </a>
                </p>
                <table class="table">
                    <tr>
                        <th>
                            Element
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Field Type
                        </th>
                        <th>
                            Index Enabled
                        </th>
                        <th></th>
                    </tr>
                    <tr data-ng-repeat="elementField in vm.elementFieldSet()">
                        <td>
                            {{ elementField.Element.Name }}
                        </td>
                        <td>
                            {{ elementField.Name }}
                        </td>
                        <td>
                            {{ elementField.DataType | enum: 'ElementFieldDataType' }}
                        </td>
                        <td>
                            {{ elementField.IndexEnabled }}
                        </td>
                        <td>
                            <a href="" data-ng-click="vm.editElementField(elementField)">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                            </a>
                            <a href="" data-ng-click="vm.removeElementField(elementField)">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </uib-tab>
        <uib-tab heading="Items">

            <!-- Element item add/edit -->
            <div data-ng-if="vm.isElementItemEdit">
                <form name="elementItemForm">
                    <div class="form-horizontal">
                        <div class="top-buffer">
                            &nbsp;
                        </div>
                        <!--<div class="form-group has-error" data-ng-show="vm.entityErrors">
                            <ul>
                                <li data-ng-repeat="error in vm.entityErrors">
                                    <label class="control-label">{{ error.errorMessage }}</label>
                                </li>
                            </ul>
                        </div>-->
                        <div class="form-group" data-ng-if="vm.isElementItemNew">
                            <label for="ElementId" class="control-label col-md-2">Element</label>
                            <div class="col-md-10" data-ng-class="{'has-error': elementItemForm.ElementId.$invalid && !elementItemForm.ElementId.$pristine}">
                                <select id="ElementId" name="ElementId" data-ng-model="vm.elementItem.Element" data-ng-options="element.Name for element in vm.resourcePool.ElementSet" class="form-control" required></select>
                            </div>
                        </div>
                        <div class="form-group" data-ng-if="!vm.isElementItemNew">
                            <label for="ElementId" class="control-label col-md-2">Element</label>
                            <p data-ng-bind="vm.elementItem.Element.Name" class="form-control-static col-md-10"></p>
                        </div>
                        <div class="form-group">
                            <label for="Name" class="control-label col-md-2">Name</label>
                            <div class="col-md-10" data-ng-class="{'has-error': elementItemForm.Name.$invalid && !elementItemForm.Name.$pristine}">
                                <input id="Name" name="Name" type="text" data-ng-model="vm.elementItem.Name" class="form-control" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <input id="RowVersion" name="RowVersion" data-ng-model="vm.elementItem.RowVersion" type="hidden">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" data-ng-click="vm.saveElementItem()" data-ng-disabled="elementItemForm.$invalid" class="btn btn-primary">
                                    Save Item
                                </button>
                                <button type="button" data-ng-click="vm.cancelElementItem()" class="btn btn-default">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Element item list -->
            <div data-ng-if="!vm.isElementItemEdit">
                <p class="top-buffer">
                    <a href="" data-ng-click="vm.addElementItem()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New
                    </a>
                </p>
                <table class="table">
                    <tr>
                        <th>
                            Element
                        </th>
                        <th>
                            Name
                        </th>
                        <th></th>
                    </tr>
                    <tr data-ng-repeat="elementItem in vm.elementItemSet()">
                        <td>
                            {{ elementItem.Element.Name }}
                        </td>
                        <td>
                            {{ elementItem.Name }}
                        </td>
                        <td>
                            <a href="" data-ng-click="vm.editElementItem(elementItem)">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                            </a>
                            <a href="" data-ng-click="vm.removeElementItem(elementItem)">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </uib-tab>
        <uib-tab heading="Cells">

            <!-- Element cell add/edit -->
            <div data-ng-if="vm.isElementCellEdit">
                <form name="elementCellForm">
                    <div class="form-horizontal">
                        <div class="top-buffer">
                            &nbsp;
                        </div>
                        <!--<div class="form-group has-error" data-ng-show="vm.entityErrors">
                            <ul>
                                <li data-ng-repeat="error in vm.entityErrors">
                                    <label class="control-label">{{ error.errorMessage }}</label>
                                </li>
                            </ul>
                        </div>-->
                        <div class="form-group">
                            <label class="control-label col-md-2">Element</label>
                            <p data-ng-bind="vm.elementCell.ElementField.Element.Name" class="form-control-static col-md-10"></p>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Element Field</label>
                            <p data-ng-bind="vm.elementCell.ElementField.Name" class="form-control-static col-md-10"></p>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Element Item</label>
                            <p data-ng-bind="vm.elementCell.ElementItem.Name" class="form-control-static col-md-10"></p>
                        </div>
                        <div class="form-group" data-ng-if="vm.elementCell.ElementField.DataType === vm.ElementFieldDataType.String">
                            <label for="StringValue" class="control-label col-md-2">Value</label>
                            <div class="col-md-10" data-ng-class="{'has-error': elementCellForm.StringValue.$invalid && !elementCellForm.StringValue.$pristine}">
                                <input id="StringValue" name="StringValue" type="text" data-ng-model="vm.elementCell.UserElementCellSet[0].StringValue" class="form-control" required />
                            </div>
                        </div>
                        <div class="form-group" data-ng-if="vm.elementCell.ElementField.DataType === vm.ElementFieldDataType.Boolean">
                            <label for="BooleanValue" class="control-label col-md-2">Value</label>
                            <div class="col-md-10" data-ng-class="{'has-error': elementCellForm.BooleanValue.$invalid && !elementCellForm.BooleanValue.$pristine}">
                                <label class="radio-inline">
                                    <input id="BooleanValue_True" name="BooleanValue" type="radio" data-ng-model="vm.elementCell.UserElementCellSet[0].BooleanValue" data-ng-value="true"> True
                                </label>
                                <label class="radio-inline">
                                    <input id="BooleanValue_False" name="BooleanValue" type="radio" data-ng-model="vm.elementCell.UserElementCellSet[0].BooleanValue" data-ng-value="false"> False
                                </label>
                            </div>
                        </div>
                        <div class="form-group" data-ng-if="vm.elementCell.ElementField.DataType === vm.ElementFieldDataType.Integer">
                            <label for="IntegerValue" class="control-label col-md-2">Value</label>
                            <div class="col-md-10" data-ng-class="{'has-error': elementCellForm.IntegerValue.$invalid && !elementCellForm.IntegerValue.$pristine}">
                                <input id="IntegerValue" name="IntegerValue" type="text" data-ng-model="vm.elementCell.UserElementCellSet[0].IntegerValue" class="form-control" required />
                            </div>
                        </div>
                        <div class="form-group" data-ng-if="vm.elementCell.ElementField.DataType === vm.ElementFieldDataType.Decimal || vm.elementCell.ElementField.DataType === vm.ElementFieldDataType.DirectIncome || vm.elementCell.ElementField.DataType === vm.ElementFieldDataType.Multiplier">
                            <label for="DecimalValue" class="control-label col-md-2">Value</label>
                            <div class="col-md-10" data-ng-class="{'has-error': elementCellForm.DecimalValue.$invalid && !elementCellForm.DecimalValue.$pristine}">
                                <input id="DecimalValue" name="DecimalValue" type="text" data-ng-model="vm.elementCell.UserElementCellSet[0].DecimalValue" class="form-control" required />
                            </div>
                        </div>
                        <div class="form-group" data-ng-if="vm.elementCell.ElementField.DataType === vm.ElementFieldDataType.Element">
                            <label for="SelectedElementItemId" class="control-label col-md-2">Selected Item</label>
                            <div class="col-md-10" data-ng-class="{'has-error': elementCellForm.SelectedElementItemId.$invalid && !elementCellForm.SelectedElementItemId.$pristine}">
                                <select id="SelectedElementItemId" name="SelectedElementItemId" data-ng-model="vm.elementCell.SelectedElementItem" data-ng-options="elementItem.Name for elementItem in vm.elementCell.ElementField.SelectedElement.ElementItemSet" class="form-control" required></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <input id="RowVersion" name="RowVersion" data-ng-model="vm.elementCell.RowVersion" type="hidden">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" data-ng-click="vm.saveElementCell()" data-ng-disabled="elementCellForm.$invalid" class="btn btn-primary">
                                    Save Cell
                                </button>
                                <button type="button" data-ng-click="vm.cancelElementCell()" class="btn btn-default">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Element cell list -->
            <div data-ng-if="!vm.isElementCellEdit">
                <p class="top-buffer">
                    &nbsp;
                </p>
                <table class="table">
                    <tr>
                        <th>
                            Element
                        </th>
                        <th>
                            Element Field
                        </th>
                        <th>
                            Element Item
                        </th>
                        <th>
                            Value
                        </th>
                        <th></th>
                    </tr>
                    <tr data-ng-repeat="elementCell in vm.elementCellSet()">
                        <td>
                            {{ elementCell.ElementField.Element.Name }}
                        </td>
                        <td>
                            {{ elementCell.ElementField.Name }}
                        </td>
                        <td>
                            {{ elementCell.ElementItem.Name }}
                        </td>
                        <td>
                            {{ elementCell.value() }}
                        </td>
                        <td>
                            <a href="" data-ng-click="vm.editElementCell(elementCell)">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </uib-tab>
    </uib-tabset>
    <div data-ng-if="!(vm.isElementEdit || vm.isElementFieldEdit || vm.isElementItemEdit || vm.isElementCellEdit)">
        <button type="submit" data-ng-bind="vm.isNew ? 'Create' : 'Save CMRP'" data-ng-click="vm.saveResourcePool()" data-ng-disabled="!vm.isSaveEnabled()" class="btn btn-primary"></button>
        <button type="button" data-ng-click="vm.cancelResourcePool()" class="btn btn-default">
            Cancel
        </button>
        <button type="button" data-ng-if="!vm.isNew" data-ng-click="vm.openRemoveResourcePoolModal()" class="btn btn-danger pull-right">
            Delete CMRP
        </button>
    </div>
</div>
<script type="text/ng-template" id="copyResourcePoolModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Copy an existing CMRP</h3>
    </div>
    <div class="modal-body">
        <table class="table">
            <tr>
                <th>
                    Resource Pool
                </th>
            </tr>
            <tr data-ng-repeat="resourcePool in vm.resourcePoolSet | orderBy: Id">
                <td>
                    <span data-ng-bind="resourcePool.Name"></span>
                    <button class="btn btn-primary" type="button" ng-click="vm.copy(resourcePool)">Copy</button>
                    <!--<a href="/resourcePool/{{ resourcePool.Id }}">{{ resourcePool.Name }}</a>-->
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <!--<button class="btn btn-primary" type="button" ng-click="copy()">Copy</button>-->
        <button class="btn btn-default" type="button" ng-click="vm.close()">Close</button>
    </div>
</script>
<script type="text/ng-template" id="removeResourcePoolModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Confirmation</h3>
    </div>
    <div class="modal-body">
        <p>
            Are you sure you want to remove this resource pool?
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="remove()">Remove</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>