<div class="g-padding-20 g-pb-0">
    <div class="modal-header">
        <h3 class="modal-title">Guest Account</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 g-mb-20">
                <p>
                    A guest account has been created for you to save your changes temporarily.<br />
                </p>
            </div>
            <div class="col-md-6 text-center">
                <p class="g-mb-30">
                    Would like to keep this account?<br />
                    Please update your email address.
                </p>
                <p>
                    <a class="btn btn-primary btn-block" href="/_system/account/changeEmail" data-ng-click="vm.close()">Change email</a>
                </p>
            </div>
            <div class="col-md-6 text-center">
                <p class="g-mb-30">
                    Do you have an existing account?<br />
                    Please login with your credentials.
                </p>
                <p>
                    <a class="btn btn-primary btn-block" href="/_system/account/login" data-ng-click="vm.close()">Login</a>
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="vm.close()">Close</button>
    </div>
</div>
