<div data-ng-controller="ProfileController as vm">
    <div class="g-mb-40">
        <h2 data-ng-bind="vm.user.UserName"></h2>
        <p data-ng-show="vm.user.Id === vm.currentUser.Id">
            <a data-ng-href="/{{ vm.currentUser.UserName }}/new">Create New</a>
        </p>
    </div>
    <div class="table-search">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Resource Pool</th>
                        <th># Ratings</th>
                        <th>Created On</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-show="vm.user.ResourcePoolSet.length === 0">
                        <td colspan="4">
                            Nothing to display
                        </td>
                    </tr>
                    <tr data-ng-show="vm.user.ResourcePoolSet.length > 0" data-ng-repeat="resourcePool in vm.user.ResourcePoolSet | orderBy: 'Name'">
                        <td>
                            <h3><a data-ng-bind="resourcePool.Name" data-ng-href="{{ resourcePool.urlView() }}"></a></h3>
                        </td>
                        <td>
                            <span data-ng-bind="resourcePool.RatingCount"></span>
                        </td>
                        <td>
                            <span am-time-ago="resourcePool.CreatedOn"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
