<div data-ng-controller="RegisterController as vm">
    <h2 data-ng-show="vm.showHeader">Register</h2>
    <div class="row">
        <div class="col-md-8 g-mt-20">
            <section id="registerForm">
                <form name="registerForm">
                    <div class="form-horizontal">
                        <h4>Create a new local account</h4>
                        <hr />
                        <div class="form-group">
                            <label for="UserName" class="control-label col-md-3">Username</label>
                            <div class="col-md-9" data-ng-class="{'has-error': registerForm.UserName.$invalid && !registerForm.UserName.$pristine}">
                                <input id="UserName" name="UserName" type="text" data-ng-model="vm.bindingModel.UserName" class="form-control" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Email" class="control-label col-md-3">Email</label>
                            <div class="col-md-9" data-ng-class="{'has-error': registerForm.Email.$invalid && !registerForm.Email.$pristine}">
                                <input id="Email" name="Email" type="text" data-ng-model="vm.bindingModel.Email" class="form-control" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Password" class="control-label col-md-3">Password</label>
                            <div class="col-md-9" data-ng-class="{'has-error': registerForm.Password.$invalid && !registerForm.Password.$pristine}">
                                <input id="Password" name="Password" type="password" data-ng-model="vm.bindingModel.Password" class="form-control" required aria-describedby="PasswordHelp" />
                                <span id="PasswordHelp" class="help-block">
                                    Password must be at least 6 characters long,<br />
                                    must have at least one lowercase ('a'-'z') and one digit ('0'-'9')
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ConfirmPassword" class="control-label col-md-3">Confirm</label>
                            <div class="col-md-9" data-ng-class="{'has-error': registerForm.ConfirmPassword.$invalid && !registerForm.ConfirmPassword.$pristine}">
                                <input id="ConfirmPassword" name="ConfirmPassword" type="password" data-ng-model="vm.bindingModel.ConfirmPassword" class="form-control" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <div class="checkbox">
                                    <label>
                                        <input id="RememberMe" name="RememberMe" type="checkbox" data-ng-model="vm.rememberMe"> Remember me
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <button data-ng-click="vm.register()" data-ng-disabled="registerForm.$invalid || vm.isSaveDisabled()" class="btn btn-primary">
                                    Register
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        </div>
        <div class="col-md-4 g-mt-20" data-ng-include="'/_system/views/account/socialLogins.html?v=0.58.0'"></div>
    </div>
</div>
