<div data-ng-controller="ResetPasswordController as vm">
    <h2>Reset Password</h2>
    <div data-ng-if="vm.viewMode === 'initial'">
        <form name="resetPasswordRequestForm" class="form-horizontal">
                <h4>Reset password of your local account</h4>
                <hr />
                <div class="form-group">
                    <label for="Enter your email" class="control-label col-md-2">Email</label>
                    <div class="col-md-10" data-ng-class="{'has-error': resetPasswordRequestForm.Email.$invalid && !resetPasswordRequestForm.Email.$pristine}">
                        <input id="Email" name="Email" type="text" data-ng-model="vm.requestBindingModel.Email" class="form-control" required />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button data-ng-click="vm.resetPasswordRequest()" data-ng-disabled="resetPasswordRequestForm.$invalid || vm.isSaveDisabled()" class="btn btn-primary">
                            Submit
                        </button>
                        <!--<button data-ng-click="vm.cancelChanges()" class="btn btn-danger">
                            Cancel
                        </button>-->
                    </div>
                </div>
        </form>
    </div>
    <div data-ng-if="vm.viewMode === 'sent'">
        <p>
            Password reset email has been sent to your address.<br />
            Please use the link in the email to reset your password.
        </p>
    </div>
    <div data-ng-if="vm.viewMode === 'received'">
        <form name="resetPasswordForm">
            <div class="form-horizontal">
                <hr />
                <div class="form-group">
                    <label for="NewPassword" class="control-label col-md-2">New password</label>
                    <div class="col-md-10" data-ng-class="{'has-error': resetPasswordForm.NewPassword.$invalid && !resetPasswordForm.NewPassword.$pristine}">
                        <input id="NewPassword" name="NewPassword" type="password" data-ng-model="vm.bindingModel.NewPassword" class="form-control" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="ConfirmPassword" class="control-label col-md-2">Confirm new password</label>
                    <div class="col-md-10" data-ng-class="{'has-error': resetPasswordForm.ConfirmPassword.$invalid && !resetPasswordForm.ConfirmPassword.$pristine}">
                        <input id="ConfirmPassword" name="ConfirmPassword" type="password" data-ng-model="vm.bindingModel.ConfirmPassword" class="form-control" required />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button data-ng-click="vm.resetPassword()" data-ng-disabled="resetPasswordForm.$invalid || vm.isSaveDisabled()" class="btn btn-primary">
                            Submit
                        </button>
                        <!--<button data-ng-click="vm.cancelChanges()" class="btn btn-danger">
                        Cancel
                    </button>-->
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>