<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <h3>
                Dev Module - All Components
            </h3>
            <p>
                A lightweight versions of 'app module' to make quick sanity checks.
            </p>
            <hr />
            <p>
                <button type='button' (click)='consoleLog()'>console log</button>
                <button type='button' (click)='toasterLog()'>toaster log</button>
                <button type='button' (click)='rxjsTest()'>rxjs test</button>
                <button type='button' (click)='getWebApiInfo()'>web api info</button>
                <button type='button' (click)='toggleChart()'>toggle chart</button>
                <button type='button' (click)='error()'>error</button>
            </p>
            <p>
                Moment: {{ getNewDate() | amTimeAgo }}
            </p>
            <div [hidden]="!displayChart">
                <hr />
                <ngChart [config]="chartConfig"></ngChart>
            </div>
            <hr />
            <router-outlet></router-outlet>
        </div>
    </div>

    <toaster-container [toasterconfig]="toasterConfig"></toaster-container>

</div>

<footer class="footer"></footer>
