<div data-ng-controller="userResourcePoolCustomViewController as vm">
    <h2>{{ vm.userResourcePool.ResourcePoolName }}</h2>

    <p>
        <div class="btn-group">
            <button type="submit" data-ng-click="vm.increaseNumberOfSales()" class="btn btn-default">Increase Number of Sales</button>
            <button type="submit" data-ng-click="vm.decreaseNumberOfSales()" class="btn btn-default">Decrease Number of Sales</button>
            <button type="submit" data-ng-click="vm.resetNumberOfSales()" class="btn btn-default">Reset Number of Sales</button>
        </div>
    </p>
    <p>
        CMRP Rate: {{ vm.userResourcePool.ResourcePoolRatePercentage | percentage:2 }} - Number of ratings: {{ vm.userResourcePool.UserResourcePoolRatingCount }}
    </p>
    <table class="table">
        <!-- Header -->
        <tr>
            <!-- Fields -->
            <td data-ng-repeat="field in vm.userResourcePool.MainElement.BasicElementFieldSet">
                <table class="table">
                    <tr>
                        <th>
                            {{ field.Name }}
                        </th>
                    </tr>
                </table>
            </td>

            <!-- CMRP Field(s) + Multiplier(s) + Totals -->
            <th data-ng-show="vm.userResourcePool.MainElement.HasResourcePoolField">
                {{ vm.userResourcePool.MainElement.ResourcePoolFieldName }}
            </th>
            <th data-ng-show="vm.userResourcePool.MainElement.HasResourcePoolField">
                CMRP Addition
            </th>
            <th data-ng-show="vm.userResourcePool.MainElement.HasResourcePoolField">
                {{ vm.userResourcePool.MainElement.ResourcePoolFieldName }} incl. CMRP Addition
            </th>
            <th data-ng-show="vm.userResourcePool.MainElement.HasMultiplierField">
                {{ vm.userResourcePool.MainElement.MultiplierFieldName }}
            </th>
            <th data-ng-show="vm.userResourcePool.MainElement.HasResourcePoolField && vm.userResourcePool.MainElement.HasMultiplierField">
                Total {{ vm.userResourcePool.MainElement.ResourcePoolFieldName }}
            </th>
            <th data-ng-show="vm.userResourcePool.MainElement.HasResourcePoolField && vm.userResourcePool.MainElement.HasMultiplierField">
                Total CMRP Addition
            </th>
            <th data-ng-show="vm.userResourcePool.MainElement.HasResourcePoolField && vm.userResourcePool.MainElement.HasMultiplierField">
                Total {{ vm.userResourcePool.MainElement.ResourcePoolFieldName }} incl. CMRP Addition
            </th>
            <!-- Indexes -->
            <th data-ng-repeat="item in vm.userResourcePool.ResourcePoolIndexSet">
                {{ item.Name }}
                <br />
                <table class="table">
                    <tr>
                        <th>
                            Rating Avg. Multiplied
                        </th>
                        <th>
                            Rating Percentage
                        </th>
                        <th>
                            Income
                        </th>
                    </tr>
                </table>
            </th>
            <!-- Totals -->
            <th>
                Total Income
            </th>
        </tr>
        <!-- Rows -->
        <tr data-ng-repeat="elementItem in vm.userResourcePool.MainElement.ElementItemSet">
            <!-- Fields -->
            <td data-ng-repeat="elementItemElementField in elementItem.BasicElementItemElementFieldSet">
                <table class="table">
                    <tr>
                        <td data-ng-show="elementItemElementField.ElementFieldType === 1">
                            {{ elementItemElementField.StringValue }}
                        </td>
                        <td data-ng-show="elementItemElementField.ElementFieldType === 2">
                            {{ elementItemElementField.BooleanValue }}
                        </td>
                        <td data-ng-show="elementItemElementField.ElementFieldType === 3">
                            {{ elementItemElementField.IntegerValue }}
                        </td>
                        <td data-ng-show="elementItemElementField.ElementFieldType === 4">
                            {{ elementItemElementField.DecimalValue }}
                        </td>
                        <td data-ng-show="elementItemElementField.ElementFieldType === 5">
                            {{ elementItemElementField.DateTimeValue }}
                        </td>
                    </tr>
                </table>
            </td>

            <!-- CMRP Field(s) + Multiplier(s) + Totals -->
            <td data-ng-show="elementItem.HasResourcePoolFieldItem">
                {{ elementItem.ResourcePoolFieldItemValue | number: 2 }}
            </td>
            <td data-ng-show="elementItem.HasResourcePoolFieldItem">
                {{ elementItem.ResourcePoolAddition | number: 2 }}
            </td>
            <td data-ng-show="elementItem.HasResourcePoolFieldItem">
                {{ elementItem.ResourcePoolFieldItemValueIncludingResourcePoolAddition | number: 2 }}
            </td>
            <td data-ng-show="elementItem.HasMultiplierFieldItem">
                {{ elementItem.MultiplierFieldItemValue | number: 2 }}
            </td>
            <td data-ng-show="elementItem.HasResourcePoolFieldItem && elementItem.HasResourcePoolFieldItem">
                {{ elementItem.TotalResourcePoolFieldItemValue | number: 2 }}
            </td>
            <td data-ng-show="elementItem.HasResourcePoolFieldItem && elementItem.HasResourcePoolFieldItem">
                {{ elementItem.TotalResourcePoolAddition | number: 2 }}
            </td>
            <td data-ng-show="elementItem.HasResourcePoolFieldItem && elementItem.HasResourcePoolFieldItem">
                {{ elementItem.TotalResourcePoolFieldItemValueIncludingResourcePoolAddition | number: 2 }}
            </td>
            <!-- Indexes -->
            <td data-ng-repeat="item in vm.userResourcePool.ResourcePoolIndexSet">
                <div data-ng-repeat="elementItemElementField in elementItem.ElementItemElementFieldSet">
                    <table class="table" data-ng-show="item.ElementFieldId === elementItemElementField.ElementFieldId">
                        <tr>
                            <td>
                                {{ elementItemElementField.RatingAverageMultiplied | number:2 }}
                            </td>
                            <td>
                                {{ elementItemElementField.RatingPercentage | percentage:2 }}
                            </td>
                            <td>
                                {{ elementItemElementField.ResourcePoolIndexIncome | number:2 }}
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <!-- Totals -->
            <td>
                {{ elementItem.TotalIncome | number:2 }}
            </td>
        </tr>
        <!-- Footer -->
        <tr>
            <!-- Fields -->
            <td data-ng-repeat="field in vm.userResourcePool.MainElement.BasicElementFieldSet">
                <table class="table">
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                </table>
            </td>
            <!-- CMRP Field(s) + Multiplier(s) + Totals -->
            <td data-ng-show="vm.userResourcePool.MainElement.HasResourcePoolField">
                &nbsp;
            </td>
            <td data-ng-show="vm.userResourcePool.MainElement.HasResourcePoolField">
                &nbsp;
            </td>
            <td data-ng-show="vm.userResourcePool.MainElement.HasResourcePoolField">
                &nbsp;
            </td>
            <td data-ng-show="vm.userResourcePool.MainElement.HasMultiplierField">
                &nbsp;
            </td>
            <td data-ng-show="vm.userResourcePool.MainElement.HasResourcePoolField && vm.userResourcePool.MainElement.HasMultiplierField">
                &nbsp;
            </td>
            <td data-ng-show="vm.userResourcePool.MainElement.HasResourcePoolField && vm.userResourcePool.MainElement.HasMultiplierField">
                &nbsp;
            </td>
            <td data-ng-show="vm.userResourcePool.MainElement.HasResourcePoolField && vm.userResourcePool.MainElement.HasMultiplierField">
                &nbsp;
            </td>
            <!-- Indexes -->
            <td data-ng-repeat="item in vm.userResourcePool.ResourcePoolIndexSet">
                <table class="table">
                    <tr>
                        <td colspan="3">
                            &nbsp;
                        </td>
                    </tr>
                </table>
            </td>
            <!-- Totals -->
            <td>
                {{ vm.userResourcePool.TotalIncome | number:2 }}
            </td>
        </tr>
    </table>
    <hr />
    <p>
        Old Table
        <br />
        <br />
    </p>
    <table class="table">
        <tr>
            <th>
                Organization
            </th>
            <th>
                Sales Price
            </th>
            <th>
                Sales Price incl. CMRP Tax
            </th>
            <th>
                Number of Sales
            </th>
            <th>
                Total Sales Revenue
            </th>
            <th>
                Total CMRP Tax
            </th>
            <th>
                Total Sales Revenue incl. CMRP Tax
            </th>
            <th data-ng-repeat="item in vm.userResourcePool.ResourcePoolIndexSet">
                {{ item.Name }}
                <br />
                <table class="table">
                    <tr>
                        <th>
                            Multiplied
                        </th>
                        <th>
                            Percentage
                        </th>
                        <th>
                            Income
                        </th>
                    </tr>
                </table>
            </th>
            <th>
                Total Income (Sales Revenue + CMRP)
            </th>
        </tr>
        <tr data-ng-repeat="item in vm.userResourcePool.UserOrganizationSet">
            <td>
                {{ item.OrganizationName }}
            </td>
            <td>
                {{ item.OrganizationSalesPrice | number:2 }}
            </td>
            <td>
                {{ item.SalesPriceIncludingResourcePoolTax | number:2 }}
            </td>
            <td>
                {{ item.NumberOfSales }}
            </td>
            <td>
                {{ item.TotalSalesRevenue | number:2 }}
            </td>
            <td>
                {{ item.TotalResourcePoolTax | number:2 }}
            </td>
            <td>
                {{ item.TotalSalesRevenueIncludingResourcePoolTax | number:2 }}
            </td>
            <td data-ng-repeat="indexOrganization in item.UserResourcePoolIndexOrganizationSet">
                <table class="table">
                    <tr>
                        <td>
                            {{ indexOrganization.IndexValueMultiplied | number:2 }}
                        </td>
                        <td>
                            {{ indexOrganization.IndexValuePercentage | percentage:2 }}
                        </td>
                        <td>
                            {{ indexOrganization.IndexIncome }}
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                {{ item.TotalIncome | number:2 }}
            </td>
        </tr>
        <tr>
            <td>
                Total
            </td>
            <td>
                {{ vm.userResourcePool.ResourcePoolSalesPrice | number:2 }}
            </td>
            <td>
                {{ vm.userResourcePool.SalesPriceIncludingResourcePoolTax | number:2 }}
            </td>
            <td>
                {{ vm.userResourcePool.NumberOfSales }}
            </td>
            <td>
                {{ vm.userResourcePool.TotalSalesRevenue | number:2 }}
            </td>
            <td>
                {{ vm.userResourcePool.TotalResourcePoolTax | number:2 }}
            </td>
            <td>
                {{ vm.userResourcePool.TotalSalesRevenueIncludingResourcePoolTax | number:2 }}
            </td>
            <th data-ng-repeat="item in vm.userResourcePool.ResourcePoolIndexSet">
                <table class="table">
                    <tr>
                        <th>
                            &nbsp;
                        </th>
                        <th>
                            &nbsp;
                        </th>
                        <th>
                            &nbsp;
                        </th>
                    </tr>
                </table>
            </th>
            <td>
                {{ vm.userResourcePool.TotalIncome | number:2 }}
            </td>
        </tr>
    </table>
</div>
