<script src="Scripts/app/services/licenseService.js"></script>
<script src="Scripts/app/controllers/licenseListController.js"></script>
<script src="Scripts/app/controllers/licenseEditController.js"></script>
<div data-ng-view></div>
