body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.btn-xs {
    font-size: 10px;
}

.resourcePoolTable {
    font-family: Tahoma;
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
    font-size: 10px;
    /*table-layout: fixed;*/
}

    .resourcePoolTable th,
    .resourcePoolTable td {
        overflow: hidden; /* Hide text outside the cell */
        vertical-align: top;
        padding: 2px;
    }

    .resourcePoolTable .header {
        padding: 10px 0;
        background-color: red;
    }

    .resourcePoolTable > thead > tr > th,
    .resourcePoolTable > tbody > tr > td,
    .resourcePoolTable > tfoot > tr > td,
    .resourcePoolTable .resourcePoolFieldsTable > thead > tr > th,
    .resourcePoolTable .resourcePoolFieldsTable > tbody > tr > td,
    .resourcePoolTable .resourcePoolFieldsTable > tfoot > tr > td {
        min-width: 90px;
    }

    .resourcePoolTable .resourcePoolFieldsTable {
        /*background-color: green;*/
    }

    .resourcePoolTable .resourcePoolFieldsTable .fieldIndexTable {
        /*background-color: red;*/
    }

    /*.resourcePoolTable .resourcePoolFieldsTable .fieldIndexTable > colgroup > col.valueMultipliedField {
        width: 75px;
    }*/
    
    .resourcePoolTable .resourcePoolFieldsTable .fieldIndexTable > colgroup > col.valuePercentageField {
        width: 50px;
    }
    
    .resourcePoolTable .resourcePoolFieldsTable .fieldIndexTable > colgroup > col.indexIncomeField {
        width: 75px;
    }

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* Project level custom helpers / SH 24 Jan. '14 */
.top-buffer {
    margin-top: 20px;
}
