body {
    font-size: 15px;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.bg-info {
    padding: 15px;
}

ul.bg-info {
    padding-left: 25px;
}

.btn-xs {
    font-size: 10px;
    height: 18px;
    width: 18px;
}

/* Callout Begin */

.bs-callout{
	padding:20px;
	margin:20px 0;
	border:1px solid #eee;
	border-left-width:5px;
	border-radius:3px
}

.bs-callout h4{
	margin-top:0;
	margin-bottom:5px
}

.bs-callout p:last-child{
	margin-bottom:0
}

.bs-callout code{
	border-radius:3px
}

.bs-callout+.bs-callout{
	margin-top:-5px
}

.bs-callout-danger{
	border-left-color:#d9534f
}

.bs-callout-danger h4{
	color:#d9534f
}

.bs-callout-warning{
	border-left-color:#f0ad4e
}

.bs-callout-warning h4{
	color:#f0ad4e
}

.bs-callout-info{
	border-left-color:#5bc0de
}

.bs-callout-info h4{
	color:#5bc0de
}

/* Callout End */

/* ResourcePoolEditor Begin */

.resourcePoolEditor {
    font-family: Tahoma;
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
    font-size: 10px;
}

    .resourcePoolEditor .header {
        padding: 1.5em 0;
    }

    .resourcePoolEditor .header > .title {
        font-size: 1.5em;
    }

.resourcePoolTable {
    /*table-layout: fixed;*/
}

    /*.resourcePoolTable th,
    .resourcePoolTable td {*/
    .resourcePoolTable > thead > tr > th {
        vertical-align: top;
    }

    .resourcePoolTable > thead > tr > th,
    .resourcePoolTable > tbody > tr > td,
    .resourcePoolTable > tfoot > tr > td {
        overflow: hidden; /* Hide text outside the cell */
        padding: 2px;
    }

    .resourcePoolTable > thead > tr > th,
    .resourcePoolTable > tbody > tr > td,
    .resourcePoolTable > tfoot > tr > td,
    .resourcePoolTable .resourcePoolFieldsTable > thead > tr > th,
    .resourcePoolTable .resourcePoolFieldsTable > tbody > tr > td,
    .resourcePoolTable .resourcePoolFieldsTable > tfoot > tr > td {
        min-width: 90px;
    }

    .resourcePoolTable .resourcePoolFieldsTable {
        /*background-color: green;*/
    }

    .resourcePoolTable .resourcePoolFieldsTable .fieldIndexTable {
        /*background-color: red;*/
    }

    /*.resourcePoolTable .resourcePoolFieldsTable .fieldIndexTable > colgroup > col.valueMultipliedField {
        width: 75px;
    }*/
    
    .resourcePoolTable .resourcePoolFieldsTable .fieldIndexTable > colgroup > col.valuePercentageField {
        width: 50px;
    }
    
    .resourcePoolTable .resourcePoolFieldsTable .fieldIndexTable > colgroup > col.indexIncomeField {
        width: 75px;
    }

    .resourcePoolTable .resourcePoolFieldsTable .fieldIndexTable > colgroup > col.indexFunctionsField {
        width: 45px;
    }

/* ResourcePoolEditor End */

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* Project level custom helpers / SH 24 Jan. '14 */
.top-buffer {
    margin-top: 20px;
}
