<h2>All in One</h2>

<p>
    <div class="btn-group">
        <button type="submit" data-ng-click="vm.increaseNumberOfSales()" class="btn btn-default">Increase Number of Sales</button>
        <button type="submit" data-ng-click="vm.decreaseNumberOfSales()" class="btn btn-default">Decrease Number of Sales</button>
        <button type="submit" data-ng-click="vm.resetNumberOfSales()" class="btn btn-default">Reset Number of Sales</button>
    </div>
</p>
<p>
    CMRP Rate: {{ vm.userResourcePool.ResourcePoolRatePercentage | percentage:2 }} - Number of ratings: {{ vm.userResourcePool.UserResourcePoolRatingCount }}
</p>
<table class="table">
    <tr>
        <th>
            Organization
        </th>
        <th>
            Production Cost
        </th>
        <th>
            Sales Price
        </th>
        <th>
            License
        </th>
        <th>
            Profit Percentage
        </th>
        <th>
            Sales Price incl. CMRP Tax
        </th>
        <th>
            Number of Sales
        </th>
        <th>
            Total Profit
        </th>
        <th>
            Total CMRP Tax
        </th>
        <th>
            Total Sales Revenue incl. CMRP Tax
        </th>
        <th>
            Sector Index Income
        </th>
        <th>
            Knowledge Index Income
        </th>
        <th>
            Total Cost Index Income
        </th>
        <th>
            Quality Index Income
        </th>
        <th>
            Employee Satisfaction Index Income
        </th>
        <th>
            Customer Satisfaction Index Income
        </th>
        <th>
            Total Resource Pool Income
        </th>
        <th>
            Total Income (Profit + CMRP)
        </th>
    </tr>
    <tr data-ng-repeat="item in vm.userResourcePool.UserOrganizationSet">
        <td>
            {{ item.OrganizationName }}
        </td>
        <td>
            {{ item.OrganizationProductionCost | number:2 }}
        </td>
        <td>
            {{ item.OrganizationSalesPrice | number:2 }}
        </td>
        <td>
            {{ item.OrganizationLicenseName }}
        </td>
        <td>
            {{ item.OrganizationProfitPercentage | percentage:2 }}
        </td>
        <td>
            {{ item.SalesPriceIncludingResourcePoolTax | number:2 }}
        </td>
        <td>
            {{ item.NumberOfSales }}
        </td>
        <td>
            {{ item.TotalProfit | number:2 }}
        </td>
        <td>
            {{ item.TotalResourcePoolTax | number:2 }}
        </td>
        <td>
            {{ item.TotalSalesRevenueIncludingResourcePoolTax | number:2 }}
        </td>
        <td>
            {{ item.SectorIndexIncome | number:2 }}
        </td>
        <td>
            {{ item.KnowledgeIndexIncome | number:2 }}
        </td>
        <td>
            {{ item.TotalCostIndexIncome | number:2 }}
        </td>
        <td>
            {{ item.QualityIndexIncome | number:2 }}
        </td>
        <td>
            {{ item.EmployeeSatisfactionIndexIncome | number:2 }}
        </td>
        <td>
            {{ item.CustomerSatisfactionIndexIncome | number:2 }}
        </td>
        <td>
            {{ item.TotalResourcePoolIncome | number:2 }}
        </td>
        <td>
            {{ item.TotalIncome | number:2 }}
        </td>
    </tr>
    <tr>
        <td>
            Total
        </td>
        <td>
            {{ vm.userResourcePool.ResourcePoolProductionCost | number:2 }}
        </td>
        <td>
            {{ vm.userResourcePool.ResourcePoolSalesPrice | number:2 }}
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            {{ vm.userResourcePool.SalesPriceIncludingResourcePoolTax | number:2 }}
        </td>
        <td>
            {{ vm.userResourcePool.NumberOfSales }}
        </td>
        <td>
            {{ vm.userResourcePool.TotalProfit | number:2 }}
        </td>
        <td>
            {{ vm.userResourcePool.TotalResourcePoolTax | number:2 }}
        </td>
        <td>
            {{ vm.userResourcePool.TotalSalesRevenueIncludingResourcePoolTax | number:2 }}
        </td>
        <td>
            {{ vm.userResourcePool.SectorIndexShare | number:2 }}
        </td>
        <td>
            {{ vm.userResourcePool.KnowledgeIndexShare | number:2 }}
        </td>
        <td>
            {{ vm.userResourcePool.TotalCostIndexShare | number:2 }}
        </td>
        <td>
            {{ vm.userResourcePool.QualityIndexShare | number:2 }}
        </td>
        <td>
            {{ vm.userResourcePool.EmployeeSatisfactionIndexShare | number:2 }}
        </td>
        <td>
            {{ vm.userResourcePool.CustomerSatisfactionIndexShare | number:2 }}
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            {{ vm.userResourcePool.TotalIncome | number:2 }}
        </td>
    </tr>
</table>
