<div data-ng-controller="basicsController as vm">
    <div class="row">
        <div class="col-md-12">
            <h3>
                Basics
            </h3>
            <p>
                In the following sample, there are two organizations that are equal to each other in every aspect, except they use different strategies to motivate their employees.
                In <code>Existing Model</code>, since this difference is ignored, each organization will have the same <code>Total Income</code>.
            </p>
            <p>
                <code>New Model</code> will introduce <code>Employee Satisfaction</code> index.
                By using this index, we can enter which organization's employees satisfied with their organization's strategy
                and based on this new data, organizations' <code>Total Income</code> will now differ.
            </p>
            <!--<p class="bg-info">
                GOLDEN RULE 1: Importance of equal parties except the index!
            </p>-->
            <div class="bs-callout bs-callout-info">
                <h4>Difference between the models</h4>
                <p>
                    <!--TODO this difference is in all samples?-->
                    In <code>New Model</code>, <code>Total Income</code> is 50 percent higher than <code>Existing Model</code>.
                    This difference will be explained in further chapters.
                </p>
            </div>
            <ul>
                <li>
                    In <code>Existing Model</code>, increase organizations' <code>Number of Sales</code> by clicking <code>+</code> button.<br />
                    This will increase <code>Number of Sales</code> in both models to be able compare the results easily.
                </li>
                <li>
                    In <code>New Model</code>, update <code>Employee Satisfaction</code> ratings of the organizations by using <code>+</code> and <code>-</code> buttons next to them
                    and see the difference in <code>Total Income</code> fields in both models.
                </li>
            </ul>
            <!--</div>
            </div>
            <div class="row">
                <div class="col-md-6">-->
            <!--<div>-->
            <resource-pool-editor resource-pool-id="vm.basics_ExistingModelResourcePoolId" chart-height="225"></resource-pool-editor>
            <!--</div>-->
            <!--</div>
            <div class="col-md-6">-->
            <!--<div>-->
            <resource-pool-editor resource-pool-id="vm.basics_NewModelResourcePoolId" chart-height="225"></resource-pool-editor>
            <!--</div>-->
            <!--</div>
            </div>
            <div class="row">
                <div class="col-md-12">-->
            <p>
                If we could measure <code>Employee Satisfaction</code> of the organizations in real life, we could reward the ones with a higher rating as in this sample.
                Adding indexes to the system sets additional priorities for the organizations, instead of just focusing to profit.
            </p>
            <p>
                Although only four <!-- TODO four or three or five? update this number at the end --> different indexes will be presented in the following chapters,
                as long as they are measurable, more indexes can be added into the system.
                <!--Indexes can have static values or they be rated by the users.-->
            </p>
        </div>
    </div>
</div>
