<div ng-controller="CacheController as vm">
    <input ng-model="newCacheKey" placeholder="Key">
    <input ng-model="newCacheValue" placeholder="Value">
    <button ng-click="vm.put(newCacheKey, newCacheValue)">Cache</button>

    <p ng-if="vm.keys.length">Cached Values</p>
    <div ng-repeat="key in vm.keys">
        <span ng-bind="key"></span>
        <span>: </span>
        <b ng-bind="vm.cache.get(key)"></b>
    </div>

    <p>Cache Info</p>
    <div ng-repeat="(key, value) in vm.cache.info()">
        <span ng-bind="key"></span>
        <span>: </span>
        <b ng-bind="value"></b>
    </div>

    <hr />

    <p>TemplateCache</p>
    <div ng-repeat="(key, value) in vm.templateCache.info()">
        <span ng-bind="key"></span>
        <span>: </span>
        <b ng-bind="value"></b>
    </div>
    
    <hr/>

    <p>Templates</p>
    <div ng-repeat="(key, value) in vm.templates.info()">
        <span ng-bind="key"></span>
        <span>: </span>
        <b ng-bind="value"></b>
    </div>
</div>
