<div data-ng-controller="">
    <div class="page-header">
        <h1>#9 Customer Satisfaction Index</h1>
    </div>
    <div class="row">
        <div class="col-md-8">
            &nbsp;
        </div>
        <div class="col-md-4">
            <div class="btn-group btn-group-lg pull-right">
                <a href="/content/chapter8" class="btn btn-default">&nbsp;«&nbsp;</a>
                <!--<a href="/content/chapter10" class="btn btn-default">&nbsp;»&nbsp;</a>-->
            </div>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-12">
            <p>
                Does the organization please its customers enough? How good are the previous customers experience with the organization / product?
                Does the organization have a proper customer services? How long does it take to solve the customer's issues in case of an error?
            </p>
            <p>
                Customer Satisfaction Index aims to rate the organization based on these questions and distribute the resources between the organizations according to their performances.
            </p>
        </div>
    </div>
</div>
