<div data-ng-controller="">
    <div class="page-header">
        <h1>#8 Employee Satisfaction Index</h1>
    </div>
    <div class="row">
        <div class="col-md-8">
            &nbsp;
        </div>
        <div class="col-md-4">
            <div class="btn-group btn-group-lg pull-right">
                <a href="/content/chapter6" class="btn btn-default">&nbsp;«&nbsp;</a>
                <a href="/content/chapter9" class="btn btn-default">&nbsp;»&nbsp;</a>
            </div>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-12">
            <p>
                This index aims to put more responsibility to the organizations towards to their employees and increase employee satisfcation.
                The organizations could be rated about various items; complying with safety standards of that sector, having proper insurance coverage.
            </p>
            <p>
                Under the right circumstances, even the employee could rate their organization whether they're happy with the organization or working conditions are good enough.
            </p>
            <p>
                As a result, the organizations that have a higher rating will get more resources from the system.
            </p>
        </div>
    </div>
</div>
