<div data-ng-controller="chapter0Controller as vm">
    <div class="page-header">
        <div class="row">
            <div class="col-md-8">
                <h3>
                    <!--<small>Prologue:</small>
                    <br />-->
                    An Interesting Era to Witness
                </h3>
            </div>
            <div class="col-md-4">
                <div class="btn-group btn-group-lg pull-right">
                    <a href="/content/chapter1" class="btn btn-default">&nbsp;»&nbsp;</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                <!--The World is changing.-->
                <!--The World is becoming an interesting place to experiment.-->
                Today we see a lot of progress around the World. Our technologies are advancing at an accelareted rate.
                Allowing us to communicate instantly, get quickly organized, make collective decisions and now even make crowd investments.
                <!--The communication systems are getting better, allowing us to quickly get organized, make collective decisions and even make crowd investments.-->
                As communities, our capabilities are getting better at solving problems.
                On the other side, we still have big challenges like economic crises, destruction of the environment, income inequality and so on.
                It's a good time to question existing systems, improve them by the new possibilities and try to deal with these global issues.
            </p>
            <p>
                <!--Today we are facing many major issues due to how the economic system works, more specifically how we distribute our resources.-->
                One area that can <!--heavily -->be questioned is how the economic system works and how we distribute our resources.
            </p>
            <hr />
            <!-- New chapter? -->
            <p>
                <!--One of the main purposes of the economic system is to allocate resources to the organizations, ideally with the most benefits to the society.-->
                <!--Economic system is responsible for allocating the resources to the organizations, ideally with the most benefits to the society.-->
                Economic system is responsible for allocating the resources to the organizations, most commonly via the transactions between the organizations and the consumers.
                To get more resources, an organization has to;
                <ul>
                    <li>Maximize the price, therefore the profit</li>
                    <li>Increase the number of sales</li>
                </ul>
                <!--For an organization, the formula to get more resources is simple; lower the costs, increase the sales price and multiply the result with the number of sales.-->
                However, organizations have also other features that can be measured and equally important for the society;
                like responsibilities towards its workers, being environment friendly or even producing healthy products.
            </p>
            <div class="top-buffer">
                <resource-pool-editor resource-pool-id="1"></resource-pool-editor>
            </div>
            <p class="small">
                <i>An unknown profiting object. It gets more resources regardless of how and what sort of product or service it is providing to the society.</i>
            </p>
            <p class="top-buffer">
                <!--Wealth Economy is an attempt to create a system that defines the benefits, measures them, then allocate resources to the organizations,
                based on determining how much these benefits have been satisfied.-->
                <!--Wealth Economy is an attempt to create an open source software that provides a flexible and customizable system that defines the benefits,
                measures them, then allocate resources to the organizations, based on determining how much these benefits have been satisfied.-->
                Wealth Economy is an attempt to create a collabrative, customizable system to allow the society to manage its resources.
                It aims to define the various features of the organizations that important and beneficial for the society,
                measure the overall performance of the organizations on these features and allocate the resources based on the outcome.
            </p>
            <p>
                The following sample can show basic of the system.
                In the sample, there are two organizations that equal to each other in every aspect.
                The amount that will be distributed to the organization in 100 money in total.
                Because they're exactly the same, initially they will be the same amount.
                Without any "index (feature)", both
            </p>
            <p class="top-buffer text-center">
                <i>
                    Update one of the organizations "Employee Satisfaction Index" and see the changes in "Total Income" column.
                </i>
            </p>
            <div class="top-buffer">
                <resource-pool-editor resource-pool-id="2"></resource-pool-editor>
            </div>
            <hr />
            <h3>
                Sector Index: The Big Picture
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <p>
                One of the issues in the current system is that the consumers only interact with the organizations about their regular / daily needs.
            </p>
            <p>
                For example, the consumer could think that education sector is more important for the society than most of the other sectors.
                However, if she is not a student or a parent of a student, she has no direct relation with this sector, therefore cannot support it in a systematic way.
                Instead, she could spend her resources on clothing, cosmetics, entertainment and so on, that might have a less priority.
            </p>
            <p>
                This is one of the reasons why education system is explicitly supported by the states in even if the country is using Free Market economy.
                <!-- Citation needed -->
            </p>
            <p>
                Sector Index gives us the opportunity to see the overall picture and distribute the resources to the sectors by comparing them.
            </p>
        </div>
        <div class="col-md-1">
            <p>&nbsp;</p>
        </div>
        <div class="col-md-4">
            <blockquote class="blockquote-reverse">
                <p>
                    ... and so this leads to the paradox that because the disease (malaria) is only in the poorer countries, it doesn't get much investment.
                    For example, there's more money put into baldness drugs than are put into malaria. Now, baldness, it's a terrible thing.
                    And rich men are afflicted. And so that's why that priority has been set.
                </p>
                <footer>Bill Gates on <cite title="Bill Gates: Mosquitos, malaria and education"><a href="http://www.ted.com/talks/bill_gates_unplugged" target="_blank">Mosquitos, malaria and education</a></cite> (2009)</footer>
            </blockquote>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="top-buffer text-center">
                <i>
                    Which sectors are more important and should have more resources?<br />
                    Please rate the sectors below. <!--The results will appear after you save your ratings.-->
                </i>
            </p>
            <div class="top-buffer">
                <resource-pool-editor resource-pool-id="3"></resource-pool-editor>
            </div>
        </div>
    </div>
</div>
