<div data-ng-controller="chapter6Controller as vm">
    <div class="page-header">
        <h1>#6 Total Cost Index: Profit - Nonprofit Paradox</h1>
    </div>
    <div class="row">
        <div class="col-md-8">
            &nbsp;
        </div>
        <div class="col-md-4">
            <div class="btn-group btn-group-sm pull-right">
                <a href="/content/chapter5" class="btn btn-default">« Previous Chapter</a>
                <a href="/content/chapter7" class="btn btn-default">Next Chapter »</a>
            </div>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-12">
            <p>
                In the current system, since that’s the only way to get more resources, majority of the organizations aim to maximize their profits.
                However, what is beneficial for the organization is exactly the opposite for the society.
                Trying to maximize the profit means that the organization becomes more expensive to society in solving the issues.
            </p>
            <p>
                In the following sample, there are two organizations that produce the same type of product with the same features.
                The only difference is their Sales Price.
            </p>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-6">
            <highchart config="vm.totalCostChartConfig"></highchart>
        </div>
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>Organization</th>
                        <th>Production Cost</th>
                        <th>Sales Price</th>
                        <th>Number of Sales</th>
                        <th>Total Income</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="item in vm.totalCostData.UserOrganizationSet">
                        <td>{{ item.OrganizationName }}</td>
                        <td>{{ item.OrganizationProductionCost }}</td>
                        <td>{{ item.OrganizationSalesPrice }}</td>
                        <td>{{ item.NumberOfSales }}</td>
                        <td>{{ item.TotalProfit }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="btn-group">
                <button data-ng-click="vm.increaseNumberOfSales()" class="btn btn-default">Increase Number of Sales</button>
                <button data-ng-click="vm.decreaseNumberOfSales()" class="btn btn-default">Decrease Number of Sales</button>
                <button data-ng-click="vm.resetNumberOfSales()" class="btn btn-default">Reset Number of Sales</button>
            </div>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-12">
            <p>
                Although organization "Lowlands" solves the issue in a more cost-effective way, since being more expensive to the society means more resources,
                at the end of the race, "High Coast" will always have more resources than its competitor.
            </p>
            <p>
                With this logic, we will keep encouraging the organizations to maximize their profit and allocate limited resources to the organizations that have a less cost on the society.
                This is one of the paradoxes that we are having in the current system.
            </p>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-12">
            <h2>
                New target: Profit minimization
            </h2>
            <p>
                Total Cost Index aims to balance this situation by calculating the difference between the sales prices and allocates the difference to the most cost-effective organizations as a compensation.
            </p>
            <p class="top-buffer text-center">
                <i>
                    Please choose the compensation level for Total Cost Index. Sales Price will be multiplied by this percentage.
                </i>
            </p>
            <div class="input-group col-md-offset-5 col-md-3">
                <input type="text" data-ng-model="vm.totalCostData.ResourcePoolRate" class="form-control" required readonly>
                <div class="input-group-btn">
                    <button type="button" data-ng-click="vm.increaseResourcePoolRate()" class="btn btn-default">+</button>
                    <button type="button" data-ng-click="vm.decreaseResourcePoolRate()" class="btn btn-default">-</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-6">
            <highchart config="vm.totalCost2ChartConfig"></highchart>
        </div>
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Organization
                        </th>
                        <th>
                            Production Cost
                        </th>
                        <th>
                            Sales Price
                        </th>
                        <!--<th>
                            Profit Percentage
                        </th>-->
                        <th>
                            Sales Price incl. CMRP Tax
                        </th>
                        <th>
                            Number of Sales
                        </th>
                        <th>
                            Total Production Cost
                        </th>
                        <th>
                            Total Sales Revenue
                        </th>
                        <th>
                            Total Profit
                        </th>
                        <th>
                            Total CMRP Tax
                        </th>
                        <th>
                            Total Sales Revenue incl. CMRP Tax
                        </th>
                        <!--<th>
                            Total Cost Index Percentage
                        </th>
                        <th>
                            Total Cost Index with Nr of Sales
                        </th>-->
                        <th>
                            <!--Total Cost Index with Nr of Sales Weighted-->
                            Total Cost Index Percentage
                        </th>
                        <th>
                            Total Cost Index Income
                        </th>
                        <th>
                            Total Income (Profit + CMRP)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="item in vm.totalCostData.UserOrganizationSet">
                        <td>
                            {{ item.OrganizationName }}
                        </td>
                        <td>
                            {{ item.OrganizationProductionCost | number:2 }}
                        </td>
                        <td>
                            {{ item.OrganizationSalesPrice | number:2 }}
                        </td>
                        <!--<td>
                            {{ item.OrganizationProfitPercentage | percentage:2 }}
                        </td>-->
                        <td>
                            {{ item.SalesPriceIncludingResourcePoolTax | number:2 }}
                        </td>
                        <td>
                            {{ item.NumberOfSales }}
                        </td>
                        <td>
                            {{ item.TotalProductionCost | number:2 }}
                        </td>
                        <td>
                            {{ item.TotalSalesRevenue | number:2 }}
                        </td>
                        <td>
                            {{ item.TotalProfit | number:2 }}
                        </td>
                        <td>
                            {{ item.TotalResourcePoolTax | number:2 }}
                        </td>
                        <td>
                            {{ item.TotalSalesRevenueIncludingResourcePoolTax | number:2 }}
                        </td>
                        <!--<td>
                            {{ item.OrganizationSalesPriceWeightedAverage | percentage:2 }}
                        </td>
                        <td>
                            {{ item.TotalCostIndexValueWeightedAverageWithNumberOfSales | percentage:2 }}
                        </td>-->
                        <td>
                            {{ item.TotalCostIndexValueWeightedAverageWithNumberOfSalesWeightedAverage | percentage:2 }}
                        </td>
                        <td>
                            {{ item.TotalCostIndexIncome | number:2 }}
                        </td>
                        <td>
                            {{ item.TotalIncome | number:2 }}
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            Total
                        </td>
                        <td>
                            {{ vm.totalCostData.ResourcePoolProductionCost | number:2 }}
                        </td>
                        <td>
                            {{ vm.totalCostData.ResourcePoolSalesPrice | number:2 }}
                        </td>
                        <!--<td>
                            &nbsp;
                        </td>-->
                        <td>
                            {{ vm.totalCostData.SalesPriceIncludingResourcePoolTax | number:2 }}
                        </td>
                        <td>
                            {{ vm.totalCostData.NumberOfSales }}
                        </td>
                        <td>
                            {{ vm.totalCostData.TotalProductionCost | number:2 }}
                        </td>
                        <td>
                            {{ vm.totalCostData.TotalSalesRevenue | number:2 }}
                        </td>
                        <td>
                            {{ vm.totalCostData.TotalProfit | number:2 }}
                        </td>
                        <td>
                            {{ vm.totalCostData.TotalResourcePoolTax | number:2 }}
                        </td>
                        <td>
                            {{ vm.totalCostData.TotalSalesRevenueIncludingResourcePoolTax | number:2 }}
                        </td>
                        <!--<td>
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>-->
                        <td>
                            &nbsp;
                        </td>
                        <td>
                            {{ vm.totalCostData.TotalCostIndexShare | number:2 }}
                        </td>
                        <td>
                            {{ vm.totalCostData.TotalIncome | number:2 }}
                        </td>
                    </tr>
                </tfoot>
            </table>

            <!--<table class="table">
                <thead>
                    <tr>
                        <th>Organization</th>
                        <th>Production Cost</th>
                        <th>Sales Price</th>
                        <th>Sales Price incl. CMRP Tax</th>
                        <th>Number of Sales</th>
                        <th>Total Income</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="item in vm.totalCostData.UserOrganizationSet">
                        <td>{{ item.OrganizationName }}</td>
                        <td>{{ item.OrganizationProductionCost }}</td>
                        <td>{{ item.OrganizationSalesPrice }}</td>
                        <td>{{ item.SalesPriceIncludingResourcePoolTax }}</td>
                        <td>{{ item.NumberOfSales }}</td>
                        <td>{{ item.TotalIncome }}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>&nbsp;</td>
                        <td>{{ vm.totalCostData.ResourcePoolProductionCost }}</td>
                        <td>{{ vm.totalCostData.ResourcePoolSalesPrice }}</td>
                        <td>{{ vm.totalCostData.SalesPriceIncludingResourcePoolTax }}</td>
                        <td>{{ vm.totalCostData.NumberOfSales }}</td>
                        <td>{{ vm.totalCostData.TotalIncome }}</td>
                    </tr>
                </tfoot>
            </table>-->
            <div class="btn-group">
                <button data-ng-click="vm.increaseNumberOfSales()" class="btn btn-default">Increase Number of Sales</button>
                <button data-ng-click="vm.decreaseNumberOfSales()" class="btn btn-default">Decrease Number of Sales</button>
                <button data-ng-click="vm.resetNumberOfSales()" class="btn btn-default">Reset Number of Sales</button>
            </div>
        </div>
    </div>
</div>
