<div class="jumbotron">
    <h1>Wealth Economy</h1>
    <p class="lead">An experimental resource management system that aims to provide a sustainable economic model.</p>
    <!--    <p><a href="/content/overview" class="btn btn-primary">Learn more »</a></p>-->
</div>
<div data-ng-controller="chapter0Controller as vm">
    <div class="page-header">
        <div class="row">
            <div class="col-md-8">
                <h3>
                    <!--<small>Prologue:</small>
                    <br />-->
                    <!--An Interesting Era to Witness-->
                    Introduction
                </h3>
            </div>
            <div class="col-md-4">
                <!--<div class="btn-group btn-group-lg pull-right">
                    <a href="/content/chapter1" class="btn btn-default">&nbsp;»&nbsp;</a>
                </div>-->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>

                <!-- Below block is the older version of the chapter texts - can be removed after completing the new version -->
                <!--
                #1 Primary Goal
                Today we are facing many major issues due to how the economic system works, more specifically how we distribute our resources.

                One of the main purposes of the economic system is to allocate resources, ideally to the organizations with the most benefits. First issue in the system is, that there is no systematic way to measure and reward the benefits, like productiveness, fairness towards employees or even high quality. Naturally the only parameter that is left to measure gets all the focus: the profit. Meaning that, in the current system, the primary goal of the majority of the organizations is to gain more profit, everything else can be secondary.

                #2 Burden of the Consumer
                The second issue is that the rest of the responsibility falls to the consumers. If the consumers could make the right choices in the market and reward the correct organizations, based on their overall benefits, we could have some better results. However, to achieve this task, every individual consumer must be able gather, process and even compare every piece of knowledge of each product and organization in the market.

                We believe that expecting consumers to fulfill this task is an impractical one. Instead, we need to focus on measuring the benefits.

                #3 Wealth Economy: Crowd Managed Resource Distribution
                Wealth Economy is an attempt to create a system that defines the benefits, measures them, then allocate resources to the organizations, based on determining how much these benefits have been satisfied.

                #4 Sector Index: Seeing the Overall
                One of the issues in the current system is that we the consumers only interact with the organizations about our regular / daily needs.

                For example, the consumer could think that education or healthcare sector is more important in the sense of society’s needs. However, if the consumer has no interaction with these sectors, there is no way to allocate resources to them. Instead, the consumer could spend its resources on clothing, cosmetics, electronics, gaming etc., that might have less priority in hierarchy of needs.

                Sector Index aims to give the opportunity to the people to see the overall picture and allow them to manage the resources between the sectors by making comparisons.

                Which sectors are more important and should control more resources?

                Please rate the sectors below. The results will appear after you save your ratings.

                #5 Knowledge Index: Building the Global Knowledge Database
                While creating new products / services, organizations also produce the knowledge of how these products / services could be created.

                Although this is a very unique and important asset to the society, majority of the organizations tend to use restricted licenses / patents / contracts to hide their knowledge. This due to the fact that sharing the knowledge doesn't provide any benefit to them and they don't want to risk their investment.

                In the long term, this 'overprotection' becomes a very counter-productive approach. Collabration between the organizations becomes much more difficult. When the knowledge was not shared, every other organization has to spend a similar time and energy to get to the same level. In other words, we keep reinventing the same knowledge over and over again.

                Rewarding the organizations that offer more flexible rights could reduce the chance of having these issues and let us build a common knowledge.

                Rating the Licenses

                Knowledge Index allows us to compare the licenses side by side and rate them directly. The resources then could be distributed to the organizations based on their license choice.

                Which license offers more benefits and more resources should be allocated to it?
                Please rate the licenses below. The results will appear after you save your ratings.

                #6 Total Cost Index: Profit - Nonprofit Paradox

                In the current system, since that’s the only way to get more resources, majority of the organizations aim to maximize their profits.
                However, what is beneficial for the organization is exactly the opposite for the society.
                Trying to maximize the profit means that the organization becomes more expensive to society in solving the issues.

                In the following sample, there are two organizations that produce the same type of product with the same features.
                The only difference is their Sales Price.

                Although organization "Lowlands" solves the issue in a more cost-effective way, since being more expensive to the society means more resources,
                at the end of the race, "High Coast" will always have more resources than its competitor.

                With this logic, we will keep encouraging the organizations to maximize their profit and allocate limited resources to the organizations that have a less cost on the society.
                This is one of the paradoxes that we are having in the current system.

                New target: Profit minimization

                Total Cost Index aims to balance this situation by calculating the difference between the sales prices
                and allocates the difference to the most cost-effective organizations as a compensation.

                #7 Quality Index

                Although 'Quality' subject has lot of measurable parameters under it, none of them has a direct impact on the income of the organizations. If the organization has a better quality product, this might increase their sales, therefore they can have more resources. However, the connection between high quality - more resources is not that tight.

                Quality Index allows us the rate quality of the products / services as a separate parameter in the system and distributes the resources based on the outcome.

                #8 Employee Satisfaction Index

                This index aims to put more responsibility to the organizations towards to their employees and increase employee satisfcation. The organizations could be rated about various items; complying with safety standards of that sector, having proper insurance coverage.

                Under the right circumstances, even the employee could rate their organization whether they're happy with the organization or working conditions are good enough.

                As a result, the organizations that have a higher rating will get more resources from the system.

                #9 Customer Satisfaction Index

                Does the organization please its customers enough? How good are the previous customers experience with the organization / product? Does the organization have a proper customer services? How long does it take to solve the customer's issues in case of an error?

                Customer Satisfaction Index aims to rate the organization based on these questions and distribute the resources between the organizations according to their performances.

                -->
                <!--The World is changing.-->
                <!--The World is becoming an interesting place to experiment.-->
                Today we see a lot of progress around the World. Our technologies are advancing at an accelareted rate.
                Allowing us to communicate instantly, get quickly organized, make collective decisions and now even make crowd investments.
                <!--The communication systems are getting better, allowing us to quickly get organized, make collective decisions and even make crowd investments.-->
                As communities, our capabilities are getting better at solving problems.
                On the other side, we still have big challenges like economic crises, destruction of the environment, income inequality and so on.
                It's a good time to question existing systems, improve them by the new possibilities and try to deal with these global issues.
            </p>
            <p>
                <!--Today we are facing many major issues due to how the economic system works, more specifically how we distribute our resources.-->
                One area that can <!--heavily -->be questioned is how the economic system works and how we distribute our resources.
            </p>
            <hr />
            <!-- New chapter? -->
            <p>
                <!--One of the main purposes of the economic system is to allocate resources to the organizations, ideally with the most benefits to the society.-->
                <!--Economic system is responsible for allocating the resources to the organizations, ideally with the most benefits to the society.-->
                Economic system is responsible for allocating the resources to the organizations, most commonly via the transactions between the organizations and the consumers.
                To get more resources, an organization has to;
                <ul>
                    <li>Maximize the price, therefore the profit</li>
                    <li>Increase the number of sales</li>
                </ul>
                <!--For an organization, the formula to get more resources is simple; lower the costs, increase the sales price and multiply the result with the number of sales.-->
                However, organizations have also other features that can be measured and equally important for the society;
                like responsibilities towards its workers, being environment friendly or even producing healthy products.
            </p>
            <p>
                <!--Wealth Economy is an attempt to create a system that defines the benefits, measures them, then allocate resources to the organizations,
                based on determining how much these benefits have been satisfied.-->
                <!--Wealth Economy is an attempt to create an open source software that provides a flexible and customizable system that defines the benefits,
                measures them, then allocate resources to the organizations, based on determining how much these benefits have been satisfied.-->
                Wealth Economy is an attempt to create a collabrative, customizable system to allow the society manage its resources.
                It aims to define various parameters for the organizations that are beneficial for the society,
                measure the organizations' overall performance on these parameters and allocate the resources based on the outcome.
            </p>
        </div>
        <div class="col-md-6">
            <div>
                <resource-pool-editor resource-pool-id="vm.introduction_UPOResourcePoolId"></resource-pool-editor>
            </div>
            <p class="top-buffer small">
                <i>An unknown profiting object. It gets more resources regardless of how and what sort of product or service it is providing to the society.</i>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr />
            <h3>
                Basics
            </h3>
            <p>
                In the following sample, there are two organizations that are equal to each other in every aspect, except they use different strategies to motivate their employees.
                In <code>Existing Model</code>, since this difference is ignored, each organization will have the same <code>Total Income</code>.
            </p>
            <p>
                <code>New Model</code> will introduce <code>Employee Satisfaction</code> index.
                By using this index, we can enter which organization's employees satisfied with their organization's strategy
                and based on this new data, organizations' <code>Total Income</code> will now differ.
            </p>
            <!--<p class="bg-info">
                GOLDEN RULE 1: Importance of equal parties except the index!
            </p>-->
            <div class="bs-callout bs-callout-info">
                <h4>Difference between the models</h4>
                <p>
                    <!--TODO this difference is in all samples?-->
                    In <code>New Model</code>, <code>Total Income</code> is 50 percent higher than <code>Existing Model</code>.
                    This difference will be explained in further chapters.
                </p>
            </div>
            <ul>
                <li>
                    In <code>Existing Model</code>, increase organizations' <code>Number of Sales</code> by clicking <code>+</code> button.<br />
                    This will increase <code>Number of Sales</code> in both models to be able compare the results easily.
                </li>
                <li>
                    In <code>New Model</code>, update <code>Employee Satisfaction</code> ratings of the organizations by using <code>+</code> and <code>-</code> buttons next to them
                    and see the difference in <code>Total Income</code> fields in both models.
                </li>
            </ul>
            <!--</div>
            </div>
            <div class="row">
                <div class="col-md-6">-->
            <!--<div>-->
            <resource-pool-editor resource-pool-id="vm.basics_ExistingModelResourcePoolId" chart-height="225"></resource-pool-editor>
            <!--</div>-->
            <!--</div>
            <div class="col-md-6">-->
            <!--<div>-->
            <resource-pool-editor resource-pool-id="vm.basics_NewModelResourcePoolId" chart-height="225"></resource-pool-editor>
            <!--</div>-->
            <!--</div>
            </div>
            <div class="row">
                <div class="col-md-12">-->
            <p class="top-buffer">
                If we could measure <code>Employee Satisfaction</code> of the organizations in real life, we could reward the ones with a higher rating as in this sample.
                Adding indexes to the system sets additional priorities for the organizations, instead of just focusing to profit.
            </p>
            <p>
                Although only four <!-- TODO four or three or five? update this number at the end --> different indexes will be presented in the following chapters,
                as long as they are measurable, more indexes can be added into the system.
                <!--Indexes can have static values or they be rated by the users.-->
            </p>
            <hr />
            <h3>
                Sector Index: The Big Picture
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <p>
                One of the issues in the current system is that the consumers usually only interact with the organizations about their <!--regular /--> daily needs.
            </p>
            <p>
                <!-- Review this paragraph -->
                For example, one might think that education sector is more important for the society than most of the other sectors.
                However, to be able to interact and make transactions with this sector, one should either be a student or a relative of a student.
                Otherwise, <!--even though it is still important,--> it would be out of the routine and cannot be supported in a regular basis.
                <!--However, if she is not a student or a parent of a student, she has no direct relation with this sector, therefore cannot support it in a systematic way.-->
                Instead, one could spend its <!--her?--> income on clothing, cosmetics, entertainment and so on, that might <!--actually--> have a less priority.
            </p>
            <!-- Citation needed -->
            <!--<p>
                This is one of the reasons why education system is explicitly supported by the states in even if the country is using Free Market economy.
            </p>-->
            <p>
                <code>Sector Index</code> could gives us the opportunity to see the overall of the system and let us distribute the resources to the sectors by comparing them.
            </p>
            <p>
                In the next part, you will see six important sectors.
                Every organization under these sectors is trying to solve one of the issues that the society has.
                One is developing video games to entertain, another is trying to educate, one is trying to cure cancer, another is trying to make you look good.
                <!--What we should keep in mind, if the society is more healthier,-->
                We believe, when we could directly choose which sectors have more priority and could affect how to distribute the resources,
                the result would be very different than the current one.
            </p>
        </div>
        <div class="col-md-1">
            <p>&nbsp;</p>
        </div>
        <div class="col-md-4">
            <blockquote class="blockquote-reverse">
                <p>
                    ... and so this leads to the paradox that because the disease (malaria) is only in the poorer countries, it doesn't get much investment.
                    For example, there's more money put into baldness drugs than are put into malaria. Now, baldness, it's a terrible thing.
                    And rich men are afflicted. And so that's why that priority has been set.
                </p>
                <footer>Bill Gates on <cite title="Bill Gates: Mosquitos, malaria and education"><a href="http://www.ted.com/talks/bill_gates_unplugged" target="_blank">Mosquitos, malaria and education</a></cite> (2009)</footer>
            </blockquote>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                <i>
                    Which sectors are more important and should have more resources?
                </i>
            </p>
            <ul>
                <li>
                    By using <code>+</code> button increase <code>Number of Sales</code>, initially all organizations will have same <code>Total Income</code>.
                </li>
                <li>
                    Click on <code>Sector</code> link below and rate each item based on their importance.
                </li>
                <li>
                    By using breadcrumb links, you can navigate back to <code>Organization view</code> to see and play with the results.
                </li>
                <li>
                    Switch <code>Display</code> to <code>All Ratings</code> to see the average of all users' ratings.
                </li>
            </ul>
            <div class="top-buffer">
                <resource-pool-editor resource-pool-id="vm.sectorIndex_SampleResourcePoolId"></resource-pool-editor>
            </div>
            <div class="bs-callout bs-callout-warning">
                <h4>In progress</h4>
                <p>
                    To be able understand the impact of this index, we should be able to compare the results of this system and the actual one.
                    This comparison will be added later.
                </p>
            </div>
            <hr />
            <h3>
                Knowledge Index: Global Knowledge Database
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>
                While creating new products and services, organizations also produce the <i>knowledge</i> of how these products, services could be created.
                All sorts of intellectual property, like discoveries, inventions, formulas; music, literature, and other artistic works; software source codes, and designs could be counted as such knowledge.
            </p>
            <p>
                Although this is a very unique and important asset to the society, majority of the organizations tend to keep this knowledge to themselves by using restricted licenses, patents.
                <!--This due to the fact that sharing the knowledge doesn't provide any benefit to them and they don't want to risk their investment.-->
                <!--</p>
                <p>-->
                In the long term, this 'overprotection' turns out to be a very counter-productive approach, reduces the collabration chance between the organizations.
                When the knowledge has not shared, every other organization has to spend a similar time and energy to get to the same level.
                In other words, we keep reinventing the same knowledge over and over again.
            </p>
            <p>
                <!--Rewarding the organizations that offer more flexible rights could reduce the chance of having these issues and let us build a common knowledge.-->
                Rewarding the organizations that use licenses with more flexible rights could encourage sharing the knowledge and let us build a common knowledge.
            </p>
            <p>
                <code>Knowledge Index</code> allows us to compare the parents, licenses side by side and rate them directly.
                The resources then could be distributed to the organizations based on their license choice.
            </p>
            <p>
                In the next part, you will see two sample licenses that represent the existing situation in general.
                Open source licenses usually give much more right to the users of its product and
                restricted licenses, mostly used for proprietary products, would only allow the product to be used by its owner.
            </p>
            <p>
                <!--On the contrary to this situation, in reality,-->In reality, from income perspective, restricted licenses dominate their market.
                In other words, we reward the organizations that use restricted licenses.
            </p>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <highchart config="vm.knowledgeIndex_OldSystemChartConfig"></highchart>
                </div>
                <div class="col-md-6">
                    <highchart config="vm.knowledgeIndex_NewSystemChartConfig"></highchart>
                </div>
            </div>
            <p class="top-buffer small">
                <i>If we could encourage the organizations to share their knowledge and let them cooperate, we could save massive time & energy and start building a common knowledge.</i>
            </p>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-12">
            <p>
                <i>
                    Which license offers more benefits and more resources should be allocated to it?
                </i>
            </p>
            <ul>
                <li>
                    By using <code>+</code> button increase <code>Number of Sales</code>, initially all organizations will have same <code>Total Income</code>.
                </li>
                <li>
                    Click on <code>License</code> link below and rate each item based on their benefits.
                </li>
                <li>
                    By using breadcrumb links, you can navigate back to <code>Organization view</code> to see and play with the results.
                </li>
                <li>
                    Switch <code>Display</code> to <code>All Ratings</code> to see the average of all users' ratings.
                </li>
            </ul>
            <resource-pool-editor resource-pool-id="vm.knowledgeIndex_SampleResourcePoolId"></resource-pool-editor>
            <hr />
            <p>
                <!--Actual licenses can be more complex than these samples, they may contain technical terms etc.-->
                <!--In order to make it more real, we list some popular software licenses below.
                If you are not familiar with these licenses, you can skip this part.
                Otherwise we encourage you to rate these actual licenses.-->
                To be able to understand the impact of this index in real life, we list some popular software licenses below.
                As an optional step, we would like to encourage you to rate these licenses.
                You can read each license by clicking the name of the license.
            </p>
            <resource-pool-editor resource-pool-id="vm.knowledgeIndex_PopuplarSoftwareLicensesResourcePoolId"></resource-pool-editor>
            <h3>
                Total Cost Index: Profit - Nonprofit Paradox
            </h3>
            <p>
                <!--In the current system, since that’s the only way to get more resources, majority of the organizations aim to maximize their profits.-->
                In the current system, more profit means more resources for the organization.
                Therefore majority of the organizations aim to maximize their profits.
                However, what is beneficial for the organization is exactly the opposite for the society.
                Trying to maximize the profit means that the organization becomes more expensive to society in solving the issues.
            </p>
            <p>
                In the following sample, there are three different prices for the same product.
                Although <code>No Profit</code> case solves the issue in most effective way, because of "more expensive means more resources" rule,
                <code>High Profit</code> case will always have bring more resources to its organization.
            </p>
            <resource-pool-editor resource-pool-id="7"></resource-pool-editor>
            <p>
                With this logic, we allocate limited resources to the organizations that have less cost on the society and keep encouraging the organizations to maximize their profit.
                This is one of the paradoxes of the current system.
            </p>
            <div class="bs-callout bs-callout-warning">
                <!--<h4>Difference between the models</h4>-->
                <p>
                    Our solution for this problem could be high debatable and may not be the right approach, however we believe this issue worth to be discussed, addressed and hopefully solved.
                </p>
            </div>
            <p>
                <!--New target: Profit minimization
                <br />-->
                With Total Cost Index, <code>Sales Price</code> itself used as the organization's rating in terms of "Cost to the Society".
                Different than the previous samples, with this index, high number means low performance and low income from the pool.
            </p>
            <div class="bs-callout bs-callout-info">
                <h4>Resource pool amount</h4>
                <p>
                    Again, in the next sample, the amount in the resource pool is 101% higher than the total sales amount.
                    As mentioned earlier, resource pool amounts will be explained in further chapters.
                </p>
            </div>
            <resource-pool-editor resource-pool-id="8"></resource-pool-editor>
            <p>
                As in this sample, if we could manage to allocate more resources to the lowest cost case, then aiming for the maximum price approach would become obsolete.
                Then what should be expected is that the organizations would compete with each other to have the lowest price on for their products.
            </p>
            <resource-pool-editor resource-pool-id="9"></resource-pool-editor>
            <h3>
                Fair Share Index: Sharers vs. Keepers
            </h3>
            <p>
                Most of the organizations in the market uses the classic capitalistic approach;
                the business owner makes the initial investment while creating the business and earns the right to get all of the income.
                This also means that even after years of work and significant contributions, most of the employees will not get a share from organization's income
                but get a fixed salary. In the long term, since the organization owners keep getting a bigger pie from the income and not sharing it accordingly,
                this type of income distribution becomes one of the root causes of "Income Inequality".
            </p>
            <p>
                Keep in mind that if an organization does otherwise, share its income with its employees in a fair way, in the current system,
                this wouldn't have any financial benefit to that organization. At best, the organization could include this information into their marketing messages;
                "We are a better company, we also share. Buy from us!".
            </p>
            <p>
                Fair Share Index aims to handle this case in a more elegant way. By using this index, we can categorize the organization into "Sharers" vs. "Keepers".
                Again we can decide which type is more important by rating them, then the organizations will get an income from the pool based on their status.
            </p>
            <ul>
                <li>
                    By using <code>+</code> button increase <code>Number of Sales</code>, initially all organizations will have same <code>Total Income</code>.
                </li>
                <li>
                    Click on <code>Fair Share</code> link below and rate each item based on their importance.
                </li>
                <li>
                    By using breadcrumb links, you can navigate back to <code>Organization view</code> to see and play with the results.
                </li>
                <li>
                    Switch <code>Display</code> to <code>All Ratings</code> to see the average of all users' ratings.
                </li>
            </ul>
            <resource-pool-editor resource-pool-id="10"></resource-pool-editor>
            <p style="height:500px">&nbsp;</p>
        </div>
    </div>
</div>
