<div data-ng-controller="">
    <div class="page-header">
        <h1>#3 Wealth Economy: Crowd Managed Resource Distribution</h1>
    </div>
    <div class="row">
        <div class="col-md-8">
            &nbsp;
        </div>
        <div class="col-md-4">
            <div class="btn-group btn-group-sm pull-right">
                <a href="/content/chapter2" class="btn btn-default">« Previous Chapter</a>
                <a href="/content/chapter4" class="btn btn-default">Next Chapter »</a>
            </div>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-12">
            <p>
                Wealth Economy is an attempt to create a system that defines the benefits, measures them, then allocate resources to the organizations,
                based on determining how much these benefits have been satisfied.
            </p>
        </div>
    </div>
</div>
