<div data-ng-controller="chapter10Controller as vm">
    <div class="page-header">
        <h1>#10 All in One</h1>
    </div>
    <div class="row">
        <div class="col-md-8">
            &nbsp;
        </div>
        <div class="col-md-4">
            <div class="btn-group btn-group-sm pull-right">
                <a href="/content/chapter9" class="btn btn-default">« Previous Chapter</a>
            </div>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-12">
            <p>
                In our new management tool, we have now multiple parameters that allows us to rate the organizations.
                Some of these parameters are more important and some less. Next, their importance between each other needs to be determined.
            </p>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-12">
            <p class="top-buffer text-center">
                <i>
                    Which parameters are more important and should have more resources?<br />
                    Please rate them below. The average results will appear after you save your changes.
                </i>
            </p>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-6">
            <highchart config="vm.indexChartConfig"></highchart>
        </div>
        <div class="col-md-6">
            <form name="editForm" class="form-horizontal">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Index</th>
                            <th>Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="item in vm.indexChartData">
                            <td>{{ item.name }}</td>
                            <td>
                                <div class="input-group col-md-8">
                                    <input type="text" data-ng-model="item.y" class="form-control " required readonly>
                                    <div class="input-group-btn">
                                        <button type="button" data-ng-click="vm.increase($index)" class="btn btn-default">+</button>
                                        <button type="button" data-ng-click="vm.decrease($index)" class="btn btn-default">-</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-group row">
                    <div class="col-md-offset-4 col-md-4">
                        <button data-ng-click="vm.saveChanges()" data-ng-disabled="editForm.$invalid || vm.isSaveDisabled()" class="btn btn-primary">
                            Save
                        </button>
                        <button data-ng-click="vm.resetChanges()" class="btn btn-danger">
                            Reset
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row top-buffer" data-ng-show="vm.displayResults">
        <div class="col-md-12">
            <h2>
                Results
            </h2>
        </div>
        <div class="col-md-6">
            <highchart config="vm.indexResultsChartConfig"></highchart>
        </div>
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>Index</th>
                        <th>Rating Count</th>
                        <th>Average Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Sector Index</td>
                        <td>{{ vm.allInOneResourcePool.RatingCount }}</td>
                        <td>{{ vm.allInOneResourcePool.SectorIndexRatingAverage | number:2 }}</td>
                    </tr>
                    <tr>
                        <td>Knowledge Index</td>
                        <td>{{ vm.allInOneResourcePool.RatingCount }}</td>
                        <td>{{ vm.allInOneResourcePool.KnowledgeIndexRatingAverage | number:2 }}</td>
                    </tr>
                    <tr>
                        <td>Total Cost Index</td>
                        <td>{{ vm.allInOneResourcePool.RatingCount }}</td>
                        <td>{{ vm.allInOneResourcePool.TotalCostIndexRatingAverage | number:2 }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
