<div data-ng-controller="chapter6Controller as vm">
    <div class="page-header">
        <h1>#6 Total Cost Index: Profit - Nonprofit Paradox</h1>
    </div>
    <div class="row">
        <div class="col-md-8">
            &nbsp;
        </div>
        <div class="col-md-4">
            <div class="btn-group btn-group-lg pull-right">
                <a href="/content/chapter5" class="btn btn-default">&nbsp;«&nbsp;</a>
                <a href="/content/chapter7" class="btn btn-default">&nbsp;»&nbsp;</a>
            </div>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-12">
            <p>
                In the current system, since that’s the only way to get more resources, majority of the organizations aim to maximize their profits.
                However, what is beneficial for the organization is exactly the opposite for the society.
                Trying to maximize the profit means that the organization becomes more expensive to society in solving the issues.
            </p>
            <p>
                In the following sample, there are two organizations that produce the same type of product with the same features.
                The only difference is their Sales Price.
            </p>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-6">
            <highchart config="vm.chartConfig"></highchart>
        </div>
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>Organization</th>
                        <th>Sales Price</th>
                        <th>Number of Sales</th>
                        <th>Total Income</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="elementItem in vm.userResourcePool.MainElement.ElementItemSet">
                        <td>{{ elementItem.Name }}</td>
                        <td>{{ elementItem.ResourcePoolValue | number: 2 }}</td>
                        <td>{{ elementItem.MultiplierValue | number: 2 }}</td>
                        <td>{{ elementItem.TotalResourcePoolValue }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="btn-group">
                <button data-ng-click="vm.increaseMultiplier()" class="btn btn-default">Increase Number of Sales</button>
                <button data-ng-click="vm.decreaseMultiplier()" class="btn btn-default">Decrease Number of Sales</button>
                <button data-ng-click="vm.resetMultiplier()" class="btn btn-default">Reset Number of Sales</button>
            </div>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-12">
            <p>
                Although organization "Lowlands" solves the issue in a more cost-effective way, since being more expensive to the society means more resources,
                at the end of the race, "High Coast" will always have more resources than its competitor.
            </p>
            <p>
                With this logic, we will keep encouraging the organizations to maximize their profit and allocate limited resources to the organizations that have a less cost on the society.
                This is one of the paradoxes that we are having in the current system.
            </p>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-12">
            <h2>
                New target: Profit minimization
            </h2>
            <p>
                Total Cost Index aims to balance this situation by calculating the difference between the sales prices and allocates the difference to the most cost-effective organizations as a compensation.
            </p>
            <!--<p class="top-buffer text-center">
                <i>
                    Please choose the compensation level for Total Cost Index. Sales Price will be multiplied by this percentage.
                </i>
            </p>
            <div class="input-group col-md-offset-5 col-md-3">
                <input type="text" data-ng-model="vm.totalCostData.ResourcePoolRate" class="form-control" required readonly>
                <div class="input-group-btn">
                    <button type="button" data-ng-click="vm.increaseResourcePoolRate()" class="btn btn-default">+</button>
                    <button type="button" data-ng-click="vm.decreaseResourcePoolRate()" class="btn btn-default">-</button>
                </div>
            </div>-->
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-6">
            <highchart config="vm.resultsChartConfig"></highchart>
        </div>
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>Organization</th>
                        <th>Sales Price</th>
                        <th>Number of Sales</th>
                        <th>Total Income</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="elementItem in vm.userResourcePool.MainElement.ElementItemSet">
                        <td>{{ elementItem.Name }}</td>
                        <td>{{ elementItem.ResourcePoolValue | number: 2 }}</td>
                        <td>{{ elementItem.MultiplierValue | number: 2 }}</td>
                        <td>{{ elementItem.TotalIncome | number:2 }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="btn-group">
                <button data-ng-click="vm.increaseMultiplier()" class="btn btn-default">Increase Number of Sales</button>
                <button data-ng-click="vm.decreaseMultiplier()" class="btn btn-default">Decrease Number of Sales</button>
                <button data-ng-click="vm.resetMultiplier()" class="btn btn-default">Reset Number of Sales</button>
            </div>
        </div>

        
    </div>
    
</div>
