<div class="row">
    <div class="col-md-12">
        <h3>
            Conclusion
        </h3>
        <p>
            The main idea of this project is to show what are the possibilities, to give an idea what we could do to solve our issues.
            Rest of the details can be debatable.
        </p>
        <p>
            If we see economic systems as a way of resource distribution, it is clear that the existing system can be improved dramatically.
            <!--If we see economic systems as a way of resource allocation, it is clear that existing system is not a very productive one and there is a big room for improvement.-->
            Good news is that the technology is getting better at an accelerated speed, so our chances of addressing and creating new solutions.
            <!--Good news is that we already have the most of the components, like tax collection and tax return systems and the technology is getting better at an accelerated speed.
            Only missing piece is the direct input of the society.-->
        </p>
        <h4>Impossible Task</h4>
        <p>
            It should be mentioned that we already have two important tools to improve the current system;
            <ol>
                <li>Competition between the organizations</li>
                <li>Increasing the awareness of the consumers</li>
            </ol>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p>
            Both serves for the benefit of the society and even if we don't develop applications like this one, these tools will be improving the system in the long run;
            we will have better organizations in time and the consumers will have the knowledge to choose the right ones.
            However this still would be unnecessarily slow process. If an organization has a clear advantage for the society, the system could be modified in such a way that it could support this benefit automatically.
            <!-- we don't have to wait for every consumer to understand its value.-->
        </p>
        <p>
            The main issue in the current system is that it leaves the whole responsibility to the consumers;
            every consumer must know every detail about the products and their organizations before making any single purchase, therefore allocating the resources.
            The amount of information has be collected and processed by each consumer is simply massive and expecting consumers to fulfill this task is an impractical one.
        </p>
        <p>
            In today's system, this knowledge gap is closed by marketing; the consumers make their choices not based on facts but based on advertisements, packages and colors.
            Marketing is a powerful tool and it will always be there but controlling the consumers and shaping the results only based on feelings is not enough for a good resource management.
        </p>
        <p>
            We believe, the society needs complex systems to be able to manage its resources, in order to become healthier and more productive.
            Creating such system is a long shot and this project is just a baby step. There are many areas to be improved, functionality, performance, security and so on.
            It will take time to create a solid application. However, developing a such system could play a vital role on solving some of society's long term issues.
            <!--It might take couple of years to create a solid application. However, developing such systems might play an important role on solving some of society's long term issues.-->
        </p>
        <p>
            Therefore we are on this side of the river. Would you like to join?
            <!--Therefore we are on this journey now, wanna get on board?-->
        </p>
        <!--<div class="row top-buffer">
            <div class="col-md-5 col-md-offset-1">
                <img src="/Content/images/OldSystem.png" alt="Old System" />
            </div>
            <div class="col-md-6">
                <img src="/Content/images/NewSystem.png" alt="New System" />
            </div>
        </div>-->
        <!--<div class="row top-buffer">
            <div class="col-md-12">
                <p class="small text-center">
                    <i>Present vs. New</i>
                </p>
            </div>
        </div>-->
    </div>
    <div class="col-md-6">
        <img src="/Content/images/PresentvsNew.png" alt="Present vs. New" class="center-block" />
    </div>
</div>
<!--
differences
. short term - big picture
. dependency - independency
. profits - benefits
. owner oriented, contribution oriented

additional indexes?

other contributions, share, develop, test

let the user review its ratings; sector, license, popular license, fair share, indexes pie, cmrp rate

comparison with the existing system - chart

summary
. why is the current situation
. it only focuses to profit, because there is nothing else
. can be improved (corrected) by creating an additional resource allocation system that
-->
