<div class="row">
    <div class="col-md-12">
        <h3>
            Contribute, Encourage, Invest, Be the Boss!
        </h3>
        <p>
            Today we know, to be able to reach the full potential of a system, anyone should be allowed to contribute to it and limitations should be minimum.
        </p>
        <p>
            Wealth Economy is an open source project, both as source code and content. We would like to work on making the data open as well in the future.
            Copy it, use it, make a contribution, create your own version, publish it and if possible build a business model around it and make money out of it.
            You don't have to ask any permissions from us.
        </p>
        <p>
            On the other side, keep in mind, in order to make this model sustainable, we need to able to survive as well.
            In case you like our approach, our ideas and / or can make any money out of our software, support us, invest in us, so we can deliver newer and better versions.
        </p>
        <a class="btn btn-primary" href="https://github.com/forCrowd/WealthEconomy" role="button" target="_blank">View on GitHub</a>
    </div>
</div>
