<div class="row">
    <div class="col-md-12">
        <h3>
            Fair Share Index: Sharers vs. Keepers
        </h3>
        <p>
            Most of the organizations in the market uses the classic capitalistic approach;
            the business owner makes the initial investment while creating the business and sets the rules in favor of himself, most importantly this lets him to get all the profit.
            Meaning that even after years of work and significant contributions, most of the employees will not get a share from organization's income
            but get a fixed salary. In the long term, since the organization owners keep getting a bigger pie from the income and not sharing it accordingly,
            this type of income distribution becomes one of the root causes of "Income Inequality".
        </p>
        <p>
            If organizations could try to measure all types of contributions, including the owner's, then share the income based on this result,
            it would have a significant difference for the society, the difference between the organization owners and the workers would be much more small.
        </p>
        <p>
            There are already many organizations that give some share to their employees, especially startups,
            in order to motivate them. However, it's still very limited and this approach could be used in a much wider sense and be encouraged in a systematic way.
            <!--It's important to note that if an organization tries this approach, share the income with its employees in a fair way, in the current system,
            this wouldn't have any financial benefit to that organization. At best, the organization could try to communicate with its consumer about this detail,
            which may or may not increase their sales number.-->
        </p>
        <p>
            By using <code>Fair Share Index</code>, we can categorize the organizations into "Sharers" vs. "Keepers".
            Again we can decide which side is more important by rating the options, then the organizations will get an income from the pool based on their approach.
        </p>
        <ul>
            <li>
                By using <code>+</code> button increase <code>Number of Sales</code>, initially all organizations will have same <code>Total Income</code>.
            </li>
            <li>
                Click on <code>Fair Share</code> link below and rate both items based on their importance.
            </li>
            <li>
                By using breadcrumb links, you can navigate back to <code>Organization view</code> to see and play with the results.
            </li>
            <li>
                Switch <code>Display</code> to <code>All Ratings</code> to see the average of all users' ratings.
            </li>
        </ul>
        <resource-pool-editor resource-pool-id="10"></resource-pool-editor>
    </div>
</div>
