<div class="row">
    <div class="col-md-12">
        <h3>
            Feeback
        </h3>
        <p>
            Your feedbacks are priceless, please don't hesitate to share.
            Let us know which parts are easy to understand and which ones we have to be improved.
            Economy is not our domain of expertise, we approach it like as resource management system and by asking 'How could improve it?'.
            Is there anything that we miss, are there any obvious issues? Let us know.
        </p>
    </div>
</div>
