<div class="jumbotron">
    <h1>Wealth Economy</h1>
    <p class="lead">An experimental resource management system that aims to provide a more sustainable and productive economic model</p>
    <!--    <p><a href="/content/overview" class="btn btn-primary">Learn more »</a></p>-->
</div>
<div class="row">
    <div class="col-md-12">
        <div data-ng-include="'/App/views/content/introduction.html'"></div>
        <hr />
        <div data-ng-include="'/App/views/content/basics.html'"></div>
        <hr />
        <div data-ng-include="'/App/views/content/sectorIndexSample.html'"></div>
        <hr />
        <div data-ng-include="'/App/views/content/knowledgeIndexSample.html'"></div>
        <hr />
        <div data-ng-include="'/App/views/content/totalCostIndexSample.html'"></div>
        <hr />
        <div data-ng-include="'/App/views/content/fairShareIndexSample.html'"></div>
        <hr />
        <div data-ng-include="'/App/views/content/indexesPieSample.html'"></div>
        <hr />
        <div data-ng-include="'/App/views/content/resourcePoolRateSample.html'"></div>
        <!--<hr />
        <div data-ng-include="'/App/views/content/allInOneSample.html'"></div>-->
        <hr />
        <div data-ng-include="'/App/views/content/conclusion.html'"></div>
        <hr />
        <div data-ng-include="'/App/views/content/closingNotes.html'"></div>
        <!--<hr />
        <div data-ng-include="'/App/views/content/feedback.html'"></div>-->
        <!--<hr />
        <p style="height:250px">&nbsp;</p>-->
    </div>
</div>
<!-- Below block is the older version of the chapter texts - can be removed after completing the new version -->
<!--
#1 Primary Goal
Today we are facing many major issues due to how the economic system works, more specifically how we distribute our resources.

One of the main purposes of the economic system is to allocate resources, ideally to the organizations with the most benefits. First issue in the system is, that there is no systematic way to measure and reward the benefits, like productiveness, fairness towards employees or even high quality. Naturally the only parameter that is left to measure gets all the focus: the profit. Meaning that, in the current system, the primary goal of the majority of the organizations is to gain more profit, everything else can be secondary.

#2 Burden of the Consumer
The second issue is that the rest of the responsibility falls to the consumers. If the consumers could make the right choices in the market and reward the correct organizations, based on their overall benefits, we could have some better results. However, to achieve this task, every individual consumer must be able gather, process and even compare every piece of knowledge of each product and organization in the market.

We believe that expecting consumers to fulfill this task is an impractical one. Instead, we need to focus on measuring the benefits.

#3 Wealth Economy: Crowd Managed Resource Distribution
Wealth Economy is an attempt to create a system that defines the benefits, measures them, then allocate resources to the organizations, based on determining how much these benefits have been satisfied.

#4 Sector Index: Seeing the Overall
One of the issues in the current system is that we the consumers only interact with the organizations about our regular / daily needs.

For example, the consumer could think that education or healthcare sector is more important in the sense of society’s needs. However, if the consumer has no interaction with these sectors, there is no way to allocate resources to them. Instead, the consumer could spend its resources on clothing, cosmetics, electronics, gaming etc., that might have less priority in hierarchy of needs.

Sector Index aims to give the opportunity to the people to see the overall picture and allow them to manage the resources between the sectors by making comparisons.

Which sectors are more important and should control more resources?

Please rate the sectors below. The results will appear after you save your ratings.

#5 Knowledge Index: Building the Global Knowledge Database
While creating new products / services, organizations also produce the knowledge of how these products / services could be created.

Although this is a very unique and important asset to the society, majority of the organizations tend to use restricted licenses / patents / contracts to hide their knowledge. This due to the fact that sharing the knowledge doesn't provide any benefit to them and they don't want to risk their investment.

In the long term, this 'overprotection' becomes a very counter-productive approach. Collaboration between the organizations becomes much more difficult. When the knowledge was not shared, every other organization has to spend a similar time and energy to get to the same level. In other words, we keep reinventing the same knowledge over and over again.

Rewarding the organizations that offer more flexible rights could reduce the chance of having these issues and let us build a common knowledge.

Rating the Licenses

Knowledge Index allows us to compare the licenses side by side and rate them directly. The resources then could be distributed to the organizations based on their license choice.

Which license offers more benefits and more resources should be allocated to it?
Please rate the licenses below. The results will appear after you save your ratings.

#6 Total Cost Index: Profit - Nonprofit Paradox

In the current system, since that’s the only way to get more resources, majority of the organizations aim to maximize their profits.
However, what is beneficial for the organization is exactly the opposite for the society.
Trying to maximize the profit means that the organization becomes more expensive to society in solving the issues.

In the following sample, there are two organizations that produce the same type of product with the same features.
The only difference is their Sales Price.

Although organization "Lowlands" solves the issue in a more cost-effective way, since being more expensive to the society means more resources,
at the end of the race, "High Coast" will always have more resources than its competitor.

With this logic, we will keep encouraging the organizations to maximize their profit and allocate limited resources to the organizations that have a less cost on the society.
This is one of the paradoxes that we are having in the current system.

New target: Profit minimization

Total Cost Index aims to balance this situation by calculating the difference between the sales prices
and allocates the difference to the most cost-effective organizations as a compensation.

#7 Quality Index

Although 'Quality' subject has lot of measurable parameters under it, none of them has a direct impact on the income of the organizations. If the organization has a better quality product, this might increase their sales, therefore they can have more resources. However, the connection between high quality - more resources is not that tight.

Quality Index allows us the rate quality of the products / services as a separate parameter in the system and distributes the resources based on the outcome.

#8 Employee Satisfaction Index

This index aims to put more responsibility to the organizations towards to their employees and increase employee satisfcation. The organizations could be rated about various items; complying with safety standards of that sector, having proper insurance coverage.

Under the right circumstances, even the employee could rate their organization whether they're happy with the organization or working conditions are good enough.

As a result, the organizations that have a higher rating will get more resources from the system.

#9 Customer Satisfaction Index

Does the organization please its customers enough? How good are the previous customers experience with the organization / product? Does the organization have a proper customer services? How long does it take to solve the customer's issues in case of an error?

Customer Satisfaction Index aims to rate the organization based on these questions and distribute the resources between the organizations according to their performances.

-->
