<div class="row">
    <div class="col-md-12">
        <h3>
            Indexes Pie
        </h3>
        <p>
            In the previous samples there was one index per pool.
            However in most cases, there will be multiple indexes within a CMRP.
            <!--Unlike the previous samples, in most cases there will be multiple indexes per pool.-->
            Since not every index is equally important, their share within the pool needs to be determined as well.
        </p>
        <p>
            <code>Indexes</code> view allows us to compare and rate indexes within each other.
        </p>
        <ul>
            <li>
                By using <code>+</code> button increase <code>Number of Sales</code>, initially all organizations will have same <code>Total Income</code>.
            </li>
            <li>
                Click on <code>Index Income</code> link and switch to <code>Indexes</code> view to see the details of each index.
            </li>
            <li>
                Rate each index based on their importance by using <code>+</code> and <code>-</code> buttons at the bottom of them.
            </li>
            <li>
                Click to <code>Index Income</code> link again to switch back to the previous view.
            </li>
            <li>
                Switch <code>Display</code> to <code>All Ratings</code> to see the average of all users' ratings.
            </li>
        </ul>
        <resource-pool-editor resource-pool-id="11"></resource-pool-editor>
    </div>
</div>
