<div data-ng-controller="introductionController as vm">
    <div class="row">
        <div class="col-md-12">
            <!--<p class="lead">An experimental resource management system that aims to provide a more sustainable and productive economic model</p>-->
            <h3>
                <!--<small>Prologue:</small>
                <br />-->
                <!--An Interesting Era to Witness-->
                Introduction
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="bs-callout bs-callout-info">
                <h4>
                    Can we distribute our monetary resources to organizations by measuring their benefits to the society?
                </h4>
            </div>
            <!--<div class="bs-callout bs-callout-info">
                <h4>Question</h4>
                <p>
                    What would happen if we could distribute our monetary resources to the organizations by measuring their benefits to the society?
                </p>
            </div>
            <div class="bs-callout bs-callout-info">
                <h4>
                    What would be the result if we could distribute our monetary resources to organizations by measuring their benefits to the society?
                </h4>
            </div>-->
            <!--<p>
                (The world is changing.)
                (The world is becoming an interesting place to experiment.)
                Today we see a lot of progress around the world. Our technologies are advancing at an accelerated rate.
                Allowing us to communicate instantly, get quickly organized, make collective decisions and now even make crowd investments.
                (The communication systems are getting better, allowing us to quickly get organized, make collective decisions and even make crowd investments.)
                As communities, our capabilities are getting better at solving problems.
                On the other side, we still have big challenges like economic crises, destruction of the environment, income inequality and so on.
                It's a good time to question existing systems, improve them by the new possibilities and try to deal with these global issues.
            </p>-->
            <!--<p>
                (Today we are facing many major issues due to how the economic system works, more specifically how we distribute our resources.)
                One area that can (heavily) be questioned is how the economic system works and how we distribute our resources.
            </p>
            <hr />-->
            <!-- New chapter? -->
            <!--<blockquote>
                <p>
                    What would happen if we could distribute our monetary resources to the organizations by measuring their benefits to the society?
                </p>
            </blockquote>-->
            <!--<blockquote>
                <p>
                    <strong>What would happen in we could distribute our monetary resources to the organizations by measuring their benefits to the society?</strong>
                </p>
            </blockquote>
            <div class="well well-lg">
                <strong>What would happen in we could distribute our monetary resources to the organizations by measuring their benefits to the society?</strong>
            </div>-->
            <!--<p>
                --One of the main purposes of the economic system is to allocate resources to the organizations, ideally with the most benefits to the society.--
                --Economic system is responsible for allocating the resources to the organizations, ideally with the most benefits to the society.--
                An economic system is responsible for allocating the resources to the organizations, most commonly via the transactions between the consumers and the organizations.
                In today's system, in order to get more resources, an organization has to;
                <ul>
                    <li>Maximize the price of its products, services, therefore the profit</li>
                    <li>Increase the number of sales</li>
                </ul>
                --For an organization, the formula to get more resources is simple; lower the costs, increase the sales price and multiply the result with the number of sales.--
                However, organizations have also other features that can be measured and equally important for the society;
                like responsibilities towards its workers, being environment friendly or even producing healthy products.
            </p>-->
            <p>
                <!--Wealth Economy is an attempt to create a system that defines the benefits, measures them, then allocate resources to the organizations,
                based on determining how much these benefits have been satisfied.-->
                <!--Wealth Economy is an attempt to create an open source software that provides a flexible and customizable system that defines the benefits,
                measures them, then allocate resources to the organizations, based on determining how much these benefits have been satisfied.-->
                <!--Wealth Economy is an attempt to create a collaborative, customizable system to allow the society manage its resources.
                It aims to define various parameters for the organizations that are beneficial for the society,
                measure the organizations' overall performance on these parameters and allocate the resources based on the outcome.-->
                Wealth Economy is an attempt to create a collaborative, customizable system to allow the society manage its monetary resources.
                It aims to improve the system by empowering the organizations that are more beneficial to the society, using the following steps;
                <ol>
                    <li>
                        <strong>CMRP (Crowd Managed Resource Pool):</strong>
                        Creates a pool that holds certain monetary amount to be distributed.
                    </li>
                    <li>
                        <strong>Indexes:</strong>
                        Defines various parameters, categories for the organizations that seek benefit to the society.
                    </li>
                    <li>
                        <strong>Ratings:</strong>
                        Allows either citizens' ratings or previously measured values to be entered on these 'Indexes' for each organization.
                    </li>
                    <li>
                        <strong>Distribution:</strong>
                        Calculates organizations' overall performance on these 'Indexes' and distribute 'CMRP Amount' to the organizations based on the outcome.
                    </li>
                </ol>
                <!--<ul>
                    <li>Defines <strong>Crowd Managed Resource Pool (CMRP)</strong> that holds certain monetary amount to be distributed.</li>
                    <li>Defines various parameters, categories that seek benefit to the society called <strong>Indexes</strong>.</li>
                    <li>Allows either citizens' ratings or previously measured values to be entered on these <strong>Indexes</strong> for each organization.</li>
                    <li>Calculates organizations' overall performance on these <strong>Indexes</strong> and allocate <strong>CMRP Amount</strong> to the organizations based on the outcome.</li>
                </ul>-->
            </p>
            <div class="bs-callout bs-callout-warning" data-ng-if="!vm.isAuthenticated">
                <h4>Save your changes?</h4>
                <p>
                    You can interact with the samples anonymously.<br />
                    In order to save your changes you can <a href="/account/register">register</a> for free.<br />
                    If you have an existing account, please <a href="/account/login">login</a> first.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <resource-pool-editor data-config="vm.upoConfig"></resource-pool-editor>
            <p class="small">
                <i>An unknown profiting object. It gets more resources regardless of how and what sort of product or service it is providing to the society.</i>
            </p>
        </div>
    </div>
</div>
