<div data-ng-controller="introductionController as vm">
    <div class="row">
        <div class="col-md-12">
            <h3>
                <!--<small>Prologue:</small>
                <br />-->
                <!--An Interesting Era to Witness-->
                Introduction
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <!--<p>
                (The world is changing.)
                (The world is becoming an interesting place to experiment.)
                Today we see a lot of progress around the world. Our technologies are advancing at an accelareted rate.
                Allowing us to communicate instantly, get quickly organized, make collective decisions and now even make crowd investments.
                (The communication systems are getting better, allowing us to quickly get organized, make collective decisions and even make crowd investments.)
                As communities, our capabilities are getting better at solving problems.
                On the other side, we still have big challenges like economic crises, destruction of the environment, income inequality and so on.
                It's a good time to question existing systems, improve them by the new possibilities and try to deal with these global issues.
            </p>-->
            <!--<p>
                (Today we are facing many major issues due to how the economic system works, more specifically how we distribute our resources.)
                One area that can (heavily) be questioned is how the economic system works and how we distribute our resources.
            </p>
            <hr />-->
            <!-- New chapter? -->
            <p>
                <!--One of the main purposes of the economic system is to allocate resources to the organizations, ideally with the most benefits to the society.-->
                <!--Economic system is responsible for allocating the resources to the organizations, ideally with the most benefits to the society.-->
                An economic system is responsible for allocating the resources to the organizations, most commonly via the transactions between the organizations and the consumers.
                In today's system, in order to get more resources, an organization has to;
                <ul>
                    <li>Maximize the price of its products, services, therefore the profit</li>
                    <li>Increase the number of sales</li>
                </ul>
                <!--For an organization, the formula to get more resources is simple; lower the costs, increase the sales price and multiply the result with the number of sales.-->
                However, organizations have also other features that can be measured and equally important for the society;
                like responsibilities towards its workers, being environment friendly or even producing healthy products.
            </p>
            <p>
                <!--Wealth Economy is an attempt to create a system that defines the benefits, measures them, then allocate resources to the organizations,
                based on determining how much these benefits have been satisfied.-->
                <!--Wealth Economy is an attempt to create an open source software that provides a flexible and customizable system that defines the benefits,
                measures them, then allocate resources to the organizations, based on determining how much these benefits have been satisfied.-->
                <!--Wealth Economy is an attempt to create a collaborative, customizable system to allow the society manage its resources.
                It aims to define various parameters for the organizations that are beneficial for the society,
                measure the organizations' overall performance on these parameters and allocate the resources based on the outcome.-->
                Wealth Economy is an attempt to create a collaborative, customizable system to allow the society manage its monetary resources.
                It aims to improve the system by encouraging the organizations that are more beneficial to the society, using the following steps;
                <ul>
                    <li>Creates <code>Crowd Managed Resource Pool (CMRP)</code> that holds certain amount to be distributed</li>
                    <li>Define <code>Indexes</code> for the organizations which are various parameters, categories that seek benefit to the society</li>
                    <li>Measure the organizations' overall performance on these parameters and allocate <code>CMRP Amount</code> based on the outcome</li>
                </ul>
            </p>
        </div>
        <div class="col-md-6">
            <div>
                <resource-pool-editor resource-pool-id="vm.introduction_UPOResourcePoolId"></resource-pool-editor>
            </div>
            <p class="small">
                <i>An unknown profiting object. It gets more resources regardless of how and what sort of product or service it is providing to the society.</i>
            </p>
        </div>
    </div>
</div>
