<div data-ng-controller="knowledgeIndexSampleController as vm">
    <div class="row">
        <div class="col-md-12">
            <h3>
                Knowledge Index: Global Knowledge Database
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>
                While creating new products and services, organizations also produce the <i>knowledge</i> of how these products, services could be created.
                All sorts of intellectual property, like discoveries, inventions, formulas; music, literature, and other artistic works; software source codes, and designs could be counted as such knowledge.
            </p>
            <p>
                Although this is a very unique and important asset to the society, majority of the organizations tend to keep this knowledge to themselves by using restricted licenses, patents.
                <!--This due to the fact that sharing the knowledge doesn't provide any benefit to them and they don't want to risk their investment.-->
                <!--</p>
                <p>-->
                In the long term, this 'overprotection' turns out to be a very counter-productive approach, reduces the collaboration chance between the organizations.
                When the knowledge has not shared, every other organization has to spend a similar time and energy to get to the same level.
                In other words, we keep reinventing the same knowledge over and over again.
            </p>
            <p>
                <!--Rewarding the organizations that offer more flexible rights could reduce the chance of having these issues and let us build a common knowledge.-->
                Rewarding the organizations that use licenses with more flexible rights could encourage sharing the knowledge and let us build a common knowledge.
            </p>
            <p>
                <strong>Knowledge Index</strong> allows us to compare the patents, licenses side by side and rate them directly.
                The resources then could be distributed to the organizations based on their license choice.
            </p>
            <p>
                In the next part, you will see two sample software licenses that represent the existing situation in general.
                Open source licenses usually give much more right to the users of its product and
                restricted licenses, mostly used for proprietary products, would only allow the product to be used by its owner.
            </p>
            <p>
                <!--On the contrary to this situation, in reality,-->
                In reality, from income perspective, restricted licenses dominate their market.
                Meaning that we reward the organizations that keep their knowledge to themselves.
            </p>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <highchart data-config="vm.oldModelChartConfig"></highchart>
                </div>
                <div class="col-md-6">
                    <highchart data-config="vm.newModelChartConfig"></highchart>
                </div>
            </div>
            <p class="small">
                <i>If we could encourage the organizations to share their knowledge and let them cooperate, we would save massive time & energy and start building a common knowledge.</i>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!--<p>
                <i>
                    Which license offers more benefits and more resources should be allocated to it?
                </i>
            </p>-->
            <ul>
                <li>
                    By using <code>+</code> button increase <strong>Number of Sales</strong>, initially all organizations will have same <strong>Total Income</strong>.
                </li>
                <li>
                    Click on <code>License</code> link below and rate each item based on their benefits.
                </li>
                <li>
                    Go back to initial view to see the difference in Total Income.
                </li>
            </ul>
            <resource-pool-editor resource-pool-id="vm.sampleResourcePoolId"></resource-pool-editor>
            <!--<hr />-->
            <p>
                <!--Actual licenses can be more complex than these samples, they may contain technical terms etc.-->
                <!--In order to make it more real, we list some popular software licenses below.
                If you are not familiar with these licenses, you can skip this part.
                Otherwise we encourage you to rate these actual licenses.-->
                <!--To be able to understand the impact of this index in real life, we list some popular software licenses below.-->
                In the sample below, we list some popular software licenses.
                As an optional step, we would like to encourage you to rate these licenses.
                This would allow us to see which licenses we think are more beneficial and let us simulate the impact of 'Knowledge Index' in real life.
                You can read the details of each license by clicking its name.
            </p>
            <resource-pool-editor resource-pool-id="vm.popuplarSoftwareLicensesResourcePoolId"></resource-pool-editor>
        </div>
    </div>
</div>
