<div data-ng-controller="introductionController as vm">
    <div class="row">
        <div class="col-md-12">
            <h3>
                Prologue
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="bs-callout bs-callout-info">
                <h4>
                    Imagine that you have one billion dollars!<br />
                    And you can spend it on various issues, how would you spend it?
                </h4>
            </div>
            <!--<div class="bs-callout bs-callout-info">
                <h4>Question</h4>
                <p>
                    How would you spend if you had one billion dollars?
                </p>
            </div>
            <div class="bs-callout bs-callout-info">
                <h4>Question</h4>
                <p>
                    Imagine that you have one billion dollars!<br />
                    How would you spend it?
                </p>
            </div>
            <div class="bs-callout bs-callout-info">
                <h4>
                    How would you spend if you had one billion dollars?
                </h4>
            </div>-->
            <resource-pool-editor resource-pool-id="14"></resource-pool-editor>
            <p>
                We believe, if the society could directly control its resources, the results would be pretty different. Agree?
            </p>
        </div>
    </div>
</div>
