<div data-ng-controller="resourcePoolRateSampleController as vm">
    <div class="row">
        <div class="col-md-12">
            <h3>
                CMRP Rate: The Fountain
            </h3>
            <p>
                <code>CMRP Rate</code> determines the size of the pool, if it gets bigger, the amount that we can control through the pool gets bigger as well.
                In the previous samples, in order to make the difference apparent, this number was fixed to 10% of the total spendings in the system.
            </p>
            <p>
                At this stage, since the application will be used a simulation tool, we can use and test any number.
            </p>
            <p>
                In practice, how these resource pools and their amounts will be realized may vary and probably be determined by the idea that how much they can make a difference.
                In any case, even if the amount to be distributed would be very small, affecting the market, publicly rewarding the organizations that are beneficial for the society, could have an important positive effect.
                <!--making a resource distribution by our collective decision would be an important experience and give a message to the organizations.-->
            </p>
            <!--<p>
                <code>CMRP Rate</code> determines the size of the pool, if it gets bigger, the amount that we can control through the pool gets bigger as well.
                In the previous samples, this number was fixed and it was 10% of the total spendings in the system.
                However, like other variables in the system, this rate can also be decided collectively.
            </p>-->
            <!--<p>
                To be able to make a difference in the system, we're allocating the money that has been in the pool.
                In the previous samples, this amount was always fixed and it was 50% higher than <code>Total Sales Price</code>.
                In reality, this money has to come from somewhere.
            </p>
            <p>
                Ideal way of creating a <code>Resource Pool</code> would be to collect some portion of the money from every transaction,
                like value added tax. However, as seen already, with two important exceptions;
                <ol>
                    <li>
                        We the people will control how this pool will be distributed
                    </li>
                    <li>
                        Every organization in the system can get a share from this pie based on their performance
                    </li>
                </ol>
            </p>
            <p>
                As like other parameters of the system, this rate could also be decided collectively.
            </p>-->
            <!--<ul>
                <li>
                    By using <code>+</code> button increase <code>Number of Sales</code>.
                </li>
                <li>
                    Increase or decrease <code>CMRP Rate</code> by using <code>+</code> and <code>-</code> buttons next to it, which will update <code>CMRP Amount</code> to be distributed.
                </li>
            </ul>
            <resource-pool-editor resource-pool-id="vm.resourcePoolRate_SampleResourcePoolId"></resource-pool-editor>-->
        </div>
    </div>
</div>
