<div data-ng-controller="sectorIndexSampleController as vm">
    <div class="row">
        <div class="col-md-12">
            <h3>
                Sector Index: The Big Picture
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <p>
                Every organization in the system is trying to solve one of the society's issues; providing food, shelter, healthcare, clothing, education, entertainment and so on.
                However, their importance for the society differ.
                <!-- The question is which issues are more important than the others?-->
            </p>
            <p>
                One of the issues in the current system is that the consumers usually interact with only the organizations about their daily needs
                and allocate the resources based on this interaction, instead of their importance.
            </p>
            <p>
                For example, one might think that education sector is more important for the society than most of the other sectors.
                On the other side, in order to make transactions with a sector, you should become a consumer of that sector, in this case either be a student or a relative of a student.
                If not, it would be out of the routine spending and cannot be supported in a systematic way.

                <!--In this case, you need to explicitly support that sector by making donations etc. which is not a regular approach.-->
                <!--Otherwise, (even though it is still important,) it would be out of the routine and cannot be supported in a regular basis.-->
                <!--However, if she is not a student or a parent of a student, she has no direct relation with this sector, therefore cannot support it in a systematic way.-->
                <!--Instead, one could spend its (her?) income on clothing, cosmetics, entertainment, electronics and so on, that might (actually) have a less priority.-->
            </p>
            <!-- Citation needed -->
            <!--<p>
                This is one of the reasons why education system is explicitly supported by the states in even if the country is using Free Market economy.
            </p>-->
            <p>
                <!--Every organization is trying to solve one of the issues that the society has, the question is which issues are more important than the others?-->
                <!--One is developing video games to entertain, another is trying to educate, one is trying to cure cancer, another is trying to make you look good.-->
                <!--What we should keep in mind, if the society is more healthier,-->
                We believe, if we could directly set each sectors' priorities by comparing them side by side and distribute the resources based on this comparison,
                the final picture would be quite different than the current one.
            </p>
            <p>
                <code>Sector Index</code> aims to give us the opportunity to see the overall of the system and let us distribute the resources to the organizations based on the importance of their work.
            </p>
            <p>
                To make the reasoning behind this new approach clear; if the society could solve its fundamental issues, it would be getting much easier to focus on higher level ones.
                Solve hunger first, solve poverty first, so we will have more people that can contribute to entertainment or produce better cosmetic products.
                <!--It is clear that as long as the society can solve its fundamental issues, it will be getting much easier to focus on higher level issues.-->
            </p>
            <p>
                In the next sample, you will see four important sectors. Which sectors are more important and should have more resources?
            </p>
        </div>
        <div class="col-md-1">
            <p>&nbsp;</p>
        </div>
        <div class="col-md-4">
            <blockquote class="blockquote-reverse">
                <p>
                    ... And so this leads to the paradox that because the disease (malaria) is only in the poorer countries, it doesn't get much investment.
                    For example, there's more money put into baldness drugs than are put into malaria. Now, baldness, it's a terrible thing.
                    And rich men are afflicted. And so that's why that priority has been set.
                </p>
                <footer>Bill Gates on <cite title="Bill Gates: Mosquitos, malaria and education"><a href="http://go.ted.com/bEub" target="_blank">Mosquitos, malaria and education</a></cite> (2009)</footer>
            </blockquote>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!--<p>
                <i>
                    In the next sample, you will see four important sectors. Which sectors are more important and should have more resources?
                </i>
            </p>-->
            <ul>
                <li>
                    By using <code>+</code> button increase <code>Number of Sales</code>, initially all organizations will have same <code>Total Income</code>.
                </li>
                <li>
                    Click on <code>Sector</code> link below and rate each item based on their importance.
                </li>
                <li>
                    By using breadcrumb links, you can navigate back to initial <code>Organization</code> view to see the difference in <code>Total Income</code>.
                </li>
            </ul>
            <resource-pool-editor resource-pool-id="vm.sectorIndex_SampleResourcePoolId"></resource-pool-editor>
            <p>
                We believe, this sample is enough as it is to demonstrate the idea how we could control and allocate our resources.
                However, in order to understand the real impact of this index, we should be able to compare the results of this sample with the actual one.
                We would like to add this comparison in the future.
            </p>
            <p>
                Alternatively, we could directly list the issues as well, instead of sectors; providing clean water, shelter, ending hunger, poverty, violence etc.
                The system allows to create such variations, as long as we can create proper categorization for the organizations.
                <!--Again, in order to show the impact, it would be preferable to create a categorization that we could compare with the real world results.-->
            </p>
            <!--<div class="bs-callout bs-callout-warning">
                <h4>In progress</h4>
                <p>
                    In order to understand the impact of this index, we should be able to compare the results of this system and the actual one,
                    which we would like to add in the future.
                </p>
            </div>-->
        </div>
    </div>
</div>
