<div data-ng-controller="sectorIndexSampleController as vm">
    <div class="row">
        <div class="col-md-12">
            <h3>
                Sector Index: The Big Picture
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <p>
                One of the issues in the current system is that the consumers usually only interact with the organizations about their <!--regular /--> daily needs.
            </p>
            <p>
                <!-- Review this paragraph -->
                For example, one might think that education sector is more important for the society than most of the other sectors.
                However, to be able to interact and make transactions with this sector, one should either be a student or a relative of a student.
                Otherwise, <!--even though it is still important,--> it would be out of the routine and cannot be supported in a regular basis.
                <!--However, if she is not a student or a parent of a student, she has no direct relation with this sector, therefore cannot support it in a systematic way.-->
                Instead, one could spend its <!--her?--> income on clothing, cosmetics, entertainment and so on, that might <!--actually--> have a less priority.
            </p>
            <!-- Citation needed -->
            <!--<p>
                This is one of the reasons why education system is explicitly supported by the states in even if the country is using Free Market economy.
            </p>-->
            <p>
                <code>Sector Index</code> could gives us the opportunity to see the overall of the system and let us distribute the resources to the sectors by comparing them.
            </p>
            <p>
                In the next part, you will see six important sectors.
                Every organization under these sectors is trying to solve one of the issues that the society has.
                One is developing video games to entertain, another is trying to educate, one is trying to cure cancer, another is trying to make you look good.
                <!--What we should keep in mind, if the society is more healthier,-->
                We believe, when we could directly choose which sectors have more priority and could affect how to distribute the resources,
                the result would be very different than the current one.
            </p>
        </div>
        <div class="col-md-1">
            <p>&nbsp;</p>
        </div>
        <div class="col-md-4">
            <blockquote class="blockquote-reverse">
                <p>
                    ... and so this leads to the paradox that because the disease (malaria) is only in the poorer countries, it doesn't get much investment.
                    For example, there's more money put into baldness drugs than are put into malaria. Now, baldness, it's a terrible thing.
                    And rich men are afflicted. And so that's why that priority has been set.
                </p>
                <footer>Bill Gates on <cite title="Bill Gates: Mosquitos, malaria and education"><a href="http://www.ted.com/talks/bill_gates_unplugged" target="_blank">Mosquitos, malaria and education</a></cite> (2009)</footer>
            </blockquote>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                <i>
                    Which sectors are more important and should have more resources?
                </i>
            </p>
            <ul>
                <li>
                    By using <code>+</code> button increase <code>Number of Sales</code>, initially all organizations will have same <code>Total Income</code>.
                </li>
                <li>
                    Click on <code>Sector</code> link below and rate each item based on their importance.
                </li>
                <li>
                    By using breadcrumb links, you can navigate back to <code>Organization view</code> to see and play with the results.
                </li>
                <li>
                    Switch <code>Display</code> to <code>All Ratings</code> to see the average of all users' ratings.
                </li>
            </ul>
            <div>
                <resource-pool-editor resource-pool-id="vm.sectorIndex_SampleResourcePoolId"></resource-pool-editor>
            </div>
            <div class="bs-callout bs-callout-warning">
                <h4>In progress</h4>
                <p>
                    To be able understand the impact of this index, we should be able to compare the results of this system and the actual one.
                    This comparison will be added later.
                </p>
            </div>
        </div>
    </div>
</div>
