<div class="row">
    <div class="col-md-12">
        <h3>
            <!--Summary-->
            Conclusion
        </h3>
        <p>
            For a while, Wealth Economy will be used as a simulation platform, it will allow anyone to create experimental pools with various indexes,
            in order to understand which indexes can be more useful.
            </p>
        <p>
            When it gets mature enough, it could be used in couple ways, like;
        </p>
        <!--<h4>
            Possible Implementations
        </h4>-->
        <ol>
            <li>
                <p>
                    Reference System: If enough data and ratings will be collected, first and easiest way to benefit from the outcome would be to use it just as a reference database, without having and allocating any money.
                    Before making any purchase, consumers could visit this website and see which product or organization has the highest score for certain indexes and then make a decision.
                    It would be close to 'User Reviews' of online shopping websites. Easiest way to use but least affective.
                </p>
            </li>
            <li>
                <p>
                    Concerned Citizens: In order to make an actual change, there has to be an amount in our pools and allocate them based on the outcome.
                    One way of doing this is to reach and convince enough citizens that this way of allocating resources could shape and improve how our organizations work, therefore the entire system.
                    Once concerned citizens start donating enough money to the system, it can start distributing this amount to the organizations within the system based on their performance.
                </p>
            </li>
            <li>
                <p>
                    Full Package: In the long term, Wealth Economy aims to be an alternative resource allocation system for the society. In order to see its full effect, it must be implemented at nations' level.
                    CMRP Amount should be collected from each transaction, like a value added tax. As it should be clear by now, CMRP Rate in this system represents that tax rate, how much we should collect and allocate tax for this purpose.
                </p>
                <p>
                    It must be noted that there are two important differences than the classic tax system;
                    <ul>
                        <li>The amount will be controlled by the people, will be allocated by our choices.</li>
                        <li>And it will be distributed back to the same organizations again. Every organization has a chance get an income from this pool, only this time they will get an amount based on their benefits to the society.</li>
                    </ul>
                </p>
                <!--<p>
                    Creating a national fund by the governments could also be an option, Horizon 2020 program in Europe for example.
                    However, the money eventually comes from the people and usually by collecting taxes.
                </p>-->
                <p>
                    This level of implementation requires a political power, huge numbers of people need to be convinced for the benefits of using such system.
                    On the other hand, if we could directly control some our resources, its impact would that huge as well; most difficult way to use but most effective.
                    <!--Today we are trying to patch the system for various issues over and over, we are rallying, protesting and usually keep spending our energy only to solve a single problem.
                    Instead, we could do one big push to implement such system and at least we could directly control some of our resources collectively and this could let us solve multiple issues at the same time.-->
                </p>
                <!--<p>
                    In the long term, when enough people will be convinced in a certain country, they could create pressure on their political parties to adopt this system and implement it when they get elected.
                </p>-->
            </li>
        </ol>
        <!--<h4>
            Summary
        </h4>-->
        <p>
            And to make some parts clear:
        </p>
        <ul>
            <li>
                In order to make it simple, in the samples, collecting money for the pool and distributing is happening at the same.
                In reality, the amount could collected at one time and then allocated to the organizations later on, for instance monthly or yearly.
            </li>
            <li>
                The system doesn't have to be used with multiple indexes, it could start with only one index.
                We believe most important and easy to use one is Knowledge Index.
                It is just a matter of collecting the ratings for various licences and then it will already tell us how much we could have make a difference.
            </li>
            <li>
                For Full Package case, the system initally could have been implemented with a very small and fixed CMRP Rate.
                If everything goes well, the rate could be incremented slowly over time.
                In other words, the system could be controlled in a mixed way; some parts by the governments, others by the citizens.
            </li>
        </ul>
        <p>
            The main idea of this project is to show what are the possibilities, to give an idea what we could do to solve our issues.
            Most of the details that we mention are debatable.
        </p>
        <p>
            If we see economic systems as a way of resource allocation, it is clear that existing system is not a very productive one and there is a big room for improvement.
            Good news is that we already have the most of the components, like tax collection and tax return systems and the technology is getting better at an accelareted speed.
            Only missing piece is the direct input of the society.
        </p>
        <p>
            It is important to mention that we have two important tools to improve the current system; competition between the organizations and increasing the awareness of the consumers.
            Both serves for the benefit of the society and even if don't develop a system like this one, we can expect that these tools will make the system better in the long run;
            we will have better and better organizations in time and the consumers will have the knowledge to choose the right ones.
            However this still would be unnecessarily slow process. If an organization has a clear advantage for the society, then why wait for every consumer to understand its value.
        </p>
        <p>
            And that's main issue in the current system, it leaves the whole responsibility to the consumers;
            every consumer must know every detail about the products and their organizations before making any single purchase, therefore allocating the resources.
            The amount of information has be collected and processed by each consumer is simply massive and expecting consumers to fulfill this task is an impractical one.
        </p>
        <p>
            In today's system, this knowledge gap is closed by marketing, the consumers make their choices not based on facts but based on advertisements, packages and colors.
            The power of marketing, branding is important and it will always be there but controlling the consumers and shaping the results only based on feelings is not enough for a good resource management.
        </p>
        <p>
            We believe, in the long term, the society needs complex systems to be able to manage its resources, in order to become healthier and more productive.
            Creating such system is a long shot and this project is just a baby step. There are many areas to be improved, functionality, performance, security and so on.
            It might take years to create a solid application. However, no doubt that as a society we need these type of applications and we are happy to invest in it.
        </p>

        <!--

        differences
        . short term - big picture
        . dependency - independency
        . profits - benefits
        . owner oriented, contribution oriented

        additional indexes?

        other contributions, share, develop, test

        let the user review its ratings; sector, license, popular license, fair share, indexes pie, cmrp rate

        comparison with the existing system - chart

        summary
        . why is the current situation
        . it only focuses to profit, because there is nothing else
        . can be improved (corrected) by creating an additional resource allocation system that

            -->
    </div>
</div>
