<div data-ng-controller="introductionController as vm">
    <div class="row">
        <div class="col-md-12">
            <h3>
                Teaser
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="bs-callout bs-callout-info">
                <h4>Question</h4>
                <p>
                    How would you spend if you had 1 billion dollars?
                </p>
            </div>
            <resource-pool-editor resource-pool-id="14"></resource-pool-editor>
        </div>
    </div>
</div>
