<div>
    <div class="row">
        <div class="col-md-12">
            <h3>
                Total Cost Index: Profit - Nonprofit Paradox
            </h3>
            <p>
                <!--In the current system, since that’s the only way to get more resources, majority of the organizations aim to maximize their profits.-->
                In the current system, more profit means more resources for the organization.
                Therefore majority of the organizations aim to maximize their profits.
                However, what is beneficial for the organization is exactly the opposite for the society.
                Trying to maximize the profit means that the organization becomes more expensive to society in solving the issues.
            </p>
            <p>
                In the following sample, there are three different prices for the same product.
                Although <code>No Profit</code> case solves the issue in most effective way, because of "more expensive means more resources" rule,
                <code>High Profit</code> case will always have bring more resources to its organization.
            </p>
            <resource-pool-editor resource-pool-id="7"></resource-pool-editor>
            <p>
                With this logic, we allocate limited resources to the organizations that have less cost on the society and keep encouraging the organizations to maximize their profit.
                This is one of the paradoxes of the current system.
            </p>
            <div class="bs-callout bs-callout-warning">
                <!--<h4>Difference between the models</h4>-->
                <p>
                    Our solution for this problem could be high debatable and may not be the right approach, however we believe this issue worth to be discussed, addressed and hopefully solved.
                </p>
            </div>
            <p>
                <!--New target: Profit minimization
                <br />-->
                With Total Cost Index, <code>Sales Price</code> itself used as the organization's rating in terms of "Cost to the Society".
                Different than the previous samples, with this index, high number means low performance and low income from the pool.
            </p>
            <resource-pool-editor resource-pool-id="8"></resource-pool-editor>
            <p>
                As in this sample, if we could manage to allocate more resources to the lowest cost case, then aiming for the maximum price approach would become obsolete.
                Then what should be expected is that the organizations would compete with each other to have the lowest price on for their products.
            </p>
            <resource-pool-editor resource-pool-id="9"></resource-pool-editor>
        </div>
    </div>
</div>
